<h1>
    App Store
    <% if controller_name == "template_data" and action_name == "show" and current_user.is_admin_from_pykih %>
        <span style="float: right;">
            <%= link_to '+ Add a field',  new_site_template_datum_template_field_path(@site, @template_datum), data: {turbolinks: false}, class: "btn btn-dark btn-sm" %>
        </span>
    <% end %>
</h1>
<div class="protograph-page-tabs">
    <div class="<%= (controller_name == 'template_data' or controller_name == 'template_fields') ? "single-tab active-tab" : "single-tab" %>">
        <%= link_to "Schemas", site_template_data_path(@site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= (controller_name == 'template_cards') ? "single-tab active-tab" : "single-tab" %>">
        <%= link_to "Cards", site_template_cards_path(@site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= (controller_name == 'template_pages') ? "single-tab active-tab" : "single-tab" %>">
        <%= link_to "Pages", site_template_pages_path(@site),"data-turbolinks" => "false" %>
    </div>
</div>
<br/>