<%= render partial: "template_cards/header" %>
<div class="sixteen wide column">
  <table class="ui very basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Status</th>
      <th>Publish count</th>
      <th>Updated by</th>
    </tr>
  </thead>

  <tbody>
    <% @template_data.each do |template_datum| %>
      <tr>
        <td><%= link_to template_datum.name, account_template_datum_path(@account, template_datum) %></td>
        <td><%= template_datum.version %></td>
        <td><%= template_datum.status %></td>
        <td><%= template_datum.publish_count %></td>
        <td><%= template_datum.updated_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>