<%= render partial: "template_cards/header" %>
<div class="nine wide column">
  <table class="ui very basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="collapsing">Status</th>
      <th class="collapsing">Publish count</th>
      <th class="collapsing">Updated by</th>
      <th class="collapsing">Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @template_data.each do |template_datum| %>
      <tr>
        <td>
          <%= link_to show_lock(template_datum.is_public, template_datum.name).html_safe, account_template_datum_path(@account, template_datum) %>
        </td>
        <td><%= template_datum.status %></td>
        <td><%= template_datum.publish_count %></td>
        <td><%= template_datum.updator.name %></td>
        <td><%= time_ago_in_words(template_datum.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="ui dividing right rail" style="min-height: 339px;"></div>

</div>