<div class="ten wide column">
  <%= render partial: "templates/header_index" %>
  <table class="ui very basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="collapsing">Status</th>
      <th class="collapsing">Publish count</th>
      <th class="collapsing">Updated by</th>
      <th class="collapsing">Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @template_data.each do |template_datum| %>
      <tr>
        <td>
          <%= link_to show_lock(template_datum.is_public, template_datum.name).html_safe, account_template_datum_path(@account, template_datum) %>
        </td>
        <td><%= template_datum.status %></td>
        <td><%= template_datum.publish_count %></td>
        <td><%= template_datum.updator.name %></td>
        <td><%= time_ago_in_words(template_datum.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui dividing right rail" style="min-height: 339px;"></div>
</div>
<div class="six wide column" style="padding-left: 90px;">
    <%= link_to "New Datacast Template", new_account_template_datum_path(@account), class: "ui  button" %>
    <br/>
    <br/>
    <p><span style="background-color: rgb(255, 253, 177);">Every piece of content (without the styling)</span> in this system is called as a <b>Datacasts</b> and is available over an API end point in JSON format.</p>
    <p>You can define a JSON Schema for each type of data example stock price, paragraph, image, image and a quote, tweet, etc.</p>
    <p>Once you have defined a JSON Schema, you can programatically push content into the system which will show up as pre-prepared cards for your journalists to use.</p>
    <p></p>
</div>