<%= render partial: "template_data/header" %>
<div style="margin-left: auto; margin-right: auto; width: 540px;">
    <% @template_datums.each do |template_data| %>
        <h3>
            <%= link_to template_data.name, site_template_datum_path(@site, template_data) %>
            <span class="thin" style="font-size: 14px;">
                by <%= template_data.site.name %>
            </span>
        </h3>
        <p style="text-align: right; color: gray;">
            <span class="hint" style="float: left;">
                Updated <%= time_ago_in_words template_data.updated_at %> ago <%= (" by " + template_data.updator.name) if template_data.updator.present? %>
            </span>
            <%= template_data.template_fields.count %> fields
            &#8231;
            <%= template_data.template_cards.count %> cards
            &#8231;
            <%= template_data.view_casts.count %> times
        </p>
        <hr/>
    <% end %>
</div>