<%= render partial: "template_cards/header" %>
<div class="sixteen wide column">
    <%= simple_form_for([@account, @template_datum]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
            <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
            <%= f.input :name %>
            <%= f.input :description %>
        </div>
        <div class="form-actions">
            <br/>
            <%= f.button :submit, "Add", class: "ui button" %>
        </div>
    <% end %>
</div>