<div class="sixteen wide column">
  <div class="ui breadcrumb">
      <a class="section"><%= link_to "Template Data", account_template_data_path(@account) %></a>
  </div>
  <h2 class="ui header" style="margin-top: 15px;">
      <%= @template_datum.name %>
      <a class="ui grey circular label"><%= @template_datum.publish_count %></a>
      <div style="float: right;">
          <p style="font-size: 0.7em; margin-bottom: 0px;"><%= @template_datum.status %></p>
          <p style="font-size: 0.5em; font-weight: 400; color: gray; margin-bottom: 10px;">
            Last updated by
            <%= @template_datum.updator.name %>
            <%= time_ago_in_words @template_datum.updated_at %>
          </p>
      </div>
  </h2>
  <div class="ui divider"></div>
</div>
<div class="eleven wide column">
    <div class="ui dividing right rail"></div>
    <h4 style="margin-bottom: 20px;">
        Associated Card Templates
        <div style="float: right; font-size: 0.8em;">
            <%= link_to "New card template", new_account_template_datum_template_card_path(@account, @template_datum) %>
        </div>
    </h4>
    <%= render partial: "template_cards/index" %>
</div>
<div class="five wide column">
    <div  style="margin-left: 40px;">
        <h4>What is this Template Data about?</h4>
        <%= @template_datum.description %>
        <br/>
        <h4>Send data via APIs</h4>
        <p>
          https://api.pub.pykih.com/apis/v1/datacasts?token=
          <%= @template_datum.api_key %>
        </p>
        <br/>
        <div style="float: right;""><%= link_to 'Destroy', [@account, @template_datum], method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red basic button" %></div>
    </div>
</div>