<div class="eleven wide column">
    <div class="ui breadcrumb">
      <a class="section"><%= link_to "Datacast Schemas", account_template_data_path(@account) %></a>
    </div>
    <h1 class="ui header" style="margin-top: 15px;">
        <%= show_lock(@template_datum.is_public, @template_datum.name + " - "+@template_datum.version.to_s).html_safe %>
    </h1>
    <div class="ui divider"></div>
    <p style="font-weight: 400; color: gray; margin-bottom: 10px;">
      Last updated by
      <%= @template_datum.updator.name %>
      <%= time_ago_in_words @template_datum.updated_at %>
    </p>
    <br/>
    <div class="ui message">
      <%= simple_form_for [@account, @template_datum] do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
            <%= f.input :elevator_pitch, label: "Describe the schema in 140 characters." %>
            <%= f.input :description, as: :text, label: "Describe in detail.", input_html: {rows: 3} %>
            <%= f.input :change_log, as: :text, label: "What changed in this version?", placeholder: "Change log", input_html: {rows: 3} %>
        </div>
        <div class="form-actions">
            <br/>
            <%= f.button :submit, "Update", class: "ui button" %>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="ui message">
      <div class="ui segment">
        <h4>Upload mandatory code</h4>
        <%= render partial: "services_attachables/form", locals: {services_attachable: @json_schema, label: "Schema JSON", hint: "Schema definition file"} %>
        <div class="ui divider"></div>
        <%= render partial: "services_attachables/form", locals: {services_attachable: @sample_json, label: "Sample JSON", hint: "Sample data file"} %>
      </div>
    </div>
    <br/>
    <div class="ui message">
      <h4>
        Associated card templates
        <div style="float: right; font-size: 0.8em; font-weight: 400;">
            <%= link_to "New card template", new_account_template_datum_template_card_path(@account, @template_datum) %>
        </div>
      </h4>
      <br/>
      <%= render partial: "template_cards/index" %>
    </div>
    <br/>
    <div class="ui message">
      <h4>
        Push data via APIs
      </h4>
      <table class="ui very basic table">
        <tr>
            <td>My API Key</td>
            <td>:</td>
            <td><%= current_user.access_token %></td>
        </tr>
        <tr>
            <td>Datacast Token:</td>
            <td>:</td>
            <td><%= @template_datum.api_key %></td>
        </tr>
      </table>
    </div>
    <div class="ui dividing right rail" style="min-height: 339px;"></div>
</div>
<div class="five wide column">
    <p style="margin-bottom: 0px;"><%= @template_datum.status %></p>
    <a class="ui grey circular label"><%= @template_datum.publish_count %></a>
    <div  style="margin-left: 40px;">
        <div style="float: right;""><%= link_to 'Destroy', [@account, @template_datum], method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red basic button" %></div>
    </div>
    <% if @template_datum.is_public %>
      <%= link_to "Make private", flip_public_private_account_template_datum_path(@account, @template_datum) %>
    <% elsif @template_datum.status == "Published" or 1 == 1 %>
      <%= link_to "Make public", flip_public_private_account_template_datum_path(@account, @template_datum) %>
    <% end %>

    <% if next_status(@template_datum.status).present? %>
        <%= link_to ("Change status to " + next_status(@template_datum.status)), move_to_next_status_account_template_datum_path(@account, @template_datum) %>
    <% end %>
</div>

<div class="column"%>
  <div class="ui left fixed vertical pointing menu" style="background: #F8F8F9;">
    <% @siblings.each do |s| %>
        <a class="<%= s.id == @template_datum.id ? "active item" : "item" %>" href=<%= account_template_datum_path(@account, s) %>>
            <h4 class="ui header">
              <%= s.version.to_s %>
              <div class="ui label"><%= s.status %>
                <% if s.is_current_version %>
                  <i class="checkmark icon" style="color: green;"></i>
                <% end %>
              </div>
            </h4>
        </a>
    <% end %>
    <%= link_to "Create Bug Version", create_version_account_template_datum_path(@account, @template_datum, version_genre: "bug"), class: "item" %>
    <%= link_to "Create Major Version", create_version_account_template_datum_path(@account, @template_datum, version_genre: "major"), class: "item" %>
    <%= link_to "Create Minor Version", create_version_account_template_datum_path(@account, @template_datum, version_genre: "minor"), class: "item" %>

  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function (e) {
    $("input:file").on('change', function() {
      $(this).parents('form').submit();
    });

    $(".browse_file").on('click', function(event){
      $(this).siblings('div.file').children("input").click();
      event.preventDefault();
    });
  });
</script>