<div class="sixteen wide column">
  <div class="ui breadcrumb">
    <a class="section"><%= link_to "App Store", account_template_data_path(@account) %></a>
  </div>
  <h1 class="ui header" style="margin-top: 0px;">
    <%= @template.name + " - "+@template.version.to_s %>
  </h1>
</div>
<div class="eleven wide column">
  <%= link_to "New card template", new_account_template_datum_template_card_path(@account, @template_datum) %>
      <%= render partial: "template_cards/index" %>
</div>
<div class="five wide column" style="padding-left: 90px;">
  <div class="ui list">
    <% @siblings.each do |s| %>
    <div class="item" style="margin-left: 20px; ">
      <div class="content">
        <div class="header">
          <%= link_to([@account, s], style:  s.id == @template.id ? "color: orange !important;" : ""  ) do %>
            <%= s.version.to_s %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<%= javascript_include_tag "app/file_uploader.js" %>