<%= render partial: "developers/header" %>
<h1><%= @template_datum.name %></h1>
<br/>
<table class="table ">
<tbody>
<% @template_fields.each do |template_field| %>
  <tr>

    <td>
        <% if template_field.data_type == "short_text" %>  
            <%= image_tag "svg/short_text.svg", width: "24px" %>
        <% elsif template_field.data_type == "long_text" %>
            <%= image_tag "svg/long_text.svg", width: "24px" %>
        <% elsif template_field.data_type == "integer" %>
            <%= image_tag "svg/number.svg", width: "24px" %>
        <% elsif template_field.data_type == "decimal" %>
            <%= image_tag "svg/number.svg", width: "24px" %>
        <% elsif template_field.data_type == "boolean" %>
            <%= image_tag "svg/boolean.svg", width: "24px" %>
        <% elsif template_field.data_type == "temporal" %>
            <%= image_tag "svg/datetime.svg", width: "24px" %>
        <% else %>
            <%= image_tag "object.svg", width: "24px" %>
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to edit_site_template_datum_template_field_path(@site, @template_datum, template_field) do %>
            <% if template_field.is_required %>
                *
            <% end %>
            <%= template_field.name %>
        <% end %>
        <span class="gray small">(<%= template_field.key_name %>)</span>
    </td>
    <td><%= %w(short_text long_text).include?(template_field.data_type) ? (template_field.data_type == "short_text" ? "Short Text" : "Long Text") : template_field.data_type.capitalize %></td>
    
    <!--<td><%= template_field.inclusion_list.present? ? template_field.inclusion_list.join(",") : "" %></td>
    <td><%= template_field.inclusion_list_names.join(",") if template_field.inclusion_list_names.present? %></td>
    <td><%= %w(integer decimal).include?(template_field.data_type) ? template_field.min : "NA" %></td>
    <td><%= %w(integer decimal).include?(template_field.data_type) ? template_field.max : "NA" %></td>
    <td><%= %w(integer decimal).include?(template_field.data_type) ? template_field.multiple_of : "NA" %></td>
    <td><%= %w(integer decimal).include?(template_field.data_type) ? (template_field.ex_min ? "Yes" : "No") : "NA" %></td>
    <td><%= %w(integer decimal).include?(template_field.data_type) ? (template_field.ex_max ? "Yes" : "No") : "NA" %></td>

    <td><%= %w(short_text temporal).include?(template_field.data_type) ? template_field.format : "NA" %></td>
    <td><%= %w(short_text long_text temporal).include?(template_field.data_type) ? template_field.format_regex : "NA" %></td>
    <td><%= %w(short_text long_text temporal).include?(template_field.data_type) ? template_field.length_minimum : "NA" %></td>
    <td><%= %w(short_text long_text temporal).include?(template_field.data_type) ? template_field.length_maximum : "NA" %></td>-->

    <td><%= link_to "X", site_template_datum_template_field_path(@site, @template_datum, template_field), method: :delete %></td>
  </tr>
 <% end %>
</tbody>
</table>

<div style="margin-left: auto; margin-right: auto; width: 540px; font-size: 12px;" class="json-schema-container">
  <%= image_tag("glyphicons-511-duplicate.png", class: "copy-to-clipboard") %>
  <pre id="json-schema"><%= @json_schema %></pre>
</div>

<script>
  $(document).ready(function(){
    function copyToClipboard(containerid) {
      if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select().createTextRange();
        document.execCommand("copy");
      } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
        document.execCommand("copy");
        alert("text copied");
      }
    }

    $(".copy-to-clipboard").click(function () {
      copyToClipboard("json-schema");
    });
  });
</script>

<style>
  .json-schema-container{
    background-color: #F2F2F2;
  }

  .copy-to-clipboard{
    float: right;
    width: 15px;
    display: block;
  }
</style>