<!DOCTYPE html>
<!-- saved from url=(0022)https://countryos.com/ -->
<html lang="en" class="skrollr skrollr-desktop"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>ProtoGraph / Pykih</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/homepage/homepage.css" type="text/css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="landing" style="height: 3493px;">
    <div id="skrollr-body">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header>
            <div class="container">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href=<%= root_url %>>
                                <%= image_tag "logo_HOME.png" %>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                            <ul class="nav navbar-nav navbar-right">
                                    <li><%= link_to "Log in", new_user_session_path %></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                
    <div class="text-center">
        <div data-fade-in="" data-bottom-top="@class: dummy" data-bottom="@class: in " class="in" style="">
            <div class="fd-offset-0">
                <h1><i>Tools</i> to help journalists <br/>write better stories.</h1>
            </div>
            <div class="fd-offset-1">
                <p class="description">Revolutionary cloud-based country management tool for modern tech-based countries. Get your country management efficiency to a whole new level.</p>
            </div>
            <div class="fd-offset-2">
                <%= link_to "Start trial", new_user_registration_path, class:"btn btn-blue"%>
            </div>
        </div>
    </div>
    

            </div>
        </header>
        
        <div>
            
            
            <div class="infoblock integrations" style="background: white;">
                <div class="container">
                    <h2>Power tools</h2>
                    <p class="teaser">Most of India’s growth in internet users is coming from "emerging Internet" audiences.</p>

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="/homepage/screen-teleport.png" class="img-responsive">
                        </div>
                        <div class="col-md-5">
                            <div class="content">
                                <h4>1. Create visually engaging micro-content</h4>
                                <p>Longform, a legacy of print, is tough for readers to read because they have to be able to read long sentences and sustain concentration (working memory) across paragraphs.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="/homepage/screen-transferwise.png" class="img-responsive">
                        </div>
                        <div class="col-md-5">
                            <div class="content">
                                <h4>2. Prepare articles for distribution</h4>
                                <p>After a reporter has written the article, help the desk package the article efficiently for distribution.</p>
                                <p>We help you stamp </p>

                                
                                On seeing an article on one's social feed, readers subconsciously decide within a fraction of a second whether or not to click through. In this age of Fake News, readers do not know if the article is from a credible source or not. toSocial provides extra information to readers in their feed itself to assist with the click through decision. It stamps article's cover image with your logo and allows you to tag if the article is analysis, opinion, news, reportage or wire copy. Here's the demo - 
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="/homepage/screen-slack.png" class="img-responsive">
                        </div>
                        <div class="col-md-5">
                            <div class="content">
                                <h4>3. Micro-sites for special projects</h4>
                                <p>Chat with special interest groups and other tech-savvy world leaders. Inject vital country statistics into your chats with our custom Slack extension.</p>
                                <!--<a href="https://slack.com/" target="_blank" class="btn btn-default btn-reversed">Open Slack</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

    <div class="infoblock second">
        <div class="container">

            <div data-fade-in="" data-bottom-top="@class: dummy" data-bottom="@class: in " class="in" style="">
                <div class="fd-offset-0">
                    <h2>Designed for mobility and convenience</h2>
                </div>
                <div class="fd-offset-1">
                    <p class="teaser">
                        The CountryOS platform has been developed for cosmopolitan people for whom mobile phones and tablets are just as important as laptops.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <div class="featureblock">
                        <img src="/homepage/icon-handheld.png">
                        <div class="content">
                            <h4>Mobile-first design</h4>
                            <p>Government officials, parliament members, and citizens all have simple and efficient native iOS and Android versions. Learn more.</p>
                        </div>
                    </div>
                    <div class="featureblock">
                        <img src="/homepage/icon-bell.png">
                        <div class="content">
                            <h4>SEO friendly</h4>
                            <p>Notifications about upcoming e-votes and the decreasing popularity of the leading party - all conveniently pushed to your phone.</p>
                        </div>
                    </div>
                    <div class="featureblock">
                        <img src="/homepage/icon-chat.png">
                        <div class="content">
                            <h4>Loads fast</h4>
                            <p>Generate public forums or open a chat window with a government representative or union leader.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/homepage/stefans-iphone.png">
                </div>
            </div>
        </div>
    </div>
    <div class="infoblock fifth text-center">
        <div class="container">
            <h3>Funded by <%= link_to "International Center For Journalists", "https://www.icfj.org/", target: "_blank" %>.</h3>
            <%= link_to "Start free trial", new_user_registration_path, class:"btn btn-blue"%>
        </div>
    </div>
        <footer>
            <div class="white">
                <div class="container">
                    <nav class="navbar navbar-default navbar-static-bottom">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <ul class="branding">
                                    <li>
                                        <br/>
                                    </li>
                                    <li>
                                        <a href="https://pykih.com/" class="bottom-logo small">
                                            Powered by&nbsp;
                                            <%= image_tag "_logo.png", style: "width: 30px;" %>
                                            Pykih

                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="mailto:ritvvij.parrikh@pykih.com">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </footer>
        
    </div>
    
 
</body></html>