<%= content_for :banner_col_sm_8_left do %>
  <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script>
  <div class="hint-text">Prepare Articles For Distribution</div>
  <h1>toSocial</h1>
  <h1 class="intro-text">
    toSocial prepares Facebook, Twitter thumbnails for an article by staming article cover image with your logo. This helps potential readers sort out links from generic news websites and click through only on those they’re genuinely interested in.
  </h1>
<% end %>
<%= content_for :banner_col_sm_8_right do %>
  <div class="demo-image"></div>
<% end %>

<%= content_for :proto_container_col_sm_9_content_col do %>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Where can you use it?</h3>
  <div class="br-space one-br-space"></div>
  <p>You can use toSocial to stamp daily articles by categorising articles as one of Opinion, Reportage, Analysis or Wire Reports. Alternatively, you could also use it for special series and events like World Cup, Elections, etc.</p>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Demo</h3>
  <div class="br-space two-br-space"></div>
  <p>It took this cover image</p>
  <%= image_tag "https://protograph.newslaundry.com/images/newslaundry/239e4c08dcc37ae9/234.jpeg", class: "img-fluid" %>

  <p>and created this thumbnail for Facebook and Twitter</p>
  <%= image_tag "https://protograph.newslaundry.com/images/newslaundry/239e4c08dcc37ae9/352.png", class: "img-fluid" %>
  <div class="br-space two-br-space"></div>
  <p>and this 1:1 image for Instagram.</p>
  <%= image_tag "https://protograph.newslaundry.com/images/newslaundry/239e4c08dcc37ae9/356.png", class: "img-fluid" %>
  <div class="br-space one-br-space"></div>
<% end %>

<%= content_for :proto_container_col_sm_3 do %>
  <p>Features</p>
  <%= image_tag "tick.svg" %> No need to know code
  <br/>
  <%= image_tag "tick.svg" %> Free to use
  <br/>
  <%= image_tag "tick.svg" %> Supports Facebook
  <br/>
  <%= image_tag "tick.svg" %> Supports Twitter
  <br/>
  <%= image_tag "tick.svg" %> Supports Instagram
  <hr/>
  <p>One-time setup required</p>
  Setup a AWS Cloudfront or Akamai CDN and point it to ProtoGraph
  <br/>
  <br/>
  Either manually create images and add to your article or API integrate.
<% end %>