<script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script>

<%= content_for :banner_col_sm_8_left do %> 
  <div class="hint-text">Story Elements</div>
  <h1>toQuiz</h1>
  <h1 class="intro-text">
    Add an element of fun and gamification<br> 
    to your stories.
  </h1>
<% end %>

<%= content_for :banner_col_sm_8_right do %> 
  <div class="demo-image"></div>
<% end %>

<%= content_for :proto_container_col_sm_9_content_col do %>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Where can you use it?</h3>
  <div class="br-space one-br-space"></div>
  <p>Use toQuiz for weekly wraps, in-story questions, etc.</p>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Demo</h3>
  <div id="ProtoCard1358"><blockquote>
    <h3>Test your knowledge—Quiz of the Week</h3>
    <p>Several developments — major and small — which may shape the future course occurred this week. Test your knowledge and get your weekly dose of trivia.</p>
    <h3>India’s first bullet train track will be designed for a maximum speed of ___. </h3>
    <p></p>
    <p>320 kmph</p>,<p></p>
    <p>350 kmph</p>,<p></p>
    <p>400 kmph</p>,<p></p>
    <p>500 kmph</p>,<h3>This American CEO termed bitcoin a 'fraud'.</h3>
    <p></p>
    <p>Howard Marks</p>,<p></p>
    <p>Robert Shiller</p>,<p></p>
    <p>Tom Lee</p>,<p></p>
    <p>Jamie Dimon</p>,<h3>The iPhone fetches Apple ___ of its revenue. </h3>
    <p></p>
    <p>2/3rd</p>,<p></p>
    <p>1/4th</p>,<p></p>
    <p>3/4th</p>,<p></p>
    <p>None of the above.</p>,<h3>Which river linking project has received clearances from the central government? </h3>
    <p></p>
    <p>Ken Betwa Link</p>,<p></p>
    <p>Damanganga-Pinjal link</p>,<p></p>
    <p>Par-Tapi-Narmada link</p>,<p></p>
    <p>Netravati – Hemavati link</p>,<h3>Name the bank that has set up a new unit to settle insolvency cases. </h3>
    <p></p>
    <p>ICICI</p>,<p></p>
    <p>HDFC</p>,<p></p>
    <p>SBI</p>,<p></p>
    <p>PNB</p>,<h3>RBI will issue Rs 100 and Rs 5 coins to mark the birth centenary of ___. </h3>
    <p></p>
    <p>Indira Gandhi</p>,<p></p>
    <p>Udupi Ramachandran</p>,<p></p>
    <p>APJ Abdul Kalam</p>,<p></p>
    <p>M G Ramachandran </p>,<h3>Name 'America's most hated man’ jailed for offering bounty on Hillary Clinton's hair.</h3>
    <p></p>
    <p>Kiyo Matsumoto</p>,<p></p>
    <p>Martin Shkreli</p>,<p></p>
    <p>Leonard Dawn</p>,<p></p>
    <p>Duca Lane</p>,<h3>National Anti Doping Agency and ___ will ensure dope-free sports nutrition supplements.</h3>
    <p></p>
    <p>FSSAI</p>,<p></p>
    <p>WHO</p>,<p></p>
    <p>USDA</p>,<p></p>
    <p>Food Safety Council</p>,<h3>This executive is leaving WhatsApp. Name him.</h3>
    <p></p>
    <p>Jan Koum</p>,<p></p>
    <p>Brian Acton</p>,<p></p>
    <p>Mark Kim</p>,<p></p>
    <p>Jan Acton</p>,<h3>India Meteorological Department will install two supercomputers and radars in 2018.</h3>
    <p></p>
    <p>TRUE</p>,<p></p>
    <p>FALSE</p>
    </blockquote></div>
    <script type="text/javascript">var ProtoCard1358 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1358)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1358"), "https://cdn.protograph.pykih.com/7fda46f8c539/index.html?view_cast_id=037410889ef6c828eb6d2ad1%26schema_id=0eec77701464" , "mobile")}, 200)
    </script>
    <div class="br-space three-br-space"></div>
    <h3 class="z-green">Examples</h3>
    <div class="br-space two-br-space"></div>
    <div id="ProtoCard1970"><blockquote></blockquote></div>
    <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var ProtoCard1970 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1970)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1970"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=ef8c5d1c9876ac256a971632%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1972"><blockquote>
    <h4>Quiz: How well do you know Dilip Kumar?</h4>
    <p>See for yourself what you did not know about Bollywood's method actor Dilip Kumar.</p>
    </blockquote></div><script type="text/javascript">var ProtoCard1972 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1972)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1972"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=397e333e7710fb0d8b95b43f%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1962"><blockquote>
    <h4>Test your knowledge — Quiz of the week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1962 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1962)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1962"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=92ddf34b3ee88ef90ce4cd31%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>
    <div id="ProtoCard1964"><blockquote>
    <h4>Test your knowledge — Quiz of the week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1964 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1964)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1964"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=7fd4505c66862dc811320279%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1965"><blockquote>
    <h4>Test your knowledge—Quiz of the Week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1965 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1965)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1965"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=b021fc2e34b795cab9a05ff7%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1966"><blockquote>
    <h4>Test your knowledge—Quiz of the Week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1966 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1966)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1966"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=00eb02e8b8fcd828d01af4b7%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1967"><blockquote>
    <h4>Test your Knowledge: Quiz of the week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1967 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1967)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1967"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=f940d026a766526f35cd976b%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1969"><blockquote>
    <h4>Quiz of the Week

    </h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1969 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1969)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1969"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=886ef6a62842ff908eef9cb7%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1968"><blockquote>
    <h4>The week that was in business</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1968 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1968)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1968"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=209b72c8b2162ed03e7567ea%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row" style="margin-top: 30px;">
  <div>
    
    <br/>
    <p style="font-size: 14px;"></p>
    <h2 style="display: block; font-size: 18px; font-weight: 800;">
      Demo
    </h2>
    <br/>
    
    <br/>
    <br/>
    <h2 style="display: block; font-size: 18px; font-weight: 800;">
      Examples
    </h2>
    <br/>




  </div>
</div>
<% end %>

<%= content_for :proto_container_col_sm_3 do %> 
  <p>Used by newsrooms like</p>
    <div class="row">
        <div class="col-sm-6">
          <%= image_tag "customers/indian-express.png", class: "rounded img-fluid" %>
        </div>
        <div class="col-sm-6">
          <%= image_tag "customers/jagran.jpg", class: "rounded img-fluid" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <%= image_tag "customers/money-control.jpg", class: "rounded img-fluid" %>
        </div>
    </div>
<% end %>