<%= content_for :banner_col_sm_8_left do %>
  <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script>
  <div class="hint-text">Story Elements</div>
  <h1>toQuiz</h1>
  <h1 class="intro-text">
    Add an element of fun and gamification<br>
    to your stories
  </h1>
<% end %>



<%= content_for :proto_container_col_sm_9_content_col do %>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Where can you use it?</h3>
  <div class="br-space one-br-space"></div>
  <p>Use toQuiz for weekly wraps, in-story questions, etc.</p>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Demo</h3>
  <div id="ProtoCard378"></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var ProtoCard378 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard378)};var mode = (window.innerWidth <= 500) ? "mobile" : "laptop";new ProtoEmbed.initFrame(document.getElementById("ProtoCard378"), "https://cdn.protograph.pykih.com/7fda46f8c539/index.html?view_cast_id=d0ef598aa98911c81fe4cbdc%26schema_id=0eec77701464" , mode)}, 200)</script>
    <div class="br-space three-br-space"></div>
    <h3 class="z-green">Examples</h3>
    <div class="br-space two-br-space"></div>
    <div id="ProtoCard1970"><blockquote></blockquote></div>
    <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var ProtoCard1970 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1970)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1970"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=ef8c5d1c9876ac256a971632%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1972"><blockquote>
    <h4>Quiz: How well do you know Dilip Kumar?</h4>
    <p>See for yourself what you did not know about Bollywood's method actor Dilip Kumar.</p>
    </blockquote></div><script type="text/javascript">var ProtoCard1972 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1972)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1972"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=397e333e7710fb0d8b95b43f%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1962"><blockquote>
    <h4>Test your knowledge — Quiz of the week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1962 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1962)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1962"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=92ddf34b3ee88ef90ce4cd31%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>
    <div id="ProtoCard1964"><blockquote>
    <h4>Test your knowledge — Quiz of the week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1964 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1964)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1964"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=7fd4505c66862dc811320279%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1965"><blockquote>
    <h4>Test your knowledge—Quiz of the Week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1965 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1965)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1965"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=b021fc2e34b795cab9a05ff7%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1966"><blockquote>
    <h4>Test your knowledge—Quiz of the Week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1966 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1966)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1966"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=00eb02e8b8fcd828d01af4b7%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1967"><blockquote>
    <h4>Test your Knowledge: Quiz of the week</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1967 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1967)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1967"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=f940d026a766526f35cd976b%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1969"><blockquote>
    <h4>Quiz of the Week

    </h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1969 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1969)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1969"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=886ef6a62842ff908eef9cb7%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>

    <div id="ProtoCard1968"><blockquote>
    <h4>The week that was in business</h4>
    <p></p>
    </blockquote></div><script type="text/javascript">var ProtoCard1968 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1968)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1968"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=209b72c8b2162ed03e7567ea%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>
<% end %>

<%= content_for :proto_container_col_sm_3 do %>
  <p>Used by newsrooms like</p>
    <div class="row">
        <div class="col-sm-6">
          <%= image_tag "customers/indian-express.png", class: "rounded img-fluid" %>
        </div>
        <div class="col-sm-6">
          <%= image_tag "customers/jagran.jpg", class: "rounded img-fluid" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <%= image_tag "customers/money-control.jpg", class: "rounded img-fluid" %>
        </div>
    </div>
    <hr/>
  <p>Other story element tools - <span class="links-div"><%= link_to "toTimeline", totimeline_path %>, &nbsp; <%= link_to "toExplain", toexplain_path %></span></p>
  <hr/>
  <p>Features</p>
  <%= image_tag "tick.svg" %> No need to know code
  <br/>
  <%= image_tag "tick.svg" %> Free to use
  <br/>
  <%= image_tag "tick.svg" %> Mobile-first
  <br/>
  <%= image_tag "tick.svg" %> Responsive
  <br/>
  <%= image_tag "tick.svg" %> SEO friendly
  <br/>
  <%= image_tag "tick.svg" %> Low bandwidth
  <br/>
  <%= image_tag "tick.svg" %> Multi-lingual
  <hr/>
  <p>One-time setup required</p>
  Setup a AWS Cloudfront or Akamai CDN and point it to ProtoGraph
<% end %>