<%= content_for :banner_col_sm_8_left do %>
  <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script>
  <div class="hint-text">Story Elements</div>
  <h1>toTimeline</h1>
  <h1 class="intro-text">
    Tell a chronological story with images and videos to provide a rich, interactive experience.
  </h1>
<% end %>
<%= content_for :banner_col_sm_8_right do %>
  <div class="demo-image"></div>
<% end %>

<%= content_for :proto_container_col_sm_9_content_col do %>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Where can you use it?</h3>
  <div class="br-space one-br-space"></div>
  <p>toTimeline works best when tracking a subject that has evolved over a period of time. For instance, the careers of politicians, sportspersons, etc or the tracing of violence in the Kashmir valley.</p>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Demo</h3>
  <div id="ProtoCard1361"><blockquote><br><h3>Jhajjar, Haryana</h3><br><p>Mobile internet services were suspended in Jhajjar due to ongoing agitations by the Jat community. Later, the suspension expanded to Rohtak, Bhiwani, Hisar, Sonipat, and Panipat.</p><br><p>2017-01-29</p>,<h3>Across Haryana</h3><br><p>Internet services Jhajjar, Panipat, Sonipat, Hisar, Rohtak, Jind, and Bhiwani were suspended. In Rohtak and Sonepat, services were blocked for 24 hours when the Jats observed 'Black Day' in Haryana.</p><br><p>2017-02-17</p>,<h3>Across Haryana</h3><br><p>Mobile Internet services in various ‘sensitive’ districts including Rohtak and Sonipat were suspended in the wake of Jat protests. The services were restored on March 19. In Rajasthan’s Sikar district too, internet services were shut down on March 31.</p><br><p>2017-03-18</p>,<h3>Across Jammu & Kashmir </h3><br><p>  J&K saw three instances of mobile and broadband suspension across Srinagar, Budgam, Pulwama and Gandarbal over the month. Also, on April 18, mobile Internet services were suspended in Udaipur and Fatehnagar of Rajasthan.</p><br><p>2017-04-08</p>,<h3>Kashmir Valley</h3><br><p>Mobile Internet services were suspended yet again in the Kashmir Valley region as a precautionary measure in order to check rumour mongering following the encounter of a Hizbul terrorist.</p><br><p>2017-05-27</p>,<h3>Kashmir Valley</h3><br><p> Internet was shutdown in Kashmir Valley twice in  June following deaths of civilians in firing by security forces. Similar, shutdowns were seen in West Bengal during Gorkhaland agitation and in Rajasthan during protests by the Rajput community. </p><br><p>2017-06-07</p>,<h3>Across Jammu & Kashmir</h3><br><p>The state saw eight internet shutdowns over the month following the death anniversary of Burhan Wani. Separately, West Bengal and Rajasthan also had one instance each of internet shutdowns in July.</p><br><p>2017-07-01</p>,<h3>Across Jammu & Kashmir</h3><br><p>Following gunfight incidents between militants and the Army, Internet services were shut down seven times across several regions of the state. Also, August saw two unrelated instances of internet shutdown in Rajasthan and West Bengal.</p><br><p>2017-08-01</p>,<h3>Across Jammu & Kashmir</h3><br><p>As the clashes between the Army and militants continued, Internet services were shut down four times in Kashmir. Rajasthan and Haryana recorded two and one incident of internet shutdown, respectively. </p><br><p>2017-09-02</p><br><p></blockquote></div><script type="text/javascript">var ProtoCard1361 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1361)};var mode = (window.innerWidth <= 500) ? "mobile" : "laptop";new ProtoEmbed.initFrame(document.getElementById("ProtoCard1361"), "https://cdn.protograph.pykih.com/abe2a24d7e5c4b81/index.html?view_cast_id=cd19e8ccde71b2cd960af2f5%26schema_id=eadf798aca986e17" , "mobile")}, 200)</script>
  <div class="br-space three-br-space"></div>
  <h3 class="z-green">Examples</h3>
  <div class="br-space two-br-space"></div>
  <div id="ProtoCard1961"><blockquote>
  <h4>DATA STORY: Precaution or crackdown? Internet shutdowns across India up 11-fold since 2013</h4>
  <p>Data shows that the intensity of the Internet blockades has increased to 55 this year from just 5 in 2013.</p>
  </blockquote></div><script type="text/javascript">var ProtoCard1961 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1961)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1961"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=76db177632247c70450f6cf9%26schema_id=2e86f6d67d84af232c65" , 'big_image_text')}, 200)</script>
<% end %>

<%= content_for :proto_container_col_sm_3 do %>
  <p>Used by newsrooms like</p>
  <div class="row">
      <div class="col-sm-6">
        <%= image_tag "customers/money-control.jpg", class: "rounded img-fluid" %>
      </div>
  </div>
  <hr/>
  <p>Other story element tools - <span class="links-div"><%= link_to "toQuiz", toquiz_path %>, &nbsp; <%= link_to "toExplain", toexplain_path %></span></p>
  <hr/>
  <p>Features</p>
  <%= image_tag "tick.svg" %> No need to know code
  <br/>
  <%= image_tag "tick.svg" %> Free to use
  <br/>
  <%= image_tag "tick.svg" %> Mobile-first
  <br/>
  <%= image_tag "tick.svg" %> Responsive
  <br/>
  <%= image_tag "tick.svg" %> SEO friendly
  <br/>
  <%= image_tag "tick.svg" %> Low bandwidth
  <br/>
  <%= image_tag "tick.svg" %> Multi-lingual
  <hr/>
  <p>One-time setup required</p>
  Setup a AWS Cloudfront or Akamai CDN and point it to ProtoGraph
<% end %>