<div class="container">
  <div class="row">
    <div class="col-sm-13">
      <h1 style="margin-bottom: 20px; font-weight: 600; margin-top: 0px; font-size: 20px;">
        Audio Bank
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <% if @audios.first.present? %>
      <div id="audioContainer" class="col-sm-16">
        <row>
          <% @audios.each do |a| %>
            <div class="col-sm-4">
              <%= link_to [@account, a], "data-turbolinks": false do %>
                <div class="card" style="margin: 20px 0px;">
                  <div class="card-footer">
                    <h4 class="card-title" style="font-weight: 400; " title="<%=a.name%>">
                      <span class="branch-ref css-truncate css-truncate-target" style="display: inline-block;"><%= a.name %></span>
                      <span><audio src="<%= a.audio.url %>" controls style="width: 170px"></audio></span>
                    </h4>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </row>
      </div>
    <% else %>
      <div class="blankslate blankslate-spacious">
        <h3>No audios uploaded yet.</h3>
        <p>Use the [+ Upload audio] button on the top right.</p>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <%= paginate @audios %>
</div>
