<%= render partial: "pages/header" %>
<div class="row">
    <div class="col-sm-12">
        <% if @feed_links.first.blank? %>
            <p class="hint">No links yet</p>
        <% else %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title
                        </th>
                        <th>Published at
                        </th>
                        <th>Create toCluster card and<br/>add to Feeds stream</th>
                    </tr>
                </thead>
                <tbody>
                    <% @feed_links.each do |link| %>
                        <tr>
                            <td>
                                <%= link_to link.headline, link.link, target: "_blank"%>
                            </td>
                            <td>
                                <%= time_ago_in_words link.published_at %>
                            </td>
                            <td>
                                <%= link_to "Add", nil %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= paginate @feed_links, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
        <% end %>
    </div>
    <div class="col-sm-4">
            <h3>Subscribe to RSS</h3>
            <% @feeds.each do |feed| %>
                <%= link_to truncate(feed.rss, length: 50, ommission: "..."), feed.rss, target: "_blank" %>
                <div class="hint">
                    Last refreshed at
                    <%= time_ago_in_words(feed.last_refreshed_at) %>
                    <br/>
                    Next refresh scheduled
                    <%= time_ago_in_words(feed.next_refreshed_scheduled_for) %>
                    <br/>
                    <%= link_to 'Destroy', [@account, @site, @ref_category, feed], method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
                <br/>
            <% end %>
            <%= simple_form_for [@account, @site, @ref_category, @feed] do |f| %>
                <tr>
                  <td>
                      <%= f.error_notification %>
                      <div class="form-inputs">
                          <%= f.hidden_field :ref_category_id, value: @ref_category.id %>
                          <%= f.input :rss, input_html: {rows: 1}, placeholder: "RSS URL", label: false %>
                      </div>
                  </td>
                  <td></td>
                  <td><%= f.button :submit, "Add" %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>

