<div class="ui grid" style="margin-top: 100px;">
  <div class="column">
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <%= f.submit "Resend confirmation instructions", class: 'ui button' %>
        <% end %>
        <br/>

        <%= render "devise/shared/links" %>

</div>
</div>

</div>