<div class="ui grid">
    <div class="two wide column">
      <%= link_to((image_tag "logo.png", style: "width: 50px;"), root_url) %>
    </div>
    <div class="fourteen wide column">
      <h1 class="ui small header" style="margin-top: 13px; margin-left: 30px; margin-bottom: 30px;">Welcome to ProtoGraph.co</h1>
    </div>
</div>
<div class="ui grid" style="margin-top: 100px;">
  <div class="column">
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <%= f.submit "Resend confirmation instructions", class: 'ui button' %>
        <% end %>
        <br/>

        <%= render "devise/shared/links" %>

</div>
</div>

</div>