<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @site_template_app.site_id %>
</p>

<p>
  <strong>Template app:</strong>
  <%= @site_template_app.template_app_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @site_template_app.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @site_template_app.updated_by %>
</p>

<%= link_to 'Edit', edit_site_template_app_path(@site_template_app) %> |
<%= link_to 'Back', site_template_apps_path %>
