<div class="row">
    <div class="col-sm-6" style="padding: 0px; margin-left: auto; margin-right: auto;">
        <h1>Settings</h1>
        <br/>
        <h3>Email settings</h3>
        <hr/>
        <div style="margin-left: 50px;">
            <p>Add your secondary email IDs to ProtoGraph so others can invite you with your secondary email IDs.</p>
            <table class="table">
                <tbody>
                    <% @user_emails.each do |u| %>
                        <tr>
                            <td style="border: 0px;">
                              <%= u.email %>
                            </td>
                            <td style="border: 0px;text-align: right">
                              <% unless u.is_primary_email %>
                                <%= link_to "Remove", user_email_path(current_user, u), method: :delete %>
                              <% else %>
                                <p>-</p>
                              <% end %>
                            </td>
                        </tr>
                    <% end %>
            </table>
            <%= simple_form_for([current_user, @user_email]) do |f| %>

              <div class="form-inputs">
                <%= f.input :email %>
              </div>

              <%= f.submit "Add", class: "btn btn-light" %>
            <% end %>
            <br/>
            <br/>
        </div>
        <h3>Connections</h3>
        <hr/>
        <div style="margin-left: 50px;">
            <% unless current_user.authentications.present? %>
              <div class="row">
                  <div class="col-sm-10">
                      <h4>Connect to Twitter</h4>
                      <p class="hint">You will be able to login to ProtoGraph using your Twitter auth. We will never post to Twitter or message your friends without your permission.</p>
                  </div>
                  <div class="col-sm-2">
                        <%- resource_class.omniauth_providers.each do |provider| %>
                          <%= link_to "Authenticate", public_send("#{resource_class.name.downcase}_#{provider.to_s}_omniauth_authorize_path") %><br />
                        <% end -%>
                  </div>
              </div>
            <% else current_user.authentications.present? %>
              <div class="row">
                  <div class="col-sm-10">
                      <h4>You are connected to Twitter</h4>
                      <p class="hint">We will never post to Twitter or message your followers without your permission.</p>
                  </div>
                  <div class="col-sm-2">
                        <%= current_user.authentications.first.email %>
                  </div>
              </div>
            <% end %>
            
        </div>
        <br/>    
        <h3>Password</h3>
        <hr/>
        <div style="margin-left: 50px;">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <%= f.input :password, required: true, autocomplete: "off", placeholder: "6 characters minimum.", hint: "(leave blank if you don't want to change it)" %>
              <%= f.input :password_confirmation, autocomplete: "off" %>
              <%= f.input :current_password %>
              <%= f.button :submit, value: "Save", class: "btn btn-light" %>
            <% end %>
        </div>
        <br/>    
        <h3>Integration tokens</h3>
        <hr/>
        <div style="margin-left: 50px;">
            <p><%= current_user.access_token %> </p>
        </div>
        <br/>
    </div>
</div>