<div class="row">
      <div class="col-4 align-self-center" style="margin-left: auto; margin-right: auto; margin-top: 40px;">
          
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, autofocus: true, required: true, placeholder: "What your friends call you?" %>
      <%= f.input :username, required: true, placeholder: "What is your twitter username?", hint: "Choose wisely. You cannot change it later. Only alphanumeric characters are allowed."  %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true, autocomplete: "off", required: true, placeholder: "6 characters minimum." %>
      <%= f.input :password_confirmation, autocomplete: "off", required: true %>
      <%= f.button :submit, value: "Sign up" %>
    <% end %>
</div>
</div>
