<br/>
<br/>
<br/>
<div style="margin-left: auto; margin-right: auto; width: 300px;">
    <div class="alert alert-warning" role="alert">
        Currently, we have disabled any new sign ups. Publishers who have accounts with us must first invite their staff on their official email IDs and only then can they sign up.
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, autofocus: true, required: true, placeholder: "What your friends call you?" %>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true, autocomplete: "off", required: true, placeholder: "6 characters minimum." %>
        <%= f.input :password_confirmation, autocomplete: "off", required: true %>
        <%= f.button :submit, value: "Sign up", class: 'btn btn-sm btn-secondary' %>
    <% end %>
</div>