<p id="notice"><%= notice %></p>

<h1>Template Stream Cards</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Template card</th>
      <th>Template stream</th>
      <th>Is mandatory</th>
      <th>Position</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_stream_cards.each do |template_stream_card| %>
      <tr>
        <td><%= template_stream_card.account_id %></td>
        <td><%= template_stream_card.template_card_id %></td>
        <td><%= template_stream_card.template_stream_id %></td>
        <td><%= template_stream_card.is_mandatory %></td>
        <td><%= template_stream_card.position %></td>
        <td><%= template_stream_card.created_by %></td>
        <td><%= template_stream_card.updated_by %></td>
        <td><%= link_to 'Show', template_stream_card %></td>
        <td><%= link_to 'Edit', edit_template_stream_card_path(template_stream_card) %></td>
        <td><%= link_to 'Destroy', template_stream_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template Stream Card', new_template_stream_card_path %>
