<div class="protograph-page-tabs">
    <div class="<%= !(action_name == 'edit' and controller_name == 'sites') ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Site settings", edit_account_site_path(@account, @site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= !(action_name == 'integrations' and controller_name == 'sites') ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Integrations", integrations_account_site_path(@account, @site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= !(controller_name == 'admins' or controller_name == 'permission_invites') ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Manage team", account_site_permission_invites_path(@account, @site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= controller_name != 'ref_categories' ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Editorial planning", intersections_account_site_path(@account, @site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= controller_name != 'folders' ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Workspaces", account_site_folders_path(@account, @site),"data-turbolinks" => "false" %>
    </div>
</div>
<br/>