<%= render partial: "sites/header" %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <ul class="nav nav-tabs" style="font-size: 12px;">
              <li class="nav-item"><%= link_to "Site Team", account_site_permission_invites_path(@account, @site), class: (controller_name == "permission_invites" and action_name == "index") ? "nav-link active" : "nav-link" %>
              <li class="nav-item"><%= link_to "Account Owners", account_owners_account_admins_path(@account), class: (controller_name == "admins" and action_name == "account_owners") ? "nav-link active" : "nav-link" %>
              <li class="nav-item"><%= link_to "Security Settings", access_security_account_site_admins_path(@account, @site), class: (controller_name == "admins" and action_name == "access_security") ? "nav-link active" : "nav-link" %>
            </ul>
            <br/>
            <br/>
            <table class="table table-hover">
                <tbody>
                    <% @permissions.each do |permission| %>
                        <tr>
                            <td style="width: 10%; border: 0px;"><img class="rounded" src=<%=avatar_url(permission.user.email)%>>
                            </td>
                            <td  style="border: 0px;">
                                <%= permission.name %>
                                <% if permission.status == "Deactivated" %>
                                    <i style="font-weight: 200; color: gray;">(Deactivated)</i>
                                <% end %>
                                <br/>
                                <div class="hint"><%= permission.user.email %></div>
                                <% if permission.user.current_sign_in_at.present? %>
                                <div class="hint">Last seen <%= time_ago_in_words(permission.user.current_sign_in_at) %> ago.</div>
                                <% end %>
                            </td>
                            <td style="border: 0px; width: 70px;">
                                <%= link_to "Edit", edit_account_permission_path(@account, permission) %>
                            </td>
                            <td  style="border: 0px;">
                                <% if current_user.id != permission.user_id and permission.status != "Deactivated" %>
                                <%= link_to "Change Role", change_owner_role_account_permission_path(@account, permission) %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                    <%= paginate @permissions, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
                </tbody>
            </table>
            <% if @pending_invites_count != 0 %>
                <br/>
                <h4>Pending Invites</h4>
                <table class="table">
                    <tbody>
                        <% @permission_invites.each do |permission_invite| %>
                            <tr>
                                <td style="width: 10%; border: 0px;"><img class="rounded" src=<%=avatar_url(permission_invite.email)%>>
                                </td>
                                <td style="border: 0px;">
                                    <%= permission_invite.email %>
                                    <div class="hint">Invited by <%= permission_invite.creator.name %> <%= time_ago_in_words (permission_invite.created_at) %>.</div>
                                </td>
                                <td style="border: 0px;"><%= link_to "Remove".html_safe, account_permission_invite_path(@account, permission_invite, redirect_url: account_owners_account_admins_path(@account)), method: :delete, data: { confirm: 'Are you sure?' } %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= simple_form_for [@account, @permission_invite] do |f| %>
        <% if @permission_invite.errors.any? %>
        <div id="error_explanation" class="ui error message">
          <div class="header">
            <%= pluralize(@permission_invite.errors.count, "error") %> prohibited this permission_invite from being saved:
          </div>
          <% @permission_invite.errors.full_messages.each do |message| %>
          <p><%= message %></p>
          <% end %>
        </div>
        <% end %>
        <%= f.hidden_field :permissible_type, value: "Account" %>
        <%= f.hidden_field :permissible_id, value: @account.id %>
        <%= f.hidden_field :created_by, value: current_user.id %>
        <%= f.hidden_field :updated_by, value: current_user.id %>
        <%= f.input :email, id: :permission_invite_email, required: true, autofocus: true %>
        <%= f.hidden_field :redirect_url, value: account_owners_account_admins_path(@account) %>
        <%= f.input :ref_role_slug, as: :hidden, input_html: {value: "owner"} %>
        <%= f.submit "Invite", class: "btn btn-sm btn-secondary" %>
        <% end %>
        <hr/>
        <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
		<h2>Account Owners</h2>
		<p>Whomever you invite here will have admin access to all your sites and settings.</p>
	</div>
</div>
