<%= content_for :page_title do %>
    <li class="breadcrumb-item"><%= link_to "Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false %></li>
    <li class="breadcrumb-item active" aria-current="page">Site: <%= @site.domain %></li>
    <li class="breadcrumb-item active" aria-current="page">Basic Theming</li>
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <h2 style="font-weight: 400;">Favicon</h2>
            <% if @site.favicon_id.present? %>
              <%= image_tag(@site.favicon.original_image.image_url, class: "rounded", style: "max-width: 100px;", alt: "Uploading image") %>
              <br/>
              <%= simple_form_for [@account, @site] do |f| %>
                <%= f.error_notification %>
                <%= f.input :favicon_id, as: :hidden, input_html: {value: nil} %>
                <%= f.input :from_page, as: :hidden, input_html: {value: "basic_theming"}%>
                <%= f.button :submit, "Remove", class: "btn btn-light" %>
              <% end %>
            <% else %>
              <br/><br/>
              <%= simple_form_for [@account, @site] do |f| %>
                <%= f.error_notification %>

                <%= f.fields_for :favicon do |favicon| %>
                  <%= favicon.input :image, label: false %>
                  <%= favicon.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
                  <%= favicon.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
                  <%= favicon.input :account_id, as: :hidden, input_html: {value: @account.id}  %>
                  <%= favicon.input :is_favicon, as: :hidden, input_html: {value: true } %>
                <% end %>
                <%= f.input :from_page, as: :hidden, input_html: {value: "basic_theming"}%>
                <%= f.button :submit, "Upload", class: "btn btn-sm btn-secondary" %>
              <% end %>
            <% end %>
            <br><br><br>
            <h2 style="font-weight: 400;">Colours</h2>
            <br>
            <%= simple_form_for [@account, @site] do |f| %>
                <%= f.error_notification %>
                <%= f.input :house_colour, input_html: {type: :color, style: "height: 40px;"}, label: "House Color", required: true %>
                <%= f.input :font_colour, input_html: {type: :color, style: "height: 40px;"}, label: "Font Color on House Color", required: true %>
                <%= f.input :reverse_house_colour, input_html: {type: :color, style: "height: 40px;"}, label: "Reverse House Color", required: true %>
                <%= f.input :reverse_font_colour, input_html: {type: :color, style: "height: 40px;"}, label: "Font Color on Reverse House Color", required: true %>
                <%= f.input :from_page, as: :hidden, input_html: {value: "basic_theming"}%>
                <%= f.button :submit, "Update", class: "btn btn-sm btn-secondary" %>
            <% end %>
        </div>
    </div>
    <div class="col-sm-3 help-text">
        <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
        <p>Configuration done here will impact each and every card and page on your site. After you update here, it should take anywhere between 1 to 2 minutes for the changes to reflect on your site.</p>
        <hr/>
        <p>Use the logo you use as your Twitter Profile. It is square and should be at least 400 × 400px in size.</p>
        <hr/>
        <p><b>House colour</b> is your primary brand colour. Wherever possible, we will use this colour. Example in below image, the tag is red because House Colour of the publication is red.</p>
        <%= image_tag "story-card-bw.png", class: "img-fluid" %>
        <br/><br/>
        <p><b>Reverse House colour:</b> Choose a color that is diagonally opposite from your House Color on the color wheel. All sponsored articles will be colored with Reverse House Color.</p>
    </div>
</div>
<br/>
<br/>