<%= content_for :page_navigation do %>
    <button class="btn btn-sm btn-secondary btn-sm" type="button">
        <%= link_to '+ Add a folder', new_account_site_folder_path(@account, @site), data: {turbolinks: false} %>
    </button>
<% end %>
<%= content_for :page_title do %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false %></li>
        <li class="breadcrumb-item active" aria-current="page">Editorial Planning</li>
        <li class="breadcrumb-item active" aria-current="page">Folders</li>
      </ol>
    </nav>
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 800px;">
            <% if @folders.first.present? %>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Name
                            </th>
                            <th>#Cards
                            </th>
                            <th>#Stories
                            </th>
                            <th>For Stories?
                            </th>
                            <th>Is Archived?
                            </th>
                            <th>Created
                            </th>
                            <th>Updated
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @folders.each do |folder| %>
                            <tr>
                                <td><%= folder_name_(folder).html_safe %>
                                </td>
                                <td class="hint"><%= folder.view_casts.count %>
                                </td>
                                <td class="hint"><%= folder.pages.count %>
                                </td>
                                <td class="hint"><%= folder.is_for_stories %>
                                </td>
                                <td class="hint"><%= folder.is_archived %>
                                </td>
                                <td class="hint"><%= image_tag avatar_url(folder.creator.email), class: "rounded" %> <%= time_ago_in_words folder.created_at %>
                                </td>
                                <td class="hint"><%= image_tag avatar_url(folder.updator.email), class: "rounded" %> <%= time_ago_in_words folder.updated_at %>
                                </td>
                                <td><%= link_to "Edit", edit_account_site_folder_path(@account, @site, folder) %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<!--<h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>