<%= content_for :page_title do %>    
    <li class="breadcrumb-item active" aria-current="page">Admin</li>
<% end %>

<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 600px;">
            <h3 style="font-weight: 100;">Admin for Account: <%= @account.username %></h3>
            <div class="row">
                <div class="col-sm-5">
                    <a href=<%= account_owners_account_admins_path(@account)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-522-user-lock.png" %></div>
                        <p>Owners</p>
                    </a>
                </div>
                <div class="col-sm-5">
                    <a href=<%= sites_account_admins_path(@account)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-609-newspaper.png" %></div>
                        <p>Sites</p>
                    </a>
                </div>
            </div>
            <br/>
            <h2 style="font-weight: 800;">Site: <%= @site.domain %></h2>
            <br/>
            <h3 style="font-weight: 100;">Basic Setup</h3>
            <div class="row">
                <div class="col-sm-5">
                    <a href=<%= basic_theming_account_site_admins_path(@account, @site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-484-bring-to-front.png" %></div>
                        <p>Theming</p>
                    </a>
                </div>
            </div>
            <br/>            
            <h3 style="font-weight: 100;">Team</h3>
            <div class="row">
                <div class="col-sm-5">
                    <a href=<%= account_site_permission_invites_path(@account, @site) %>>
                        <div class="administration-options"><%= image_tag "glyphicons-621-visitor-tag.png" %></div>
                        <p>Site Team</p>
                    </a>    
                </div>
                <div class="col-sm-5">
                    <a href=<%= access_security_account_site_admins_path(@account, @site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-743-fingerprint-lock.png" %></div>
                        <p>Security</p>
                    </a>
                </div>                
            </div>
            <br/>
            <h3 style="font-weight: 100;">Publish micro-sites (Verticals)</h3>
            <div class="row">
                <div class="col-sm-5">
                    <a href=<%= site_setup_account_site_admins_path(@account, @site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-412-package.png" %></div>
                        <p>Setup</p>
                    </a>
                </div>
        
                <div class="col-sm-5">
                    <a href=<%= site_theming_account_site_admins_path(@account, @site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-484-bring-to-front.png" %></div>
                        <p>Theming</p>
                    </a>
                </div>
                <div class="col-sm-5">
                    <a href=<%= site_integrations_account_site_admins_path(@account, @site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-138-cogwheels.png" %></div>
                        <p>Integrations</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <a href=<%= verticals_account_site_path(@account, @site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-750-hash.png" %></div>
                        <p>Verticals</p>
                    </a>    
                </div>
                <div class="col-sm-5">
                    <a href=<%= intersection_account_site_path(@account, @site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-66-tag.png" %></div>
                        <p>Intersections</p>
                    </a>
                </div>
                <div class="col-sm-5">
                    <a href=<%= sub_intersection_account_site_path(@account,@site)%>>
                        <div class="administration-options"><%= image_tag "glyphicons-67-tags.png" %></div>
                        <p>Sub Intersections</p>
                    </a>    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <a href=<%= editorial_folders_account_site_admins_path(@account,@site) %>>
                        <div class="administration-options"><%= image_tag "glyphicons-145-folder-open.png" %></div>
                        <p>Workspaces</p>
                    </a>    
                </div>
            </div>
            <br/><br/><br/><br/>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<%= render partial: "admins/sidebar_structured" %>
	</div>
</div>