<div class="col-sm-7" style="margin-left: auto; margin-right: auto;">
    <h1>Admin</h1>
    <br/><br/><br/>
    <h2 style="font-weight: 100;">Site</h2>
    <hr/>
    <div class="row" style="padding: 0px; margin: 0px;">
        
        <div class="col-sm-5">
            <a href=<%= site_setup_account_site_admins_path(@account, @site)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-412-package.png" %></div>
                <p>Setup</p>
            </a>
        </div>
        
        <div class="col-sm-5">
            <a href=<%= product_theme_account_site_admins_path(@account, @site)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-484-bring-to-front.png" %></div>
                <p>Theming</p>
            </a>
        </div>
        <div class="col-sm-5">
            <a href=<%= product_integrations_account_site_admins_path(@account, @site)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-138-cogwheels.png" %></div>
                <p>Integrations</p>
            </a>
        </div>
    </div>
    <br/><br/>
    <h2 style="font-weight: 100;">Access</h2>
    <hr/>
    <div class="row" style="padding: 0px; margin: 0px;">
        <div class="col-sm-5">
            <a href=<%= account_site_permission_invites_path(@account, @site) %>>
                <div style="height: 30px"><%= image_tag "glyphicons-621-visitor-tag.png" %></div>
                <p>Site Team</p>
            </a>    
        </div>
        <div class="col-sm-5">
            <a href=<%= access_security_account_site_admins_path(@account, @site)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-743-fingerprint-lock.png" %></div>
                <p>Security</p>
            </a>
        </div>
        <div class="col-sm-5">
            <a href=<%= edit_account_path(@account)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-522-user-lock.png" %></div>
                <p>Account Owners</p>
            </a>
        </div>
    </div>
    <br/><br/>
    <h2 style="font-weight: 100;">Editorial Planning</h2>
    <hr/>
    <div class="row" style="padding: 0px; margin: 0px;">
        <div class="col-sm-5">
            <a href=<%= manager_account_site_pages_path(@account, @site)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-750-hash.png" %></div>
                <p>Verticals</p>
            </a>    
        </div>
        <div class="col-sm-5">
            <a href=<%= intersection_account_site_path(@account, @site)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-66-tag.png" %></div>
                <p>Intersections</p>
            </a>
        </div>
        <div class="col-sm-5">
            <a href=<%= sub_intersection_account_site_path(@account,@site)%>>
                <div style="height: 30px"><%= image_tag "glyphicons-67-tags.png" %></div>
                <p>Sub Intersections</p>
            </a>    
        </div>
    </div>
    
    
</div>