<div class="row">
    <div class="col-sm-6" style="padding: 0px; margin-left: auto; margin-right: auto;">
        <p><%= link_to "< Admin", account_site_admins_path(@account, @site) %>
            <h6>Product Setup to Site <%= @site.domain %></h6>
        <h1>Setup</h1>
        <hr/>
        <div style="margin-left: 0px;">
            <%= simple_form_for [@account, @site] do |f| %>
              <%= f.error_notification %>
              <%= f.input :domain, hint: "Where is the site hosted?" %>
              <%= f.input :description, hint: "This will be used in footers, search results, and other places." %>
              <%= f.input :primary_language, as: :select, collection: [["English", "English"], ["Hindi", "Hindi"]], include_blank: false %>
              <%= f.input :default_seo_keywords, hint: "These default keywords will be used on homepage.", label: "Default SEO Keywords" %>
              <%= f.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
              <%= f.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
              <%= f.input :from_page, as: :hidden, input_html: {value: "site_setup"}%>

              <%= f.button :submit, "Save", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>