<%= content_for :page_title do %>
    <li class="breadcrumb-item"><%= link_to "Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false %></li>
    <li class="breadcrumb-item active" aria-current="page">Site: <%= @site.domain %></li>
    <li class="breadcrumb-item active" aria-current="page">Publish micro-sites</li>
    <li class="breadcrumb-item active" aria-current="page">Site Theming</li>
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <h2 style="font-weight: 400;">Site Header</h2>
            <br>
            <p>Publication logo</p>
            <% if @site.logo_image_id.present? %>
              <%= image_tag(@site.logo_image.original_image.image_url, class: "rounded", style: "width: 100px;") %>
              <br/>
              <%= simple_form_for [@account, @site] do |f| %>
                <%= f.error_notification %>
                <%= f.input :logo_image_id, as: :hidden, input_html: {value: nil} %>
                <%= f.button :submit, "Remove", class: "btn btn-light" %>
              <% end %>
            <% else %>
              <%= image_tag("account.png", class: "rounded", style: "width: 100px;") %>
              <br/><br/>
              <%= simple_form_for [@account, @site] do |f| %>
                <%= f.error_notification %>

                <%= f.fields_for :logo_image do |logo_image| %>
                  <%= logo_image.input :image, label: false %>
                  <%= logo_image.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
                  <%= logo_image.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
                  <%= logo_image.input :account_id, as: :hidden, input_html: {value: @account.id}  %>
                  <%= logo_image.input :is_logo, as: :hidden, input_html: {value: true } %>
      
                <% end %>
                <%= f.input :from_page, as: :hidden, input_html: {value: "product_theme"}%>
                <%= f.button :submit, "Upload", class: "btn btn-sm btn-secondary" %>
              <% end %>
            <% end %>
            <br/>
            <%= simple_form_for [@account, @site] do |f| %>
              <%= f.input :header_url, as: :string, required: true, label: "URL" %>
              <%= f.input :header_background_color, input_html: {type: :color, style: "height: 40px;"}, required: true, label: "Background Color" %>
              <%= f.input :header_positioning, collection: [["Left", "left"], ["Center", "center"], ["Right", "right"]], label: "Position", include_blank: false %>
              <%= f.input :from_page, as: :hidden, input_html: {value: "product_theme"}%>
              <%= f.button :submit, "Update", class: "btn btn-sm btn-secondary" %>
            <% end %>
            <br><br><br>
            <h2 style="font-weight: 400;">Style the toStory Card</h2>
            <br>
            <%= simple_form_for [@account, @site] do |f| %>
                <%= f.error_notification %>
                <%= f.input :story_card_style, as: :select, collection: [["Clear: Color", "Clear: Color"], ["Clear: Black & White", "Clear: Black & White"], ["Blur: Color", "Blur: Color"]], label: "Style", include_blank: false %>
                <%= f.input :story_card_flip, as: :select, collection: [["Yes", true], ["No", false]], label: "Show summary of story by flipping the card", include_blank: false %>
                <%= f.input :from_page, as: :hidden, input_html: {value: "product_theme"}%>
                <%= f.button :submit, "Update", class: "btn btn-sm btn-secondary" %>
            <% end %>
        </div>
    </div>
    <div class="col-sm-3 help-text">
        <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
        <p>Configuration done here will impact each and every card and page on your site. After you update here, it should take anywhere between 1 to 2 minutes for the changes to reflect on your site.</p>
        <hr/>
        <p>Based on configuration here, you can style the header of your sites.</p>
        <%= image_tag "header-wire.png", class: "img-fluid"%>
        <br/>
        <%= image_tag "header-express.png", class: "img-fluid"%>
        <hr/>
        <p><b>Show summary of story by flipping the card</b> allows readers to quickly know what is the article about without opening it.</p>
        <%= image_tag "show-summary-on-flip.gif", class: "img-fluid"%>
    </div>
</div>
<br/>
<br/>