<%= content_for :page_title do %>    
    <li class="breadcrumb-item"><%= link_to "Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false %></li>
    <li class="breadcrumb-item active" aria-current="page">Site: <%= @site.domain %></li>
    <li class="breadcrumb-item active" aria-current="page">Publish micro-sites</li>
    <li class="breadcrumb-item active" aria-current="page">Integrations</li>
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <%= simple_form_for [@account, @site] do |f| %>
              <%= f.error_notification %>
              <%= f.input :g_a_tracking_id, label: "Google Analytics Tracking Code", hint: "The tracking ID is a string like UA-000000-2." %>
              <%= f.input :facebook_url %>
              <%= f.input :twitter_url %>
              <%= f.input :instagram_url %>
              <%= f.input :youtube_url %>
              <%= f.input :from_page, as: :hidden, input_html: {value: "product_integrations"}%>
              <%= f.button :submit, "Save", class: "btn btn-sm btn-secondary" %>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
		<h2>Google Analytics</h2>
		<p>Here is <%= link_to "an article", "http://blog.analytics-toolkit.com/2016/google-analytics-tracking-code-id-check-setup/", target: "_blank"%> that shows you how to find your Google Analytics tracking id. ProtoTYPE will use this to send visitor analytics to your Google Analytics account.</p>
        <hr/>
        <h2>Social Profiles</h2>
		<p>All Social Profile links that you add here will be shown in the right-end side of your header.</p>
        <%= image_tag "header-social-ids.png", class: "img-fluid" %>
	</div>
</div>