<%= simple_form_for(@datacast) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :template_datum %>
    <%= f.input :external_identifier %>
    <%= f.input :input_source, input_html: {value: "form"}  %>
    <%= f.input :json_data %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "ui button" %>
  </div>
<% end %>