<p id="notice"><%= notice %></p>

<h1>Datacasts</h1>

<table>
  <thead>
    <tr>
      <th>Slug</th>
      <th>Template datum</th>
      <th>External identifier</th>
      <th>Status</th>
      <th>Data timestamp</th>
      <th>Last updated at</th>
      <th>Last data hash</th>
      <th>Count publish</th>
      <th>Count duplicate calls</th>
      <th>Count errors</th>
      <th>Input source</th>
      <th>Error messages</th>
      <th>Data</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datacasts.each do |datacast| %>
      <tr>
        <td><%= datacast.slug %></td>
        <td><%= datacast.template_datum_id %></td>
        <td><%= datacast.external_identifier %></td>
        <td><%= datacast.status %></td>
        <td><%= datacast.data_timestamp %></td>
        <td><%= datacast.last_updated_at %></td>
        <td><%= datacast.last_data_hash %></td>
        <td><%= datacast.count_publish %></td>
        <td><%= datacast.count_duplicate_calls %></td>
        <td><%= datacast.count_errors %></td>
        <td><%= datacast.input_source %></td>
        <td><%= datacast.error_messages %></td>
        <td><%= datacast.data %></td>
        <td><%= datacast.created_by %></td>
        <td><%= link_to 'Show', datacast %></td>
        <td><%= link_to 'Edit', edit_datacast_path(datacast) %></td>
        <td><%= link_to 'Destroy', datacast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datacast', new_datacast_path %>
