<%= simple_form_for([@account, @datacast]) do |f| %>

  <div class="form-inputs">
    <%= f.association :template_datum, include_blank: false, label: "Template Data" %>
    <%= f.input :external_identifier, as: :string %>
    <%= f.input :input_source,as: :hidden ,input_html: {value: "form"}  %>
    <%= f.input :json_data, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "ui button" %>
  </div>
<% end %>