<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @datacast.slug %>
</p>

<p>
  <strong>Template datum:</strong>
  <%= @datacast.template_datum_id %>
</p>

<p>
  <strong>External identifier:</strong>
  <%= @datacast.external_identifier %>
</p>

<p>
  <strong>Status:</strong>
  <%= @datacast.status %>
</p>

<p>
  <strong>Data timestamp:</strong>
  <%= @datacast.data_timestamp %>
</p>

<p>
  <strong>Last updated at:</strong>
  <%= @datacast.last_updated_at %>
</p>

<p>
  <strong>Last data hash:</strong>
  <%= @datacast.last_data_hash %>
</p>

<p>
  <strong>Count publish:</strong>
  <%= @datacast.count_publish %>
</p>

<p>
  <strong>Count duplicate calls:</strong>
  <%= @datacast.count_duplicate_calls %>
</p>

<p>
  <strong>Count errors:</strong>
  <%= @datacast.count_errors %>
</p>

<p>
  <strong>Input source:</strong>
  <%= @datacast.input_source %>
</p>

<p>
  <strong>Error messages:</strong>
  <%= @datacast.error_messages %>
</p>

<p>
  <strong>Data:</strong>
  <%= @datacast.data %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @datacast.created_by %>
</p>

<%= link_to 'Edit', edit_datacast_path(@datacast) %> |
<%= link_to 'Back', datacasts_path %>
