<%= simple_form_for(@template_stream) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :account_id %>
    <%= f.input :name, hint: "Choose wisely. You cannot change it later." %>
    <%= f.input :description %>
    <%= f.input :version %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "ui button" %>
  </div>
<% end %>