<div class="nine wide column">
  <%= render partial: "template_cards/header" %>
  <table class="ui very basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="collapsing">Status</th>
      <th class="collapsing">Publish count</th>
      <th class="collapsing">Updated by</th>
      <th class="collapsing">Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @template_streams.each do |template_stream| %>
      <tr>
        <td><%= link_to template_stream.name, account_template_stream_path(@account, template_stream) %></td>
        <td><%= template_stream.status %></td>
        <td><%= template_stream.publish_count %></td>
        <td><%= template_stream.updator.name %></td>
        <td><%= time_ago_in_words template_stream.updated_at %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui dividing right rail" style="min-height: 339px;"></div>
</div>

<div class="seven wide column" style="padding-left: 90px;">
    <%= link_to "New Stream Template", new_account_template_stream_path(@account), class: "ui basic button" %>
    <br/>
    <br/>
    <p>A Stream ties cards together into an experience that is appropriate for the usecase. Example - Question/Answer cards can be tied together into a Quiz.</p>
    <p>In simple words, Stream = Collection of Cards</p>
    <p><b>StreamKit</b> is a Javascript SDK that developers can use to write their own cards. StreamKit provides:</p>
    <ul>
      <li style="margin: 0px 0px 10px 0px;">Layout i.e. how will your collection of cards look together. Example — Gallery, Page, Flash Cards, Card Stack, etc.</li>
      <li style="margin: 0px 0px 10px 0px;">Functions that help you interact with the cards within your stream. Example — Add or remove a card, Navigate across cards, Open card in full screen mode, Changing of URL, etc.</li>
      <li style="margin: 0px 0px 10px 0px;">Visual Interactions Example - Loading animations, Swipe a card, Flip a card, etc. You can either our visual interactions or code your own using Functions.</li>
      <li style="margin: 0px 0px 10px 0px;">A pre-defined list of sizes that your card code must adhere to. Based on size of the screen, StreamKit will automatically resize your card.</li>
      <li style="margin: 0px 0px 10px 0px;">Containment of errors. In case, there is an error within the code of a card, then StreamKit will contain the look and feel impact of that error within the card area itself and not crash the entire page.</li>
    </ul>
</div>