<%= render partial: "template_cards/header" %>
<div class="sixteen wide column">
  <table class="ui very basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Status</th>
      <th>Publish count</th>
      <th>Updated by</th>
    </tr>
  </thead>

  <tbody>
    <% @template_streams.each do |template_stream| %>
      <tr>
        <td><%= link_to template_stream.name, account_template_stream_path(@account, template_stream) %></td>
        <td><%= template_stream.version %></td>
        <td><%= template_stream.status %></td>
        <td><%= template_stream.publish_count %></td>
        <td><%= template_stream.updated_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>