<div class="row">
    <div class="col-sm-16">
        <h1>
            <%= folder_name_(@folder)%>
        </h1>
        <br/>
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <%= simple_form_for [@site, @folder] do |f| %>
                <%= f.input :ref_category_vertical_id, collection: @verticals, label: "Vertical", disabled: true %>
                <%= f.input :name, required: true %>
                <%= f.input :site_id, as: :hidden, input_html: {value: @site.id} %>
                <% if @folder.vertical.present? %>
                    <%= f.input :is_for_stories, as: :boolean, label: "&nbsp; Use this workspace to file stories?".html_safe, hint: "Implication: You wont be able to create data cards in this workspace."%>
                <% end %>
                <%= f.input :is_archived, as: :boolean, label: "&nbsp; Is Archived?".html_safe, hint: "Archive workspace whose stories you have published. Archived workspaces are not visible in site any more. You can find them and unarchive them if you need." %>
                <% if @site.users.count > 0 %>
                    <%=  f.input :collaborator_lists,  collection: @site.users.pluck(:name, :id), input_html: { class: 'ui search fluid dropdown', multiple: true}, label: "Add Collaborators" %>
                <% end %>
                <%= f.button :submit, "Save", class: "btn btn-sm btn-secondary" %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                |
                &nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to "Nevermind", site_folder_view_casts_path(@site, @folder ) %>
            <% end %>
            <br/>
            <p style="color: gray;">
                Created by <%= @folder.creator.name %> about <%= time_ago_in_words @folder.created_at %>
                <br/>
                Updated by <%= @folder.updator.name %> about <%= time_ago_in_words @folder.updated_at %>
            </p>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).on("turbolinks:load", function () {
        $('.ui.dropdown').dropdown({
            allowAdditions: false,
        });
    });
</script>