<%= render partial: "sites/header" %>
<div class="row">
    <div class="col-sm-16">
        <%= render partial: "admins/header" %>
        
        <%= link_to "Add a new workspace", new_account_site_folder_path(@account, @site), data: {turbolinks: false}, style: "float: right;" %>
        <br/><br/>
        <% if @folders.first.present? %>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Name
                        </td>
                        <td>#Cards
                        </td>
                        <td>#Stories
                        </td>
                        <td>For Stories?
                        </td>
                        <td>Is Archived?
                        </td>
                        <td>Created
                        </td>
                        <td>Updated
                        </td>
                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <% @folders.each do |folder| %>
                        <tr>
                            <td><%= link_to folder_name_(folder).html_safe, account_site_folder_view_casts_path(@account, @site, folder) %>
                            </td>
                            <td class="hint"><%= folder.view_casts.count %>
                            </td>
                            <td class="hint"><%= folder.pages.count %>
                            </td>
                            <td class="hint"><%= folder.is_for_stories %>
                            </td>
                            <td class="hint"><%= folder.is_archived %>
                            </td>
                            <td class="hint"><%= image_tag avatar_url(folder.creator.email), class: "rounded" %> <%= time_ago_in_words folder.created_at %>
                            </td>
                            <td class="hint"><%= image_tag avatar_url(folder.updator.email), class: "rounded" %> <%= time_ago_in_words folder.updated_at %>
                            </td>
                            <td>
                                <% if !folder.is_trash %>
                                <%= link_to "Edit", edit_account_site_folder_path(@account, @site, folder) %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>