<%= render partial: "sites/header" %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <%= simple_form_for [@account, @site, @folder] do |f| %>
                <%= f.input :name, required: true %>
                <%= f.input :site_id, as: :hidden, input_html: {value: @site.id} %>
                <%= f.input :ref_category_vertical_id, collection: @verticals, label: "Vertical" %>
                <%= f.input :is_for_stories, as: :boolean, label: "&nbsp; Use this workspace to file stories?".html_safe, hint: "Implication: You wont be able to create data cards in this workspace."%>
                <%= f.button :submit, "Add a new workspace", class: "btn btn-sm btn-secondary" %>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to "Never mind", account_site_folders_path(@account, @site)%>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3">
        <p>Why do you need a workspace?</p>
        <p>1. Write stories for a vertical</p>
		<p>
            Then, when creating workspace:
            <br/>
            * Choose relevant vertical
            <br/>
            * Tick the checkbox 'Use this workspace to file stories?'
        </p>
        <p>2. Create data cards for a vertical</p>
		<p>
            Then, when creating workspace:
            <br/>
            * Choose relevant vertical
            <br/>
            * Do not tick the checkbox 'Use this workspace to file stories?'
        </p>
        <p>3. Create cards, but your site is not hosted using ProtoTYPE</p>
		<p>
            Then, when creating workspace:
            <br/>
            * Do not choose a vertical
            <br/>
            * Do not tick the checkbox 'Use this workspace to file stories?'
        </p>
        </p>
	</div>
</div>