<%= content_for :page_title do %>
        <li class="breadcrumb-item"><%= link_to "Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false %></li>
        <li class="breadcrumb-item active" aria-current="page">Admin for Site: <%= @site.domain %></li>
        <li class="breadcrumb-item"><%= link_to "Folders", editorial_folders_account_site_admins_path(@account,@site), "data-turbolinks"=> false %></li>
        <li class="breadcrumb-item active" aria-current="page">New Folder</li>
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <%= simple_form_for [@account, @site, @folder] do |f| %>
                <%= f.input :name, required: true %>
                <%= f.input :site_id, as: :hidden, input_html: {value: @site.id} %>
                <%= f.input :ref_category_vertical_id, collection: @verticals, label: "Vertical" %>
                <%= f.input :is_for_stories, as: :boolean, label: "&nbsp; Use this folder to file stories?".html_safe, hint: "Implication: You wont be able to create data cards in this folder."%>
                <%= f.button :submit, "Add a new folder", class: "btn btn-sm btn-secondary" %>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
        <h2>Why do you need a folder?</h2>
        <h2>1. Write stories for a vertical</h2>
		<p>
            Then, when creating folder:
            <br/>
            * Choose relevant vertical
            <br/>
            * Tick the checkbox 'Use this folder to file stories?'
        </p>
        <h2>2. Create data cards for a vertical</h2>
		<p>
            Then, when creating folder:
            <br/>
            * Choose relevant vertical
            <br/>
            * Do not tick the checkbox 'Use this folder to file stories?'
        </p>
        <h2>3. Create cards, but your site is not hosted using ProtoTYPE</h2>
		<p>
            Then, when creating folder:
            <br/>
            * Do not choose a vertical
            <br/>
            * Do not tick the checkbox 'Use this folder to file stories?'
        </p>
        </p>
	</div>
</div>