<%= content_for :page_title do %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false %></li>
        <li class="breadcrumb-item active" aria-current="page">Editorial Planning</li>
        <li class="breadcrumb-item"><%= link_to "Folders", editorial_folders_account_site_admins_path(@account,@site), "data-turbolinks"=> false %></li>
        <li class="breadcrumb-item active" aria-current="page">New Folder</li>
      </ol>
    </nav>
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <%= simple_form_for [@account, @site, @folder] do |f| %>
                <%= f.input :name, required: true %>
                <%= f.input :site_id, as: :hidden, input_html: {value: @site.id} %>
                <%= f.input :ref_category_vertical_id, collection: @verticals, label: "Vertical" %>
                <%= f.input :is_for_stories, as: :boolean, label: "&nbsp; Use this folder to file stories?".html_safe, hint: "Implication: You wont be able to create data cards in this folder."%>
                <%= f.button :submit, "Add a new folder", class: "btn btn-sm btn-secondary" %>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<!--<h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>