<%= javascript_tag do %>
  $(document).ready(function() {
    var inputVertical = $("#folder_ref_category_vertical_id");
    var isForStoriesContainer = $("div.folder_is_for_stories");

    $(isForStoriesContainer).hide();

    $(inputVertical).change(function(){
      if($(this).val()){
          $(isForStoriesContainer).show();
          $(isForStoriesContainer).find("#folder_is_for_stories").prop("checked", true)
      }else{
        $(isForStoriesContainer).hide();
        $(isForStoriesContainer).find("#folder_is_for_stories").prop("checked", false)
      }
    });
  });
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <%= simple_form_for [@site, @folder] do |f| %>
                <%= f.input :name, required: true, label: "Name the workspace" %>
                <%= f.input :site_id, as: :hidden, input_html: {value: @site.id} %>
                <%= f.input :ref_category_vertical_id, collection: @verticals, label: "Associate this workspace with a specific subsite", id:"input-vertical"%>
                <%= f.input :is_for_stories, as: :boolean, label: "&nbsp; Use this workspace to file stories?".html_safe, hint: "Implication: You wont be able to create data cards in this workspace.", :input_html => { :checked => false }%>
                <%= f.button :submit, "Add a new workspace", class: "btn btn-sm btn-secondary" %>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to "Nevermind", site_path(@site)%>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3">
        <p>Why do you need a workspace?</p>
        <p>1. Write stories for a vertical</p>
		<p>
            Then, when creating workspace:
            <br/>
            * Choose relevant vertical
            <br/>
            * Tick the checkbox 'Use this workspace to file stories?'
        </p>
        <p>2. Create data cards for a vertical</p>
		<p>
            Then, when creating workspace:
            <br/>
            * Choose relevant vertical
            <br/>
            * Do not tick the checkbox 'Use this workspace to file stories?'
        </p>
        <p>3. Create cards, but your site is not hosted using ProtoTYPE</p>
		<p>
            Then, when creating workspace:
            <br/>
            * Do not choose a vertical
            <br/>
            * Do not tick the checkbox 'Use this workspace to file stories?'
        </p>
        </p>
	</div>
</div>
