<div class="container">
    <div class="row">
        <div class="col-sm-16">
            <h1  style="text-align: center">
              <%= @folder.name %>
            </h1>
        </div>
    </div>
    <div class='one-br-space'></div>
    <div class='one-br-space'></div>
</div>
<div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center; font-weight: 400;"><%= link_to "Cards <span class='badge badge-pill badge-secondary'>#{@view_casts_count}</span>".html_safe, account_site_folder_view_casts_path(@account, @site, @folder) %></h4>
          <hr style="margin-left: 20px; margin-right: 20px;"/>
          <% unless @folder.is_trash %>
            <div style='text-align: center;'>
              <%= link_to '+ Add a card', new_account_site_folder_view_cast_path(@account, @site, @folder), data: {turbolinks: false}, class: "nav-link btn btn-sm btn-primary", style: "margin-top: 5px;" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center; font-weight: 400;">
            <%= link_to "Pages <span class='badge badge-pill badge-secondary'>#{@page_count}</span>".html_safe, account_site_folder_pages_path(@account, @site, @folder) %></h4>
          <hr style="margin-left: 20px; margin-right: 20px;" />
          <% unless @folder.is_trash %>
            <div style='text-align: center;'>
              <%= link_to '+ Add a page', new_account_site_folder_page_path(@account, @site, @folder), data: {turbolinks: false}, class: "nav-link btn btn-sm btn-primary", style: "margin-top: 5px;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <% if @activities.count > 0 %>
      <%= render partial: "activities/index" %>
    <% end %>
</div>
<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
</script>
