<div class="container">
    <div class="row">
        <div class="col-sm-16">
            <h1  style="text-align: center">
              <%= @folder.name %>
            </h1>
            <h7><%= link_to "Edit folder", edit_account_folder_path(@account, @folder), style: "text-align: right; float: right;" %></h7>
            <div class="dropdown" style='float: right; position: absolute;right: 1%; top: 0'>
              <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Developer Tools
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "Streams <span class='badge badge-pill badge-secondary'>#{@streams_count}</span>".html_safe, account_folder_streams_path(@account, @folder), class: "dropdown-item" %>
              </div>
            </div>
        </div>
    </div>
    <div class='one-br-space'></div>
    <div class='one-br-space'></div>
</div>
<div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center; font-weight: 400;"><%= link_to "Cards <span class='badge badge-pill badge-secondary'>#{@view_casts_count}</span>".html_safe, account_folder_view_casts_path(@account, @folder) %></h4>
          <hr style="margin-left: 20px; margin-right: 20px;"/>
          <% unless @folder.is_trash %>
            <div style='text-align: center;'>
              <%= link_to '+ Add a card', new_account_folder_view_cast_path(@account, @folder), data: {turbolinks: false}, class: "nav-link btn btn-sm btn-primary", style: "margin-top: 5px;" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center; font-weight: 400;"><%= link_to "Prepare articles <span class='badge badge-pill badge-secondary'>#{@articles_count}</span>".html_safe, account_folder_articles_path(@account, @folder) %></h4>
          <hr style="margin-left: 20px; margin-right: 20px;"/>
          <% unless @folder.is_trash %>
            <div style='text-align: center;'>
              <%= link_to '+ Prepare an article', new_account_folder_article_path(@account, @folder), data: {turbolinks: false}, class: "nav-link btn btn-sm btn-primary", style: "margin-top: 5px;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <% if @activities.count > 0 %>
      <%= render partial: "activities/index" %>
    <% end %>
</div>
<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
</script>
