<%= simple_form_for([@account, @folder, @article]) do |f| %>
        <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
        <% if @article.id.nil? %>
            <%= f.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
        <% end %>
        <%= f.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
    <div class='ui grid'>
        <div class="left floated six wide column">
            hi
        </div>
        <div class="right floated ten wide column">
            <%= f.input :title %>
            <%= f.input :summary, as: :string %>
            <%= f.input :genre %>
            <%= f.submit "Save", class: "ui button primary" %>
        </div>
    </div>
<% end %>