<style>
    .form-group{margin-bottom: 0px !important;}
</style>
<div class="row-fluid" style="background: #fafbfc; ">
  <div class="container" style="padding-left: 0px; padding-right: 0px;">
    <br/>
    <div class="row"  style="padding-left: 0px; padding-right: 0px;">
        <div class="col-10">
            <h2 style="margin-bottom: 20px;">
                <%= @folder.name %>
                <spa>
                </h2>
            </div>
            <div class="col-2">
                <% if @account.logo_image_id.present? %>
                <%= link_to '+ Prepare an article'.html_safe, new_account_folder_article_path(@account, @folder), data: {turbolinks: false}, class: "btn btn-outline", role: "button" %>
                <% end %>
            </div>
        </div>
        <%= render partial: "folders/header" %>
    </div>
</div>
<br/><br/>
<%= simple_form_for([@account, @folder, @article]) do |f| %>
    <div class="container" style="padding-left: 0px;">
    <div class="row">
        <div class="col-12">
            <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
            <% if @article.id.nil? %>
                <%= f.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
            <% end %>
            <%= f.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
            <%= f.input :url, as: :string, placeholder: "*Copy paste the URL of the story", required: true, label: false, input_html: {style: "border: 0px !important; font-size: 12px; padding-left: 0px; padding-right: 0px; margin-bottom: 0px !important;"} %>
            <%= f.input :title, placeholder: "*Copy paste the headline", required: true, label: false, input_html: {style: "border: 0px !important; font-size: 28px; padding-left: 0px; padding-right: 0px; margin-top: 0px !important;"} %>
            <hr/>
            <h4 style="font-weight: 200;">Step #1 - Choose a genre</h4>
            <%= f.input :genre, placeholder: "Genre of the story e.g. Opinion, Analysis, Wire, Breaking, Exclusive, etc.", label: false, hint: "Cannot be longer than 40 characters" %>
            <hr/>
            <h4 style="font-weight: 200;">Step #2 - Choose a cover image</h4>
            <table>
                <tr>
                    <% if @article.cover_image_id.blank? %>
                        <td><%= image_tag "cover.png", width: "35px;" %></td>
                        <td>&nbsp;</td>
                        <td>
                            <!-- # Ensure that the cover_image updates -->
                        <%= f.fields_for :cover_image do |cover_image| %>
                            <%= cover_image.input :image, label: false %>
                        <% end %>
                        </td>
                        <td class="hint">&nbsp; Upload cover image</td>

                    <% else %>
                        <h6> Cover Image </h6>
                        <%= image_tag(@article.cover_image_variation.image_url, class: "ui centered image") %>
                        <br/>
                        <div style="text-align: center;">
                            <%= link_to "Remove Image", remove_cover_image_account_folder_article_path(@account, @folder, @article), class: "ui mini button", method: :put %>
                        </div>
                    <% end %>
                </tr>
            </table>
            <%= f.submit "Save", class: "ui button primary" %>
            <div class='one-br-space'></div>
            <image id='upload_preview_img' class='ui centered image' ></image>
            <br/>
            <hr/>
        </div>
    </div>
    </div>
<% end %>