<style>
    .form-group{margin-bottom: 0px !important;}
</style>
<div class="row-fluid" style="background: #fafbfc; ">
  <div class="container" style="padding-left: 0px; padding-right: 0px;">
    <br/>
    <div class="row"  style="padding-left: 0px; padding-right: 0px;">
        <div class="col-10">
            <h1 style="margin-bottom: 20px; font-weight: 600; margin-top: 0px; font-size: 20px;">
                <%= link_to @account.username, @account, style: "font-weight: 400;" %> / <%= @folder.name %>
                </h1>
            </div>
            <div class="col-2">
            </div>
        </div>

    </div>
    <%= render partial: "folders/header" %>
</div>
<br/><br/>
<%= simple_form_for([@account, @folder, @article]) do |f| %>
    <div class="container" style="padding-left: 0px;">
        <div class="row">
            <div class="col-12">
                <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
                <% if @article.id.nil? %>
                    <%= f.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
                <% end %>
                <%= f.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
                <%= f.input :url, as: :string, placeholder: "*Copy paste the URL of the story", required: true, label: false, input_html: {style: "border: 0px !important; font-size: 12px; padding-left: 0px; padding-right: 0px; margin-bottom: 0px !important;"}, autofocus: true %>
                <%= f.input :title, placeholder: "*Copy paste the headline", required: true, label: false, input_html: {style: "border: 0px !important; font-size: 28px; padding-left: 0px; padding-right: 0px; margin-top: 0px !important;"} %>
                <hr/>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h4 style="font-weight: 200;">Step #1 - Choose a genre</h4>
                <br/>
                <%= f.input :genre, placeholder: "Genre of the story e.g. Opinion, Analysis, Wire, Breaking, Exclusive, etc.", label: false, hint: "Cannot be longer than 40 characters", input_html: {style: "font-size: 12px;"} %>
                <%= f.input :author, placeholder: "Author of the article.", label: false, input_html: {style: "font-size: 12px;"} %>
                <div class='one-br-space'></div>
                <%= f.input :article_datetime, placeholder: "Published date and time of the article", label: "Time of the article", input_html: {style: "font-size: 12px;"} %>
                <div class='one-br-space'></div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h4 style="font-weight: 200;">Step #2 - Choose a cover image</h4>
                <br/>
                <table>
                    <tr>
                        <% if @article.cover_image_id.blank? %>
                            <td>
                                <!-- # Ensure that the cover_image updates -->
                                <%= f.fields_for :cover_image do |cover_image| %>
                                    <%= cover_image.input :image, label: false %>
                                <% end %>
                            </td>
                            <td class="hint">&nbsp; Upload cover image</td>
                        <% else %>
                            <div style="text-align: center; background: #fdfdfd;">
                                <div class='col-sm-8 col-sm-offset-2'>
                                    <%= image_tag(@article.cover_image_variation.image_url,width: "100%")  %>
                                </div>
                            </div>
                            <br/>
                            <%= link_to "Remove Image", remove_cover_image_account_folder_article_path(@account, @folder, @article), class: "btn btn-outline", method: :put %>
                        <% end %>
                        <%= f.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
                        <%= f.input :url, as: :string, placeholder: "*Copy paste the URL of the story", required: true, label: false, input_html: {style: "border: 0px !important; font-size: 12px; padding-left: 0px; padding-right: 0px; margin-bottom: 0px !important;"}, autofocus: true %>

                        <%= f.input :title, placeholder: "*Copy paste the headline", required: true, label: false, input_html: {style: "border: 0px !important; font-size: 32px; font-weight: bold; color: black; padding-left: 0px; padding-right: 0px; margin-top: 0px !important;"}%>
                        <%= f.input :author, placeholder: "Author of the article.", label: false, input_html: {style: "border: 0px !important; font-size: 12px; padding-left: 0px; padding-right: 0px; margin-bottom: 0px !important;"} %>
                        <div class='one-br-space'></div>
                        <%= f.input :article_datetime, placeholder: "Published date and time of the article", label: "Time of the article", input_html: {style: "font-size: 12px;"} %>
                        <div class='one-br-space'></div>
                    </div>
                    <div class="col-sm-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-14">
                        <br/>
                                <% if @article.cover_image_id.blank? %>
                                    <!-- # Ensure that the cover_image updates -->
                                    <p class="hint" style="margin-bottom: 0px;">Upload cover image</p>
                                    <%= f.fields_for :cover_image do |cover_image| %>
                                        <%= cover_image.input :image, label: false, placeholder: "Upload cover image", input_html: {style: "width: 100%; background: lightgray; min-height: 400px; cursor: pointer; padding: 160px 0px 0px 40%;"} %>
                                    <% end %>
                                <% else %>

                                    <%= image_tag(@article.cover_image_variation.image_url, class: "ui centered image") %>

                                <br/>
                                <%= link_to "Remove Image", remove_cover_image_account_folder_article_path(@account, @folder, @article), method: :put, style: "text-align: right;" %>
                                <br/>
                                <% end %>

                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-4">

                        <%= f.input :genre, placeholder: "E.g. Opinion, Analysis, Wire, Breaking, Exclusive, etc.", label: "Choose a genre of the story", hint: "Cannot be longer than 16 characters", input_html: {style: "font-size: 12px;"}, maxlength: 16, disabled: @article.id.present? ? true : false %>
                        <%= f.submit "Save", class: @article.id.present? ? "btn btn-outline" : "btn btn-primary" %>
                    </div>
                </div>


            </div>
    <% end %>
</div>