<%= render partial: "articles/form" %>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-4">
            <br/>
            <h5>Prepare article for Social Distribution</h5>
            <br/>
            <% if @image.blank? %>
                <div class="alert alert-danger" role="alert">
                  To continue, upload a cover image.
                </div>
            <% else %>

                <% if @article.og_image_variation_id.present? %>
                    <p class="hint">
                        Facebook Image
                        <span style="float: right;">
                            <%= link_to "Remove".html_safe, remove_facebook_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </span>
                    </p>

                    <%= link_to (image_tag @article.og_image_variation.image_url, class: 'img-fluid'), download_account_image_variation_path(@account, @article.og_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"  %>


                <% else %>
                   <%= link_to "Crop cover image for Facebook", "#", id: "social_button", class: "btn btn-outline protograph-social-crop-btn", "data-toggle"=>'modal', "data-mode"=>'#facebook', "data-target"=>'#socialCropperModal' %>
                <% end %>
                <br/><br/>
                <% if @article.twitter_image_variation_id.present? %>
                    <p class="hint">
                        Twitter Image
                        <span style="float: right;">
                            <%= link_to "Remove".html_safe, remove_twitter_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </span>
                    </p>
                    <%= link_to (image_tag @article.twitter_image_variation.image_url, class: 'img-fluid'), download_account_image_variation_path(@account, @article.twitter_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"  %>


                <% else %>
                    <%= link_to "Crop cover image for Twitter", "#", id: "social_button", class: "btn btn-outline protograph-social-crop-btn", "data-toggle"=>'modal', "data-mode"=>'#twitter', "data-target"=>'#socialCropperModal' %>
                <% end %>
                <br/><br/>
                <% if @article.instagram_image_variation_id.present? %>
                    <p class="hint">
                        Instagram Image
                        <span style="float: right;">
                            <%= link_to "Remove".html_safe, remove_instagram_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </span>
                    </p>


                    <%= link_to (image_tag @article.instagram_image_variation.image_url, class: 'img-fluid'), download_account_image_variation_path(@account, @article.instagram_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"  %>


                <% else %>
                    <%= link_to "Crop 1:1 cover image for Instagram", "#", id: "social_button", class: "btn btn-outline protograph-social-crop-btn", "data-toggle"=>'modal', "data-mode"=>'#instagram', "data-target"=>'#socialCropperModal' %>
                <% end %>
            <% end %>

            <% if @article.cover_image.present? and @article.article_datetime.present? %>
                <% if @article.article_card.present? %>
                    <!-- Show the Preview -->
                    <%= render partial: "articles/to_article_preview", locals: {view_cast: @article.article_card } %>
                <% end %>

                <%= link_to "Publish Card", publish_card_account_folder_article_path(@account, @folder, @article), method: :put %>
            <% end %>
        </div>
    </div>
</div>






<% if @article.id.present? and @article.cover_image_id.present? %>
<div class="modal" id="socialCropperModal"> <i class="close icon"></i>
  <%= render partial: "images/cropper", locals: {mode: "facebook"} %>
</div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        var preview = $("#upload_preview_img");
        $("#article_cover_image_attributes_image").change(function(event){
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function(e){
             image_base64 = e.target.result;
             preview.attr("src", image_base64);
         };
         reader.readAsDataURL(file);
     });
    });

</script>

<%= render partial: "images/cropper_js" %>

