<%= render partial: "articles/form" %>
<br/>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="col-sm-12">
                <% if !@image.present? %>
                    <div class="alert alert-danger" role="alert">
                      To continue, upload a cover image.
                    </div>

                <% else %>
                    <h4 style="font-weight: 200;">Step #3 - Prepare cover images for social media distribution</h4>
                    <br/>
                    <% if @article.og_image_variation_id.present? %>
                        <h5 style='font-weight: 100;'>
                            Facebook Image
                            <%= link_to "<span class='oi' data-glyph='data-transfer-download'></span>".html_safe, download_account_image_variation_path(@account, @article.og_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"  %>
                            <%= link_to "<span class='oi red' data-glyph='ban'></span>".html_safe, remove_facebook_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </h5>
                        <%= image_tag(@article.og_image_variation.image_url) %>
                        <div class='one-br-space'></div>
                    <% else %>
                        <%= link_to "Crop cover image for Facebook", "#", id: "social_button", class: "btn btn-outline", "data-toggle"=>'modal', "data-target"=>'#socialCropperModal' %>
                    <% end %>
                    <br/><br/>
                    <% if @article.twitter_image_variation_id.present? %>
                        <h5 style='font-weight: 100;'>
                            Twitter Image
                            <%= link_to "<span class='oi' data-glyph='data-transfer-download'></span>".html_safe, download_account_image_variation_path(@account, @article.twitter_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"%>
                            <%= link_to "<span class='oi red' data-glyph='ban'></span>".html_safe, remove_twitter_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </h5>
                        <%= image_tag(@article.twitter_image_variation.image_url) %>
                        <div class='one-br-space'></div>
                    <% else %>
                        <%= link_to "Crop cover image for Twitter", "#", id: "social_button", class: "btn btn-outline", "data-toggle"=>'modal', "data-target"=>'#socialCropperModal' %>
                    <% end %>
                    <br/><br/>
                    <% if @article.instagram_image_variation_id.present? %>
                        <h5 style='font-weight: 100;'>
                            Instagram Image
                            <%= link_to "<span class='oi' data-glyph='data-transfer-download'></span>".html_safe, download_account_image_variation_path(@account, @article.instagram_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank" %>
                        <%= link_to "<span class='oi red' data-glyph='ban'></span>".html_safe, remove_instagram_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </h5>
                        <div class='one-br-space'></div>
                        <%= image_tag(@article.instagram_image_variation.image_url) %>
                        <div class='one-br-space'></div>
                    <% else %>
                        <%= link_to "Crop cover image for Instagram", "#", id: "social_button", class: "btn btn-outline", "data-toggle"=>'modal', "data-target"=>'#socialCropperModal' %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>




<% if @article.id.present? and @article.cover_image_id.present? %>
    <div class="modal" id="socialCropperModal"> <i class="close icon"></i>
      <%= render partial: "images/cropper", locals: {mode: "facebook"} %>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        var preview = $("#upload_preview_img");
        $("#article_cover_image_attributes_image").change(function(event){
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function(e){
               image_base64 = e.target.result;
               preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

    });

</script>

<%= render partial: "images/cropper_js" %>

