<%= render partial: "articles/form" %>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-4">
            <br/>
            <label class="control-label string optional disabled">Brand cover image for Social Distribution</label>
            <br/>
            <% if @image.blank? %>
                <div class="alert alert-danger" role="alert">
                  To continue, upload a cover image.
                </div>
            <% else %>
                <% if @article.og_image_variation_id.present? %>

                    <p class="hint">
                        Facebook Image
                        <span style="float: right;">
                            <%= link_to "Remove".html_safe, remove_facebook_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </span>
                    </p>

                    <%= link_to (image_tag @article.og_image_variation.image_url, class: 'img-fluid'), download_account_image_variation_path(@account, @article.og_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"  %>


                <% else %>
                   <span style="float: right;">
                    <%= link_to "Crop for Facebook", "#", id: "social_button", class: "protograph-social-crop-btn", "data-toggle"=>'modal', "data-mode"=>'#facebook', "data-target"=>'#socialCropperModal' %>
                   </span>
                <% end %>
                <br/><br/>
                <% if @article.twitter_image_variation_id.present? %>
                    <p class="hint">
                        Twitter Image
                        <span style="float: right;">
                            <%= link_to "Remove".html_safe, remove_twitter_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </span>
                    </p>
                    <%= link_to (image_tag @article.twitter_image_variation.image_url, class: 'img-fluid'), download_account_image_variation_path(@account, @article.twitter_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"  %>


                <% else %>
                    <span style="float: right;">
                        <%= link_to "Crop for Twitter", "#", id: "social_button", class: "protograph-social-crop-btn", "data-toggle"=>'modal', "data-mode"=>'#twitter', "data-target"=>'#socialCropperModal' %>
                    </span>
                <% end %>
                <br/><br/>
                <label class="control-label string optional disabled">Prepare image for Instagram</label>
                <% if @article.instagram_image_variation_id.present? %>
                    <p class="hint">
                        Instagram Image
                        <span style="float: right;">
                            <%= link_to "Remove".html_safe, remove_instagram_image_account_folder_article_path(@account, @folder, @article), method: :put %>
                        </span>
                    </p>


                    <%= link_to (image_tag @article.instagram_image_variation.image_url, class: 'img-fluid'), download_account_image_variation_path(@account, @article.instagram_image_variation, filename: "#{@article.slug}"), method: "post", target: "_blank"  %>


                <% else %>
                    <span style="float: right;">
                        <%= link_to "Crop", "#", id: "social_button", class: "protograph-social-crop-btn", "data-toggle"=>'modal', "data-mode"=>'#instagram', "data-target"=>'#socialCropperModal' %>
                    </span>
                <% end %>
            <% end %>
            <br/>
            <br/>
            <label class="control-label string optional disabled">Brand cover image for Social Distribution</label>
            <br/>
            <% if @article.cover_image.present? and @article.article_datetime.present? %>
                <% if @article.article_card.present? %>
                    <!-- Show the Preview -->
                    <%= render partial: "articles/to_article_preview", locals: {view_cast: @article.article_card } %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<% if @article.id.present? and @article.cover_image_id.present? %>
<div class="modal" id="socialCropperModal"> <i class="close icon"></i>
  <%= render partial: "images/cropper", locals: {mode: "facebook"} %>
</div>
<% end %>

<%= render partial: "images/cropper_js" %>

