<div class="container">
    <% if @articles.first.blank? %>
        <div class="blankslate blankslate-spacious">
            <% if @folder.is_trash %>
                <h3>There are no articles in the recycle bin.</h3>
            <% else %>
                <% if @account.logo_image_id.present? %>
                    <h3>No articles prepared yet.</h3>
                    <p>Use the [+ Prepare an article] button on the top right.</p>
                <% else %>
                    <h3>Please <%= link_to "upload your logo", edit_account_path(@account) %></h3>
                    <p>We need your a square logo of your team to prepare article.</p>
                <% end %>
            <% end %>
        </div>
  <% else %>
  <div class="row">
    <table class="ui very basic table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="collapsing">Last modified at</th>
            <th>by</th>
        </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <% if article.id.present? %>
      <tr>
        <td>
            <%= link_to article.title.titleize, edit_account_folder_article_path(@account, @folder, article), "data-turbolinks"=> false %>
        </td>
        <td class="hint">
            <%= "#{time_ago_in_words(article.updated_at)} ago" %>
        </td>
        <td class="hint collapsing">
            <%= article.creator.name %>
        </td>
    </td>
</tr>
<% end %>
<% end %>
</tbody>
</table>
</div>
<% end %>

<%= paginate @articles, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>

</div>

