<div style='width:100%; box-sizing: border-box'>
    <div class="ui mini breadcrumb">
        <%=link_to @account.username, @account, class: "section" %>
        <i class="right angle icon divider"></i>
        <div  class="section" ><%=@folder.name %></div>

    </div>
    <div class='one-br-space'></div>
    <div class="ui grid">
        <div class="left floated three wide column">
          <span class='ui huge header'><%= @folder.name %></span>
        </div>
        <div class="right floated four wide column right aligned">
          <a id='formAddButton' href='<%= new_account_folder_article_path(@account, @folder) %>' class='ui primary basic button mini'>Prepare a new article</a>
        </div>
    </div>
    <div class="ui top attached tabular menu">
        <a class="item" href="<%= account_folder_path(@account, @folder) %>">Cards</a>
        <a class="item" data-tab="third">Streams</a>
        <a class="active item" href="<%= account_folder_articles_path(@account, @folder) %>">Articles</a>
    </div>
    <div class='card-parent-class'>
        <div class="ui bottom active tab" data-tab="third">
            <% if @articles.first.blank? or @articles.first.id.nil? %>
                <%= image_tag "option-2.png" %>
                <!-- Replace the image with  Create a new Stream-->
            <% else %>
                <table class="ui very basic table">
                    <!-- <thead>
                        <tr>
                            <th>Name</th>
                            <th>No. of Cards</th>
                            <th>Last modified at</th>
                            <th>Created by</th>
                        </tr>
                    </thead> -->
                    <tbody>
                      <% @articles.each do |article| %>
                        <% if article.id.present? %>
                            <tr>
                                <td>
                                    <i class='icon folder steelblue'></i>
                                    <%= link_to article.title.titleize, [@account, @folder, article] %>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <%= "#{time_ago_in_words(article.updated_at)} ago" %>
                                </td>
                                <td>
                                    <%= article.creator.name %>
                                </td>
                                </td>
                            </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
</div>