<div style='width:100%; box-sizing: border-box'>
    <div class="ui top attached tabular menu">
        <a class="item" href="<%= account_folder_path(@account, @folder) %>">Cards</a>
        <a class="item" data-tab="third">Streams</a>
        <a class="active item" href="<%= account_folder_articles_path(@account, @folder) %>">Prepare articles</a>
    </div>
    <div class='card-parent-class'>
        <div class="ui bottom active tab" data-tab="third">
            <% if @articles.first.blank? or @articles.first.id.nil? %>
                <%= image_tag "option-2.png" %>
                <!-- Replace the image with  Create a new Stream-->
            <% else %>
                <table class="ui very basic table">
                    <!-- <thead>
                        <tr>
                            <th>Name</th>
                            <th>No. of Cards</th>
                            <th>Last modified at</th>
                            <th>Created by</th>
                        </tr>
                    </thead> -->
                    <tbody>
                      <% @articles.each do |article| %>
                        <% if article.id.present? %>
                            <tr>
                                <td>
                                    <i class='icon folder steelblue'></i>
                                    <%= link_to article.title.titleize, [@account, @folder, article] %>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <%= "#{time_ago_in_words(article.updated_at)} ago" %>
                                </td>
                                <td>
                                    <%= article.creator.name %>
                                </td>
                                </td>
                            </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
</div>