<div class="sixteen wide column">
  <div class="ui breadcrumb">
    <a class="section"><%= link_to "App Store", account_template_data_path(@account) %></a>
  </div>
  <h1 class="ui header" style="margin-top: 0px;">
    <%= show_lock(true, @template.name + " - "+@template.version.to_s).html_safe %>
  </h1>
  <div class="ui mini three ordered steps">
    <div class="<%= @template.can_ready_to_publish? ? "active completed step" : "active step"%>">
      <div class="content">
        <div class="title">Draft</div>
        <div class="description">Fill up the details.</div>
      </div>
    </div>
    <div class="<%= @template.status == "Published" ? "active completed step" : @template.can_ready_to_publish? ? "active step" : "step"%>">
      <div class="content">
        <div class="title">Publish</div>
        <div class="description">Verify. Review. Test.</div>
      </div>
    </div>
    <div class="<%= @template.status != "Published" ? "step" : "active completed step"%>">
      <div class="content">
        <div class="title">Connect</div>
        <div class="description">Go live. Use.</div>
      </div>
    </div>
  </div>
</div>