<h3>
  <a class="<%= template.can_ready_to_publish? ? "ui green ribbon label" : "ui blue ribbon label" %>">
    Step #1
  </a>
  What is this template all about?
</h3>
<br/>
<%= simple_form_for [@account, template] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :elevator_pitch, label: "Describe in 140 characters.", disabled: template.status == "Published" %>
    <%= f.input :description, as: :text, label: "Describe in detail.", input_html: {rows: 3}, disabled: template.status == "Published" %>
    <%= f.input :change_log, as: :text, label: "What changed in this version?", placeholder: "Change log", input_html: {rows: 3}, disabled: template.status == "Published" %>
  </div>
  <div class="form-actions">
    <br/>
    <%= f.button :submit, "Update", class: "ui basic button" %>
  </div>
<% end %>
<br/>