<p style="font-weight: 400; color: gray; margin-bottom: 30px;">
    Last updated by
    <%= template.updator.name %>
    <%= time_ago_in_words template.updated_at %>
  </p>
  <div class="ui list">
    <% if template.status == "Published" %>
      <%= link_to "Solve a bug", url['bug'], class: "item" %>
      <%= link_to "Minor update", url['minor'], class: "item" %>
      <%= link_to "Major Update", url['major'], class: "item" %>
      <br/>
    <% end %>

    <% last_series = nil %>
    <% @siblings.each do |s| %>
    <% if last_series != s.version_series %>
    <div class="item" style="margin-bottom: 5px;">
      <i class="folder icon"></i>
      <div class="content">
        <div class="header">
          SERIES: <%= s.version_series %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="item" style="margin-left: 20px; ">
      <div class="content">
        <div class="header">
          <%= link_to([@account, s], style:  s.id == template.id ? "color: orange !important;" : ""  ) do %>
            <% if s.is_current_version %>
            <i class="checkmark icon" style="color: green; padding-top: 5px; font-size: 15px;"></i>
            <% elsif s.version_genre == "bug" %>
            <i class="bug icon" style="padding-top: 5px;"></i>
            <% elsif s.version_genre == "major" %>
            <i class="cubes icon" style="padding-top: 5px;"></i>
            <% elsif s.version_genre == "minor" %>
            <i class="cube icon" style="padding-top: 5px;"></i>
            <% end %>
            <%= s.version.to_s %>
            <div class="ui label"><%= s.status %></div>
          <% end %>
        </div>
      </div>
    </div>
    <% last_series = s.version_series %>
    <% end %>
  </div>