<p id="notice"><%= notice %></p>

<h1>Services Attachables</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Attachable</th>
      <th>Attachable type</th>
      <th>Genre</th>
      <th>File url</th>
      <th>Original file name</th>
      <th>File type</th>
      <th>S3 bucket</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services_attachables.each do |services_attachable| %>
      <tr>
        <td><%= services_attachable.account_id %></td>
        <td><%= services_attachable.attachable_id %></td>
        <td><%= services_attachable.attachable_type %></td>
        <td><%= services_attachable.genre %></td>
        <td><%= services_attachable.file_url %></td>
        <td><%= services_attachable.original_file_name %></td>
        <td><%= services_attachable.file_type %></td>
        <td><%= services_attachable.s3_bucket %></td>
        <td><%= services_attachable.created_by %></td>
        <td><%= services_attachable.updated_by %></td>
        <td><%= link_to 'Show', services_attachable %></td>
        <td><%= link_to 'Edit', edit_services_attachable_path(services_attachable) %></td>
        <td><%= link_to 'Destroy', services_attachable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Services Attachable', new_services_attachable_path %>
