<p id="notice"><%= notice %></p>

<h1>Page Todos</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>User</th>
      <th>Template card</th>
      <th>Task</th>
      <th>Is completed</th>
      <th>Sort order</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_todos.each do |page_todo| %>
      <tr>
        <td><%= page_todo.page_id %></td>
        <td><%= page_todo.user_id %></td>
        <td><%= page_todo.template_card_id %></td>
        <td><%= page_todo.task %></td>
        <td><%= page_todo.is_completed %></td>
        <td><%= page_todo.sort_order %></td>
        <td><%= page_todo.created_by %></td>
        <td><%= page_todo.updated_by %></td>
        <td><%= link_to 'Show', page_todo %></td>
        <td><%= link_to 'Edit', edit_page_todo_path(page_todo) %></td>
        <td><%= link_to 'Destroy', page_todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page Todo', new_page_todo_path %>
