<div class="row">
  <div class="col-3">
    <%= render partial: "accounts/sidebar" %>
  </div>
  <div class="col-7">
    <h3>Team Settings</h3>
    <br/>
    <div class="ui very relaxed list" style="width: 100% !important;">
      <h5>PENDING INVITATIONS</h5>
      <% @permission_invites.each do |permission_invite| %>
        <div class="item">
          <img class="ui avatar image" src=<%=avatar_url(permission_invite.email)%>>
          <div class="content">
            <div class="header">
              <%= permission_invite.email %>
              <span style="float: right;">
                <%= permission_invite.ref_role_slug.titleize %>
                <%= link_to "<i class='trash outline icon'></i>".html_safe, account_permission_invite_path(@account, permission_invite), method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </div>
            <div class="description">Invited by <%= permission_invite.creator.name %> <%= time_ago_in_words (permission_invite.creator.created_at) %>.</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-2">
      <div style="text-align: right;">
      <span id='invite_members'><a>Invite people</a></span>
      <% if @pending_invites_count != 0 %>
      &nbsp;&nbsp; | &nbsp;&nbsp;
      <%= link_to "Pending Invitations (#{@pending_invites_count})".html_safe, account_permission_invites_path(@account) %>
      <% end %>
      </div>
  </div>
</div>

<%= render partial: "permission_invites/form" %>
<script>
  $('.ui.modal#platform_modal')
  .modal('attach events', '#invite_members', 'show');
</script>