<div class="row">
    <div class="col-sm-13">
        <div style="width: 90%;">
            <br/>
            <br/>
            <h2>Manage members</h2>
            <br/>
            <ul class="nav nav-tabs" style="font-size: 12px;">
              <li class="nav-item"><%= link_to "Site Team", account_site_permission_invites_path(@account, @site), class: (controller_name == "permission_invites" and action_name == "index") ? "nav-link active" : "nav-link" %>
              <li class="nav-item"><%= link_to "Account Owners", account_owners_account_admins_path(@account), class: (controller_name == "admins" and action_name == "account_owners") ? "nav-link active" : "nav-link" %>
              <li class="nav-item"><%= link_to "Security Settings", access_security_account_site_admins_path(@account, @site), class: (controller_name == "admins" and action_name == "access_security") ? "nav-link active" : "nav-link" %>
            </ul>
            <br/>
            <br/>
            <% if @permissions.first.blank? %>
                <p class="hint">No team members invited yet.</p>
            <% else %>
                <table class="table table-hover">
                    <tbody>
                        <% @permissions.each do |permission| %>
                            <tr>
                                <td style="width: 25px; border: 0px;"><img class="rounded" src=<%=avatar_url(permission.user.email)%>>
                                </td>
                                <td style="border: 0px;">
                                    <%= permission.name %>
                                    <% if permission.status == "Deactivated" %>
                                        <i style="font-weight: 200; color: gray;">(Deactivated)</i>
                                    <% end %>
                                    <br/>
                                    <div class="hint"><%= permission.user.email %></div>
                                    <% if permission.user.current_sign_in_at.present? %>
                                        <div class="hint">Last seen <%= time_ago_in_words(permission.user.current_sign_in_at) %> ago.</div>
                                    <% end %>
                                </td>
                                <td style="border: 0px;" class="hint">
                                    <%= permission.bio %>
                                </td>
                                <td style="border: 0px; width: 70px;">
                                    <%= link_to "Edit", edit_account_permission_path(@account, permission) %>
                                </td>
                                <td style="border: 0px; width: 100px;">
                                    <%= simple_form_for(permission, url: change_role_account_site_permission_path(@account, @site, permission), class: "permission_forms", method: :put) do |f| %>
                                        <%= f.hidden_field :updated_by, value: current_user.id %>
                                        <%= f.hidden_field :redirect_url, value: account_site_permission_invites_path(@account, @site) %>
                                        <%= f.input :ref_role_slug, collection: @permission_roles, include_blank: false, label: false, input_html: {class: "permission_select"} %>
                                    <% end %>
                                </td>
                                <td style="border: 0px;">
                                    <% if current_user.id != permission.user_id and permission.status != "Deactivated" %>
                                        <%= link_to "x", account_permission_path(@account,   permission, redirect_url: account_site_permission_invites_path(@account, @site)), method: :delete, data: { confirm: 'Are you sure?' } %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                        <%= paginate @permissions %>
                    </tbody>
                </table>
            <% end %>
            <% if @pending_invites_count != 0 %>
                <br/>
                <h3>Pending Invites</h3>
                <hr/>
                <table class="table">
                    <tbody>
                        <% @permission_invites.each do |permission_invite| %>
                            <tr>
                                <td style="width: 25px; border: 0px;"><img class="rounded" src=<%=avatar_url(permission_invite.email)%>>
                                </td>
                                <td style="border: 0px;">
                                    <%= permission_invite.email %>
                                        <div class="hint">Invited by
                                            <%= permission_invite.creator.name %>
                                                <%= time_ago_in_words (permission_invite.created_at) %>.
                                        </div>
                                </td>
                                <td style="border: 0px;">
                                    <%= link_to "x", account_permission_invite_path(@account, permission_invite,redirect_url: account_site_permission_invites_path(@account, @site)), method: :delete, data: { confirm: 'Are you sure?' } %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= simple_form_for [@account, @permission_invite] do |f| %>
            <% if @permission_invite.errors.any? %>
                <div id="error_explanation" class="ui error message">
                    <div class="header">
                        <%= pluralize(@permission_invite.errors.count, "error") %> prohibited this permission_invite from being saved:
                    </div>
                    <% @permission_invite.errors.full_messages.each do |message| %>
                        <p>
                            <%= message %>
                        </p>
                    <% end %>
                </div>
            <% end %>
            <%= f.hidden_field :permissible_type, value: "Site" %>
            <%= f.hidden_field :permissible_id, value: @site.id %>
            <%= f.hidden_field :created_by, value: current_user.id %>
            <%= f.hidden_field :updated_by, value: current_user.id %>
            <%= f.input :name, required: true, autofocus: true %>
            <%= f.input :email, as: :email, id: :permission_invite_email, required: true, hint: "Ensure this email really belongs to the author. If you use someone else's email ID, and that person is on ProtoTYPE then they will get access to the account." %>
            <%= f.hidden_field :redirect_url, value: account_site_permission_invites_path(@account, @site) %>
            <%= f.input :ref_role_slug, collection: @permission_roles, include_blank: false, label: "Role" %>
            <%= f.input :create_user, as: :boolean, label: "&nbsp; Go ahead and create user?".html_safe, hint: "We will assign a random secure password." %>
            <%= f.input :do_not_email_user, as: :boolean, label: "&nbsp; Do not email this user".html_safe, hint: "Use this if writer will send you the article over email and you will file it." %>
            <%= f.submit "Invite", class: "btn btn-sm btn-secondary" %>
        <% end %>
        <hr/>
        <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
		<h2>Site Roles</h2>
		<p><b>Editors</b> are allowed to everything within this site. They are restricted from changing account settings or adding new sites.</p>
        <p><b>Writers</b> cannot do what Editors cannot do. Additionally, they cannot change site settings, add site team and can see only those workspaces, cards, streams and pages they create.</p>
        <p><b>Contributors</b> cannot do what Writers cannot do.</p>
	</div>
</div>


<script type="text/javascript">
    $(document).on("turbolinks:load", function(){
        $(".permission_select").on("change", function(){
            $(this).parents('form').submit();
        });
    });
</script>

