<p id="notice"><%= notice %></p>

<h1>Datacast Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Datacast</th>
      <th>Account</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datacast_accounts.each do |datacast_account| %>
      <tr>
        <td><%= datacast_account.datacast_id %></td>
        <td><%= datacast_account.account_id %></td>
        <td><%= datacast_account.is_active %></td>
        <td><%= link_to 'Show', datacast_account %></td>
        <td><%= link_to 'Edit', edit_datacast_account_path(datacast_account) %></td>
        <td><%= link_to 'Destroy', datacast_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datacast Account', new_datacast_account_path %>
