<div class="sixteen wide column">
  <%= render partial: "accounts/header" %>

  <div class="ui right attached rail" style="margin-top: 30px; border: 0px;">
    <div class="ui segment" style="border: 0px; box-shadow: none; color: gray; font-size: 11px;">
      <h4>What?</h4>
      <p>Give read/write permissions to your various platforms. Access to your CDN account (Akamai, Amazon S3, etc.) will be used to publish content before publishing. Access to your social media accounts will be used for helping you distribute content to these channels.</p>
    </div>
  </div>


  <div class="center aligned one column row">
    <div class="center column">
      <%= link_to '<i class="facebook icon"></i> Facebook'.html_safe, oauth_path({provider: :facebook, account_id: @account.id, current_user_id: current_user.id}), class: "ui facebook button #{@fb_auth.present? ?  'disabled' : ''}" %>

      <%= link_to '<i class="twitter icon"></i> Twitter'.html_safe, oauth_path({provider: :twitter, account_id: @account.id, current_user_id: current_user.id }), class: "ui twitter button #{@tw_auth.present? ?  'disabled' : ''}" %>

      <%= link_to '<i class="instagram icon"></i> Instagram'.html_safe, oauth_path({provider: :instagram, account_id: @account.id, current_user_id: current_user.id}), class: "ui instagram button #{@insta_auth.present? ?  'disabled' : ''}" %>
    </div>
  </div>
  <br/><br/>
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>User</th>
        <th>Social Media</th>
        <th>Created by</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <% @authentications.each do |a| %>
      <tr>
        <td><%= @account.username %></td>
        <td><%= a.provider.titleize %></td>
        <td><%= a.creator.name %></td>
        <td><%= time_ago_in_words(a.updated_at) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


