<br/>
<br/>
<br/>
<div style="margin-left: auto; margin-right: auto; width: 300px;">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.input :password, autofocus: true, autocomplete: "off" %>
      <%= f.input :password_confirmation, placeholder: 'Confim password' %>
      <%= f.submit "Reset", class: "btn btn-sm btn-secondary" %>
    <% end %>
    
</div>