<div class="ui two column centered grid">  <div class="column">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, autofocus: true %>
          <%= f.submit "Send me reset password instructions", class: 'ui button' %>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
</div>
</div>