<div class="ui grid">
    <div class="two wide column">
      <%= link_to((image_tag "logo.png", style: "width: 50px;"), root_url) %>
    </div>
    <div class="fourteen wide column">
      <h1 class="ui small header" style="margin-top: 13px; margin-left: 30px; margin-bottom: 30px;">Welcome to ProtoGraph.co</h1>
    </div>
</div>
<div class="ui grid" style="margin-top: 100px;">
<div class="ui one column centered grid">
  <div class="column">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, autofocus: true %>
          <%= f.submit "Send me reset password instructions", class: 'ui button' %>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
</div>
</div>
</div>