<%= content_for :proto_container_col_sm_9_content_col do %>
    <div class="row">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, autofocus: true %>
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
    </div>
<% end %>