<div style="margin-left: auto; margin-right: auto; width: 300px;">
    <%= link_to image_tag("proto-dark.png", style: "height: 36px;"), root_url %>
    <br/>
    <br/>
</div>
<div class="row sign-up-area">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, autofocus: true %>
        <%= f.submit "Confirm email", class: "btn btn-sm btn-secondary" %>
    <% end %>
    <br/>
</div>
