<div class="ui sixteen column grid">
    <div class="sixteen wide column">
        <h1 class="ui header" style="margin-top: 10px;">
            ProtoTYPE Documentation
        </h1>
        <div class="ui divider"></div>
        <h3 class="ui header">Why was ProtoTYPE built?</h3>
        <p>Our goal is to experiment with tools that will help journalists tell stories better. Each tool has it’s own requirements and look and feel. One cannot code these unique tools in a way that is deeply integrated with the CMS. That would make the CMS more complex to manage and error prone.</p>
        <p>That said, there are a number of utility services that are required for every tool to make them usable. This includes, but is not limited to, services like the ability to use these tools, discover them, version control them, embed them in one's CMS, measure analytics, etc.</p>
        <p>There is a need for a platform that would empower developers to come up with each individual tool as an independent piece of code and yet work coherently with common services. This is what is ProtoTYPE.</p>
        <h3 class="ui header">Cards</h3>
        <p><%= link_to "Basics", docs_cards_path %></p>
        <p><%= link_to "Build your own cards", docs_cards_build_your_own_path %></p>
        <p style="padding-left: 40px;"><%= link_to "Design recommendations for cards", docs_cards_design_recommendation_path %></p>
        <p style="padding-left: 40px;"><%= link_to "Style Guide: How to design icons for your card?", docs_cards_styleguide_icons_path %></p>
        <p><%= link_to "Publishing cards", docs_cards_publishing_path %></p>
        <h3 class="ui header">Streams</h3>
        <p><%= link_to "Basics", docs_streams_path %></p>
    </div>
</div>