<div class="container">
    <% if @view_casts.first.blank? %>
        <%= image_tag "option-2.png", width: "100%" %>
    <% else %>
        <div class="row">
            <% @view_casts.each do |d| %>
                <div class="col-3">
                    <%= link_to [@account, @folder,d], "data-turbolinks"=> false do %>
                        <div class="card card-inverse" style="margin: 20px 0px; ">
                            <img class="card-img" src="<%= d.render_screenshot_url %>">
                            <div class="card-img-overlay" style="height: 250px; margin: 0px;">

                            </div>
                          <div class="card-footer">
                              <h4 class="card-title" title="<%=d.name%>">
                                <span class="branch-ref css-truncate css-truncate-target"><%= d.name %></span>
                              </h4>
                              <small class="text-muted">
                                <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                                &nbsp;&nbsp;
                                <%= d.template_card.name %>  |  <%= time_ago_in_words(d.updated_at) %>
                              </small>
                          </div>
                      </div>
                    <% end %>
              </div>
        <% end %>
    </div>
  <% end %>
  <%= paginate @view_casts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>