<div class='card-parent-class'>
    <div class="ui bottom active tab" data-tab="second">
        <% if @view_casts.first.blank? %>
            <%= image_tag "option-2.png", width: "100%" %>
        <% else %>
            <% @view_casts.each do |d| %>
                <div class="column proto-graph-card-div">
                    <%= link_to [@account, @folder,d], "data-turbolinks"=> false do %>
                        <div class="proto-graph-card">
                            <div class="proto-card-gradient">
                                <div class="index-card-content">
                                    <div class="index-card-title">
                                        <%= d.name %>
                                    </div>
                                    <div class="index-card-created-by"><%= image_tag avatar_url(d.updator.email), width: "100%" %></div>
                                    <div class="index-card-extra-info">
                                        <%= d.template_card.name %>  |  <%= time_ago_in_words(d.updated_at) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
<%= paginate @view_casts %>