<div class='row'>
    <hr/>
    <h3 style="text-align: center; margin-bottom: 40px;">Add these branded images to your story's meta tags</h3>
    <div class="proto-graph-code-area-title">Option #1 - Manually</div>
    <table class="ui semantic very basic table">
        <thead>
            <tr>
                <th>
                    Image for
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
    <tbody>
        <% ViewCast::Platforms.each do |platform| %>
            <% if status[platform] == 'success' %>
                <tr>
                    <td>
                        <%= link_to "#{platform.titleize}", urls[platform.to_sym], target: "_blank" %>
                    </td>
                    <td>
                        <div class='signal sig-green' style="display:inline-block"></div>
                        Successfully generated
                    </td>
                </tr>
            <% elsif status[platform] == 'creating' %>

                    <tr>
                        <td>
                            <%= platform.titleize %>
                        </td>
                        <td>
                            <div class='signal sig-gray' style="display:inline-block"></div>
                            <% if Time.now - @view_cast.updated_at > 1.minute %>
                                <%= link_to '<i class="repeat icon"></i>'.html_safe, recreate_account_folder_view_cast_path(@account, @folder,  @view_cast, platform), method: :put, class: "pull-right" %>
                            <% else %>
                                Creating...
                            <% end %>
                    </td>
                </tr>

            <% else %>
                <tr>
                    <td>
                        <%= platform.titleize %>
                    </td>
                    <td>
                        <div class='signal sig-red' style="display:inline-block"></div>
                        Failed.
                        <%= link_to '<i class="repeat icon"></i> Retry please'.html_safe, recreate_account_folder_view_cast_path(@account, @folder, @view_cast, platform), method: :put, class: "pull-right" %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
    </table>
    <br/><br/>
    <div class="proto-graph-code-area-title">Option #2 - Did you know you can get ProtoGraph API integrated with your CMS?</div>
    <p>Contact us at ritvvij.parrikh@pykih.com for more details.</p>
</div>