<%= stylesheet_link_tag "ProtoGraph.Container.toCardForm" %>
<link rel="stylesheet" type="text/css" href="<%= @view_cast.template_card.css %>">
<%= stylesheet_link_tag "image_bank.css" %>

<a class="protograph-imagebank-button" data-toggle="modal" data-target="#fileUploadModal" href="#" id="protograph_image_bank_button">Image Bank</a>
<div class="clearfix"></div>
<div id="root"></div>
<div class="clearfix"></div>

<%= javascript_include_tag "JCrop.js" %>
<% if @folder.vertical.present? %>
    <script type="text/javascript">
        window.vertical_name = "<%= @folder.vertical.name %>";
    </script>
<% end %>
<script type="text/javascript">
    window.accessToken = "<%= current_user. access_token %>";
    window.baseURL = "<%= BASE_URL %>/api/v1";
    window.accountSlug = "<%= @account.slug %>";
    window.folderSlug = "<%= @folder.slug %>";
    window.ref_link_sources_url = "<%= "#{ENV["AWS_S3_ENDPOINT"]}/Assets/ref_link_sources.json?no-cache=#{Time.now.to_s}" %>";
    window.site_config_url = "<%= "#{@site.header_json_url}?no-cache=#{Time.now.to_s}" %>";
    window.viewCast = <%= @view_cast.to_json(include: [template_card: {only: [:account_id, :id, :slug, :global_slug,:name, :elevator_pitch,:template_datum_id, :git_repo_name], methods: [:account_slug, :files, :versions]}], methods: [:remote_urls]).html_safe %>
    var JCropInstance;
</script>


<%= render partial: "image_bank_form" %>

<%= javascript_include_tag "ProtoGraph.Container.toCardForm" %>
<script type="text/javascript" src="<%= @view_cast.template_card.js %>"></script>
<%= javascript_include_tag "imageCropper.js" %>
