<%= stylesheet_link_tag "update_form" %>
<link rel="stylesheet" type="text/css" href="<%= @view_cast.template_card.css %>">

<script type="text/javascript" src="<%= @view_cast.template_card.js %>"></script>

<div id="root"></div>

<script type="text/javascript">
    window.accessToken = "<%= current_user. access_token %>";
    window.baseURL = "<%= BASE_URL %>/api/v1";
    window.viewCast = <%= @view_cast.to_json(include: [template_card: {only: [:account_id, :id, :slug, :global_slug,:name, :elevator_pitch,:template_datum_id], methods: [:account_slug, :files, :versions]}], methods: [:remote_urls]).html_safe %>
</script>
<%= javascript_include_tag "update_form" %>