<% if @view_casts.first.blank? %>
    <br/>
    <br/>
    <div class="blankslate blankslate-spacious">
        <% if @folder.is_trash %>
            <h3>There are no cards in the recycle bin.</h3>
        <% else %>
            <h3>No cards created yet.</h3>
            <p>Use the [+ Add a card] button on the top right.</p>
        <% end %>
    </div>
<% else %>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>#
                </th>
                <th>Type
                </th>
                <th>Title
                </th>
                <th colspan=2>Last updated
                </th>
            </tr>
        </thead>
        <tbody>
            <% @view_casts.each do |d| %>                
                <tr>
                    <td class="hint"><%=d.id.to_s%>
                    </td>
                    <td class="hint"><%= d.template_card.name %>
                    </td>
                    <td><%= link_to truncate(d.name, length: 200, ommission: ".."), [@account, @site,  @folder,d], "data-turbolinks"=> false  %>
                    </td>
                    <td><%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                    </td>
                    <td class="hint"><%= time_ago_in_words(d.updated_at) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @view_casts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
<% end %>