<div style='width:100%; box-sizing: border-box'>
    <div class="ui mini breadcrumb">
        <%=link_to @account.username, @account, class: "section" %>
        <i class="right angle icon divider"></i>
        <div  class="section" ><%=@folder.name %></div>
    </div>
    <div class='one-br-space'></div>
    <div class="ui grid">
        <div class="left floated three wide column">
          <span class='ui huge header'><%= @folder.name %></span>
        </div>
        <div class="right floated four wide column right aligned">
          <%= link_to "Compose a new card", new_account_folder_view_cast_path(@account, @folder), "data-turbolinks"=> false, class: "ui primary basic button mini" %>
        </div>
    </div>
    <div class="ui top attached tabular menu">
        <a class="active item" >Cards</a>
        <a class="item" href="<%= account_folder_streams_path(@account, @folder) %>">Streams</a>
    </div>
    <div class='card-parent-class'>
        <div class="ui bottom active tab" data-tab="second">
            <% if @view_casts.first.blank? %>
                <%= image_tag "option-2.png" %>
            <% else %>
                <% @view_casts.each do |d| %>
                    <div class="column proto-graph-card-div">
                        <%= link_to [@account, @folder,d], "data-turbolinks"=> false do %>
                            <div class="proto-graph-card">
                                <img class="index-card-image" src="<%= d.render_screenshot_url(true) %>" width="100%" alt="<%= d.name %>">
                                <!-- <div class="proto-card-highlight-gradient"></div> -->
                                <div class="proto-card-gradient">
                                    <div class="index-card-content">
                                        <div class="index-card-title">
                                            <%= d.name %>
                                        </div>
                                        <div class="index-card-created-by"><%= image_tag avatar_url(d.updator.email), width: "100%" %></div>
                                        <div class="index-card-extra-info">
                                            <%= d.template_card.name %>  |  <%= time_ago_in_words(d.updated_at) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

</br>
<%= paginate @view_casts %>