  <div class="container">
    <% if @view_casts.first.blank? %>
    <br/>
    <br/>
    <div class="blankslate blankslate-spacious">
      <h3>No cards created yet.</h3>
      <p>Use the [+ Add a card] button on the top right.</p>
    </div>
    <% else %>
    <div class="row">
      <% @view_casts.each do |d| %>
      <div class="col-sm-4">
        <%= link_to (d.article.present? ? edit_account_folder_article_path(@account, @folder, d.article) : [@account, @folder,d]), "data-turbolinks"=> false do %>
        <div class="card" style="margin: 20px 0px; ">

          <div class="card-footer">
            <h4 class="card-title" style="font-weight: 400; " title="<%=d.name%>">
              <span class="branch-ref css-truncate css-truncate-target"><%= d.name %></span>
            </h4>
            <small class="text-muted">
              <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
              &nbsp;&nbsp;
              <%= d.template_card.name %>  |  <%= time_ago_in_words(d.updated_at) %>
            </small>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
    <%= paginate @view_casts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
