<%= render partial: "view_casts/header" %>

    <div class="row">
        <div class="col-sm-12">
            <div class="protograph-page-tabs">
                <div class="single-tab active-tab">
                    <%= link_to "Cards", site_folder_view_casts_path(@site, @folder), "data-turbolinks" => "false" %>
                </div>
                <% if @folder.is_for_stories %>
                    <div class="single-tab">
                        <%= link_to "Stories", site_stories_path(@site,folder_id: @folder.id), "data-turbolinks" => "false" %>
                    </div>
                <% end %>
            </div>
            <% if @view_casts.first.blank? %>
                <div class="blankslate blankslate-spacious">
                    <% if @folder.is_trash %>
                        <h3>There are no cards in the recycle bin.</h3>
                    <% else %>
                        <h3>No cards created yet.</h3>
                        <p>Use the [+ Add a card] button on the top right or <%= link_to "Reset", site_folder_view_casts_path(@site, @folder) %></p>
                    <% end %>
                </div>
            <% else %>
            <table class="table">
                <thead>
                    <tr>
                        <th style="border: 0px;"><%= sort_link(@q, :id, '#') %>
                        </th>
                        <th style="border: 0px;">
                        </th>
                        <th style="border: 0px;">Title
                        </th>
                        <th style="border: 0px;">Card Type
                        </th>
                        <th style="border: 0px;"><%= sort_link(@q, :updated_at) %>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% @view_casts.each do |d| %>
                        <tr>
                            <td class="hint">
                                #<%= d.id.to_s %>
                            </td>
                            <td><div class="status-signal status-green"></div>
                            </td>
                            <td>
                                <%= link_to truncate(d.name, length: 45, ommission: ".."), [@site,  @folder,d], "data-turbolinks"=> false %>
                            </td>
                            <td class="hint">
                                <%= d.template_card.name %>
                            </td>
                            <td class="hint"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %> <%= time_ago_in_words(d.updated_at) %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <div style="padding-left: 18px;">
                <%= paginate @view_casts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
            </div>
            <% end %>
        </div>
        <div class="col-sm-4" style="padding-left: 6.25%; padding-right: 0px; padding-top: 70px;">

                <% if @view_casts.present? %>
                      <%= search_form_for @q, url: site_folder_view_casts_path(@site, @folder) do |f| %>
                          <%= f.label :seo_blockquote_cont, "Content contains" %>
                          <%= f.search_field :seo_blockquote_or_name_cont, :class => "form-control" %>
                          <br/>
                          <%= f.label :template_card_id_eq, "Card Type" %>
                          <%= f.select :template_card_id_eq, options_from_collection_for_select(@card_types, :id, :name, @q.template_card_id_eq), { :include_blank => true }, :class => "form-control" %>
                          <br/>
                          <%= f.submit "Search", class: "btn btn-sm btn-primary" %>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          |&nbsp;&nbsp;&nbsp;&nbsp;
                          <%= link_to "Reset", site_folder_view_casts_path(@site, @folder) %>
                      <% end %>
                <% end %>

        </div>
    </div>

<br/>
<br/>