<%= paginate @view_casts %>
</br></br>

<script src="https://d2m6lzru8erw1k.cloudfront.net/lib/protoGraph.js"></script>
<div style='width:100%; border-sizing: border-box'>
    <!-- <div class="ui stackable five column grid"> -->
        <% @view_casts.each do |d| %>
            <div class="column proto-graph-card-div">
                <%= link_to [@account, d], "data-turbolinks"=> false do %>
                    <div class="proto-graph-card">
                        <!-- <div class="ProtoGraphCards" data-iframe-href="<%= "#{d.template_card.index_html}?HtmlCast_Unique_Identifier=#{d.id}" %>">
                            <blockquote class="cite"><%= d.seo_blockquote %></blockquote>
                        </div> -->
                        <img src="<%= image_path("demo.png") %>">
                        <!-- <div class="proto-card-highlight-gradient"></div> -->
                        <div class="proto-card-gradient">
                            <div class="index-card-content">
                                <div class="index-card-title">
                                    This is the card title, it can be up to 2 lines
                                </div>
                                <div class="index-card-created-by"><img src="<%= image_path("profile.png") %>" width="100%"></div>
                                <div class="index-card-extra-info">
                                    ToExplain  |  2 Hours Ago
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <!-- </div> -->
</div>

</br>
<%= paginate @view_casts %>

<script type="text/javascript">
    Array.from($(".ProtoGraphCards")).forEach(function(element){
        new ProtoEmbed.initFrame(element, element.dataset.iframeHref , 'small')
    });
</script>