<% if @view_casts.first.blank? %>
    <br/>
    <br/>
    <div class="blankslate blankslate-spacious">
        <% if @folder.is_trash %>
            <h3>There are no cards in the recycle bin.</h3>
        <% else %>
            <h3>No cards created yet.</h3>
            <p>Use the [+ Add a card] button on the top right.</p>
        <% end %>
    </div>
<% else %>
    <div class="row" style="margin: 0px; padding: 0px;">
        <% @view_casts.each do |d| %>
        	<%= link_to [@account, @site,  @folder,d], "data-turbolinks"=> false do %>
                <div class="card-as-a-todo">
            		<div class="card-information">
            			<div class="card-title"><%= truncate(d.name, length: 200, ommission: "..") %></div>
            			<div class="card-type"><%= d.template_card.name %> <span class="card-id">#<%=d.id.to_s%></span></div>
            			<div class="card-footer">
            				<div class="users-list">
            					<div class="single-user"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %></div>
            				</div>
            				<div class="due-on">
            					<%= time_ago_in_words(d.updated_at) %>
            				</div>
            			</div>
            		</div>
            	</div>
            <% end %>
        <% end %>
    </div>
    <div style="padding-left: 18px;">
        <%= paginate @view_casts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
    </div>
<% end %>