<% if @view_casts.first.blank? %>

<div class="ui sixteen grid" style="width: 980px; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 400px; padding-left: 30px;">

<%= image_tag "option-2.png" %>

</div>

<% else %>

<%= paginate @view_casts %>
</br></br>

<script src="https://d2m6lzru8erw1k.cloudfront.net/lib/protoGraph.js"></script>
<div style='width:100%; box-sizing: border-box'>
        <% @view_casts.each do |d| %>
            <div class="column proto-graph-card-div">
                <%= link_to [@account, d], "data-turbolinks"=> false do %>
                    <div class="proto-graph-card">
                        <img class="index-card-image" src="<%= d.render_screenshot_url %>" width="100%">
                        <!-- <div class="proto-card-highlight-gradient"></div> -->
                        <div class="proto-card-gradient">
                            <div class="index-card-content">
                                <div class="index-card-title">
                                    <%= d.name %>
                                </div>
                                <div class="index-card-created-by"><%= image_tag avatar_url(d.updator.email), width: "100%" %></div>
                                <div class="index-card-extra-info">
                                    <%= d.template_card.name %>  |  <%= time_ago_in_words(d.updated_at) %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <!-- </div> -->
</div>

</br>
<%= paginate @view_casts %>

<script type="text/javascript">
    Array.from($(".ProtoGraphCards")).forEach(function(element){
        new ProtoEmbed.initFrame(element, element.dataset.iframeHref , 'small')
    });
</script>

<% end %>