<%= stylesheet_link_tag "ProtoGraph.Container.toCardForm" %>
<%= stylesheet_link_tag "JCrop.css" %>

<a class="protograph-imagebank-button" data-toggle="modal" data-target="#fileUploadModal" href="#" id="protograph_image_bank_button">Image Bank</a>
<div class="clearfix"></div>
<div id="root"></div>
<%= javascript_include_tag "JCrop.js" %>
<script type="text/javascript">
    window.accessToken = "<%= current_user. access_token %>";
    window.baseURL = "<%= BASE_URL %>/api/v1";
    window.accountSlug = "<%= @account.slug %>";
    window.folderSlug = "<%= @folder.slug %>";
    var JCropInstance;
</script>

<%= render partial: "image_bank_form" %>

<%= javascript_include_tag "ProtoGraph.Container.toCardForm" %>
<%= javascript_include_tag "imageCropper.js" %>
