<%= content_for :page_title do %>
    <li class="breadcrumb-item"><%= link_to "Cards", account_site_folder_view_casts_path(@account, @site, @folder), "data-turbolinks"=> false %></li> 
    <li class="breadcrumb-item active" aria-current="page"><%= @view_cast.name %></li>
<% end %>
<br/>
<% if @view_cast.is_invalidating %>
  <div class="alert alert-warning" role="alert">
    The data is getting updated. It generally takes between 5 seconds to 5 minutes. If it doesn't update, please contact us at team@pykih.com
  </div>
  <br/>
<% end %>
<div style="margin-left: 40%;">
    <div class="btn-group">
      <% @view_cast.template_card.allowed_views.each do |mode|%>
        <button class="btn btn-sm platform_buttons" type="button" id="<%= mode %>"><%= mode.titleize %></button>
      <% end %>
    </div>
</div>
<br/>
<div id="protoCard" style='width: 90%; margin-bottom: 40px;'>
  <%= sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6) %>
</div>


<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script>
            <div class="proto-graph-code-area">
              <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Embed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Advanced Embed Options</a>
                </li>
              </ul>
              <br/>
              <br/>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <textarea class="proto-graph-code"  id='responsive-embed-code' readonly><div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6))%></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};var mode = (window.innerWidth <= 500) ? "mobile" : "laptop";new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}" %>" , mode)}, 200)</script></textarea>
                    </br>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="proto-graph-code-area-title">Traditional iFrame for Google AMP pages</div>
                    <textarea class="proto-graph-code amp-iframe" readonly><iframe width="560" height="315" src="<%= "#{@view_cast.template_card.protograph_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}%26mode=laptop" %>" frameborder="0" allowfullscreen></iframe></textarea></br></br>


                    <div class="proto-graph-code-area-title">SEO friendly iFrame for specific mode</div>
                    <textarea class="proto-graph-code protograph-iframe" readonly><div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}" %>" , "laptop")}, 200)</script></textarea>
                    </br></br>
              <% if @account.slug == "indianexpress" %>
                  <div class="proto-graph-code-area-title">Protograph Wordpress Shortcode</div>
                  <textarea class="proto-graph-code" readonly>[ie-protograph view_cast_id="<%= @view_cast.datacast_identifier %>" schema_id="<%= @view_cast.template_datum.s3_identifier %>" id="<%= "ProtoCard#{@view_cast.id}" %>" frame_id="<%= @view_cast.template_card.s3_identifier %>"]<%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %>[/ie-protograph]</textarea>
                  </br>
              <% end %>
                </div>
              </div>
              
              
              

              
              
            </div>
        </div>
    </div>
	<div class="col-sm-3 help-text">
    		<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
            <h2>iFrame the card in your site</h2>
    		<p>You can iFrame ProtoTYPE cards in your website with our embed code. These embeds are responsive and SEO friendly.</p> 
            <p>However, this Javascript enabled iFrame wont work in Google AMP. In that case, use the traditional iFrame (which is not SEO friendly and responsive).</p>
              <br/>
          <div class="hint">
            <table class="table table-sm hint">
              <tr>
                <td>Card Type</td>
                <td>:</td>
                <td><%= @view_cast.template_card.name %></td>
              </tr>
              <tr>
                <td>Created by</td>
                <td>:</td>
                <td><%= @view_cast.creator.name %></td>
              </tr>
              <tr>
                <td>On</td>
                <td>:</td>
                <td><%= @view_cast.created_at.strftime("%e %b %Y") %></td>
              </tr>
              <tr>
                <td>Card Type</td>
                <td>:</td>
                <td><%= @view_cast.template_card.name %></td>
              </tr>
              <tr>
                <td>Updated by</td>
                <td>:</td>
                <td><%= @view_cast.updator.name %></td>
              </tr>
              <tr>
                <td>ID</td>
                <td>:</td>
                <td><strong><%= @view_cast.id %></strong></td>
              </tr>
              <tr>
                <td>On</td>
                <td>:</td>
                <td><%= @view_cast.updated_at.strftime("%e %b %Y") %></td>
              </tr>
            </table>
          </div>
          <div class='sigle-detail'>
            <%= simple_form_for([@account, @site, @folder, @view_cast]) do |f|%>
              <div class="card-detail-lable">Move to another folder:</div>
              <div class="card-detail-Value"><%= f.input :folder_id, collection: @folders_dropdown, include_blank: false, label: false %></div>
            <% end %>
          </div>
          <% unless @view_cast.is_disabled_for_edit %>
            <%= link_to "Edit the Card", edit_account_site_folder_view_cast_path(@account, @site, @folder, @view_cast),"data-turbolinks"=> false %>
            <% unless @view_cast.folder.is_trash %>
              | <%= link_to "Delete the Card", [@account, @site, @folder, @view_cast], method: :delete, "data-turbolinks"=> false, data: {confirm: "Are you sure you want to delete this card"} %>
            <% end %>
          <% end %>
          <% if 1 == 2 %>
              <div class='sigle-detail'>
                <%= simple_form_for([@account, @site, @folder, @view_cast]) do |f|%>
                  <% if @site.users.count > 0 %>
                    <%=  f.input :collaborator_lists,  collection: @site.users.pluck(:name, :id), input_html: { class: 'ui search fluid dropdown', multiple: true}, label: "Add Collaborators" %>
                    <%= f.button :submit, "Add", class: "ui primary button" %>
                  <% end %>
                <% end %>
              </div>
          <% end %>
	</div>
</div>


<script type="text/javascript">
  var interval = setInterval(function(){
    if (window.ProtoEmbed) {
      clearInterval(interval);
      var proto_embed_test = new ProtoEmbed.initFrame(document.getElementById('protoCard'), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}" %>" , "<%= @view_cast.template_card.allowed_views.first %>");

      $('.platform_buttons').on('click', function(event){
        var platform = this.id
        proto_embed_test.sandbox.oasis.services[0].send('change_mode', platform);
        $('.proto-graph-code.protograph-iframe').val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}".html_safe %>" , '${platform}')}, 200)<\/script>`);


        $('.proto-graph-code.amp-iframe').val(`<iframe width="560" height="315" src="<%= "#{@view_cast.template_card.protograph_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}%26mode=${platform}".html_safe %>" frameborder="0" allowfullscreen></iframe>`);


        if(platform == "list") {
          $("#responsive-embed-code").val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}".html_safe %>" , 'list')}, 200)<\/script>`);
        } else {
          $("#responsive-embed-code").val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};var mode = (window.innerWidth <= 500) ? "mobile" : "laptop";new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}".html_safe %>" , mode)}, 200)<\/script>`);
        }
        event.stopPropagation();
      })
    }
  },200)
</script>
<script type="text/javascript">
  $("#view_cast_folder_id").on("change", function(){
    $(this).parents('form').submit();
  })

</script>
