<div class="show-page-div">
  <div class="ui grid">
    <div class="sixteen wide column">
    </div>
  </div>
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="show-page-title"><%= @view_cast.name %></div>
      <div class="proto-graph-mode-buttons">
        <div class="ui small basic icon buttons">
          <% if @view_cast.template_card.git_repo_name == 'ProtoGraph.Card.toSocial' %>
            <button class="ui button platform_buttons" id='facebook'><i class="facebook square icon"></i></button>
            <button class="ui button platform_buttons" id='twitter'><i class="twitter square icon"></i></button>
            <button class="ui button platform_buttons" id='instagram'><i class="instagram square icon"></i></button>
          <% else %>
            <button class="ui button platform_buttons" id='laptop'><i class="desktop icon"></i>&nbsp Desktop</button>
            <button class="ui button platform_buttons" id='mobile'><i class="mobile icon"></i> <%= @view_cast.template_card.git_repo_name == 'ProtoGraph.Card.toSocial' ? "Mobile with Desktop interaction" : "&nbsp Mobile".html_safe %></button>
          <% end %>
        </div>
      </div>
      <div id="protoCard" style='width: 100%'>
        <%= @view_cast.seo_blockquote.to_s.html_safe %>
      </div>

      <script src="https://d2m6lzru8erw1k.cloudfront.net/lib/protoGraph.min.js"></script>
      <% if @view_cast.template_card.git_repo_name ==  "ProtoGraph.Card.toSocial" %>
        <%= render partial: "view_casts/to_share", locals: {status: JSON.parse(@view_cast.status), urls: @view_cast.social_urls(@account)} %>
      <% else %>
        <div class="proto-graph-code-area">
          <hr/>
          <h3 style="text-align: center; margin-bottom: 40px;">Embed the card in your stories</h3>
          <div class="proto-graph-code-area-title">Option #1 - SEO friendly  iFrame</div>
          <textarea class="proto-graph-code protograph-iframe" readonly><div id="<%= "ProtoCard-#{@view_cast.id}" %>"><%= !@view_cast.seo_blockquote.blank? ? @view_cast.seo_blockquote : ''.html_safe %></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js"></script><script type="text/javascript">new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard-#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}".html_safe %>" , "laptop")</script></textarea>
          </br>

          <div class="proto-graph-code-area-title">Option #2 - Responsive SEO friendly iFrame</div>
          <textarea class="proto-graph-code" readonly><div id="<%= "ProtoCard-#{@view_cast.id}" %>"><%= !@view_cast.seo_blockquote.blank? ? @view_cast.seo_blockquote : ''.html_safe %></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js"></script><script type="text/javascript">var mode = (window.innerWidth <= 500) ? "mobile" : "laptop";new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard-#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}".html_safe %>", mode )</script></textarea>
          </br>


          <div class="proto-graph-code-area-title">Option #3 - Traditional iFrame for Google AMP pages</div>
          <textarea class="proto-graph-code amp-iframe" readonly><iframe width="560" height="315" src="<%= "#{@view_cast.template_card.protograph_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26mode=laptop".html_safe %>" frameborder="0" allowfullscreen></iframe></textarea>
        </div>
      <% end %>



    </div>
    <div class="four wide column">
      <div class="card-details">
        <div class="card-details-title">Details</div>
        <div class="sigle-detail">
          <div class="card-detail-lable">App:</div>
          <div class="card-detail-Value"><%= @view_cast.template_card.name %></div>
        </div>
        <!-- <br> -->
        <div class="sigle-detail">
          <div class="card-detail-lable">Created By:</div>
          <div class="card-detail-Value"><%= @view_cast.creator.name %></div>
        </div>
        <div class="sigle-detail">
          <div class="card-detail-lable">For:</div>
          <div class="card-detail-Value"><%= @view_cast.account.username %></div>
        </div>
        <div class="sigle-detail">
          <div class="card-detail-lable">On:</div>
          <div class="card-detail-Value"><%= @view_cast.created_at.strftime("%e %b %Y") %></div>
        </div>
        <br>
        <div class="sigle-detail">
          <div class="card-detail-lable">Updated By:</div>
          <div class="card-detail-Value"><%= @view_cast.updator.name %></div>
        </div>
        <div class="sigle-detail">
          <div class="card-detail-lable">On:</div>
          <div class="card-detail-Value"><%= @view_cast.updated_at.strftime("%e %b %Y") %></div>
        </div>
        <br/>
        <%= link_to "Edit the Card", edit_account_view_cast_path(@account, @view_cast),"data-turbolinks"=> false %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var proto_embed_test = new ProtoEmbed.initFrame(document.getElementById('protoCard'), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}".html_safe %>" , "<%= @view_cast.template_card.git_repo_name == 'ProtoGraph.Card.toSocial' ? "instagram" : "laptop"  %>");


  $('.platform_buttons').on('click', function(event){
    var platform = this.id
    proto_embed_test.sandbox.oasis.services[0].send('change_mode', platform);
    $('.proto-graph-code.protograph-iframe').val(`<div id="<%= "ProtoCard-#{@view_cast.id}" %>"><%= @view_cast.seo_blockquote.html_safe %></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js"><\/script><script type="text/javascript">new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard-#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}".html_safe %>" , '${platform}')<\/script>`);


    $('.proto-graph-code.amp-iframe').val(`<iframe width="560" height="315" src="<%= "#{@view_cast.template_card.protograph_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26mode=${platform}".html_safe %>" frameborder="0" allowfullscreen></iframe>`)
    event.stopPropagation();
  })

</script>