<div class="row-fluid" style="background: #fafbfc; ">
  <div class="container" style="padding-left: 0px; padding-right: 0px;">
    <br/>
    <div class="row"  style="padding-left: 0px; padding-right: 0px;">
      <div class="col-10">
        <h1 style="margin-bottom: 20px; font-weight: 600; margin-top: 0px; font-size: 20px;">
          <%= link_to @account.username, @account, style: "font-weight: 400;" %> / <%= @folder.name %>
          </h1>
        </div>
        <div class="col-2">
          <%= link_to '+ Add a card'.html_safe, new_account_folder_view_cast_path(@account, @folder), data: {turbolinks: false}, class: "btn btn-outline", role: "button" %>
        </div>
      </div>
      
    </div>
    <%= render partial: "folders/header" %>
  </div>


<div class="container">
    <div class="row">
        <div class="col-12">
          <h3 style="margin-bottom: 80px; margin-top: 20px; font-weight: 600;">
            <%= @view_cast.name %>
            </h3>
          </div>
        <div class="col-9">
            <% if @view_cast.is_invalidating %>
              <div class="alert alert-warning" role="alert">
                The data is getting updated. It generally takes between 5 seconds to 5 minutes. If it doesn't update, please contact us at ritvvij.parrikh@pykih.com
              </div>
              <br/>
            <% end %>
            <div style="margin-left: 40%;">
                <div class="btn-group">
                  <button class="btn btn-sm platform_buttons" type="button" id='laptop'>Desktop</button>
                  <button class="btn btn-sm platform_buttons" type="button" id='mobile'>Mobile</button>
                  <% if @view_cast.template_card.git_repo_name == 'ProtoGraph.Card.toLink' %>
                      <button class="btn btn-sm platform_buttons" type="button" id='list'>List</button>
                  <% end %>
                </div>
            </div>
            <br/>
            <div id="protoCard" style='width: 100%'>
              <%= sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6) %>
            </div>

            <script src="https://d2m6lzru8erw1k.cloudfront.net/lib/protoGraph.min.js" async></script>
            <div class="proto-graph-code-area">
              <hr/>
              <h3 style="text-align: center; margin-bottom: 40px;">Embed the card in your stories</h3>
              <div class="proto-graph-code-area-title">Option #1 - Responsive SEO friendly iFrame</div>
              <textarea class="proto-graph-code"  id='responsive-embed-code' readonly><div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6))%></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js" async></script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};var mode = (window.innerWidth <= 500) ? "mobile" : "laptop";new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}" %>" , mode)}, 200)</script></textarea>
              </br>

              <div class="proto-graph-code-area-title"> Option #2 - Protograph Wordpress Shortcode</div>
              <textarea class="proto-graph-code" readonly>[ie-protograph view_cast_id="<%= @view_cast.datacast_identifier %>" schema_id="<%= @view_cast.template_datum.s3_identifier %>" id="<%= "ProtoCard#{@view_cast.id}" %>" frame_id="<%= @view_cast.template_card.s3_identifier %>"]<%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %>[/ie-protograph]</textarea>
              </br>

              <div class="proto-graph-code-area-title">Option #3 - Traditional iFrame for Google AMP pages</div>
              <textarea class="proto-graph-code amp-iframe" readonly><iframe width="560" height="315" src="<%= "#{@view_cast.template_card.protograph_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26mode=laptop" %>" frameborder="0" allowfullscreen></iframe></textarea>


              <div class="proto-graph-code-area-title">Option #4 - SEO friendly iFrame for specific mode</div>
              <textarea class="proto-graph-code protograph-iframe" readonly><div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js" async></script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}" %>" , "laptop")}, 200)</script></textarea>
              </br>
            </div>
        </div>
        <div class="col-3">
            <div class="hint">

                  <table class="table table-sm hint">
                      <tr>
                          <td>Card Type</td>
                          <td>:</td>
                          <td><%= @view_cast.template_card.name %></td>
                      </tr>
                      <tr>
                          <td>Created by</td>
                          <td>:</td>
                          <td><%= @view_cast.creator.name %></td>
                      </tr>
                      <tr>
                          <td>On</td>
                          <td>:</td>
                          <td><%= @view_cast.created_at.strftime("%e %b %Y") %></td>
                      </tr>
                      <tr>
                          <td>Card Type</td>
                          <td>:</td>
                          <td><%= @view_cast.template_card.name %></td>
                      </tr>
                      <tr>
                          <td>Updated by</td>
                          <td>:</td>
                          <td><%= @view_cast.updator.name %></td>
                      </tr>
                      <tr>
                          <td>On</td>
                          <td>:</td>
                          <td><%= @view_cast.updated_at.strftime("%e %b %Y") %></td>
                      </tr>
                  </table>
            </div>
              <div class='sigle-detail'>
                <%= simple_form_for([@account, @folder, @view_cast]) do |f|%>
                  <div class="card-detail-lable">Move to another folder:</div>
                  <div class="card-detail-Value"><%= f.input :folder_id, collection: @folders, include_blank: false, label: false %></div>
                <% end %>
              </div>
              <br/>
              <%= link_to "Edit the Card", edit_account_folder_view_cast_path(@account, @folder, @view_cast),"data-turbolinks"=> false %>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  var interval = setInterval(function(){
    if (window.ProtoEmbed) {
      clearInterval(interval);
      var proto_embed_test = new ProtoEmbed.initFrame(document.getElementById('protoCard'), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}" %>" , "laptop");

      $('.platform_buttons').on('click', function(event){
        var platform = this.id
        proto_embed_test.sandbox.oasis.services[0].send('change_mode', platform);
        $('.proto-graph-code.protograph-iframe').val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}".html_safe %>" , '${platform}')}, 200)<\/script>`);


        $('.proto-graph-code.amp-iframe').val(`<iframe width="560" height="315" src="<%= "#{@view_cast.template_card.protograph_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26mode=${platform}".html_safe %>" frameborder="0" allowfullscreen></iframe>`);


        if(platform == "list") {
          $("#responsive-embed-code").val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}".html_safe %>" , 'list')}, 200)<\/script>`);
        } else {
          $("#responsive-embed-code").val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="<%= Rails.env.production? ? @account.cdn_endpoint :  "https://d2m6lzru8erw1k.cloudfront.net" %>/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};var mode = (window.innerWidth <= 500) ? "mobile" : "laptop";new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html(@account)}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}".html_safe %>" , mode)}, 200)<\/script>`);
        }
        event.stopPropagation();
      })
    }
  },200)


  $("#view_cast_folder_id").on("change", function(){
    $(this).parents('form').submit();
  })

</script>