<div class=container>
  <div class='col-8'>
    <%= simple_form_for(@stream, url: [@account, @site, @folder, @stream]) do |f| %>
      <%= f.input :title, required: true %>
      <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
      <%= f.input :description, as: :string, required: true %>
      <%= f.input :card_list,  collection: @account.template_cards.pluck(:name, :id), input_html: { class: 'ui search fluid dropdown', multiple: true }, label: "Type of Cards" %>
      <%= f.input :folder_list,  collection: @account.folders.where(is_trash: false).pluck(:name, :id), input_html: { class: 'ui search fluid dropdown', multiple: true}, label: "Within Folders" %>
      <%= f.input :view_cast_id_list, input_html: { class: 'ui search fluid dropdown', multiple: true, "data-role" => "tagsinput" }, label: "Includes Card IDs", hint: "The limit and offset will not be applied to these cards." %>
      <%= f.input :excluded_view_cast_id_list, input_html: { class: 'ui search fluid dropdown', multiple: true, "data-role" => "tagsinput" }, label: "Excluded Card IDs" %>
      <%= f.input :limit %>
      <%= f.input :offset %>
      <%= f.input :order_by_key, label: "Sort Key" %>
      <%= f.input :order_by_value, label: "Sort Order", collection: [["Descending", "desc"], ["Ascending", 'asc']] %>
      <%= f.input :order_by_type, label: "Sort Column type", collection: [["Date", 'date'], ["String", "string", "Number", "number"]]   %>
      <%= f.input :include_data, as: :boolean, label: "Include Data" %>
      <%= f.submit (controller_name == 'streams' and ["show", "edit", "update"].include?(action_name)) ? "Update the Stream" : "Create a new Stream", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>



<script type="text/javascript">
  $(document).on("turbolinks:load", function () {
      $('.ui.dropdown').dropdown({
        allowAdditions: true,
      });
  });
</script>