<div class="row-fluid" style="background: #fafbfc; ">
    <div class="container" style="padding-left: 0px; padding-right: 0px;">
        <br/>
        <div class="row"  style="padding-left: 0px; padding-right: 0px;">
            <div class="col-10">
                <h2 style="margin-bottom: 20px;">
                    <%= @folder.name %>
                    <spa>
                    </h2>
                </div>
                <div class="col-2">
                    <% if @is_viewcasts_present %>
                    <%= link_to '+ Add a stream'.html_safe, new_account_folder_stream_path(@account, @folder), data: {turbolinks: false}, class: "btn btn-outline", role: "button" %>
                    <% end %>
                </div>
            </div>
            <%= render partial: "folders/header" %>
        </div>
    </div>
    <br/>
    <br/>
    <div class="container">
        <% if !@is_viewcasts_present %>
        <div class="blankslate blankslate-spacious">
          <h3>No cards created yet.</h3>
          <p>You cannot create streams unless you have created cards.</p>
      </div>
      <% else %>
      <% if @streams.first.blank? %>
      <div class="blankslate blankslate-spacious">
          <h3>No streams created yet.</h3>
          <p>Use the [+ Add a stream] button on the top right to search for your first stream.</p>
      </div>
      <% else %>
      <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>Stream name
                    </th>
                    <th>Number of cards
                    </th>
                    <th>Last updated
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @streams.each do |stream| %>
                <tr>
                    <td style="width: 10%;"><%= image_tag avatar_url(stream.updator.email), width: "20px" %>
                    </td>
                    <td><%= link_to stream.title.titleize, [@account, @folder, stream] %>
                    </td>
                    <td><p class="hint"><%= "#{stream.card_count} <span class='hint'>#{'card'.pluralize(stream.card_count)}</span>".html_safe %></p>
                    </td>
                    <td><%= time_ago_in_words(stream.updated_at) %>
                    </td>
                </tr>
                <% end %>
            </tbody>
            <%= paginate @streams, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
        </table>
    </div>
    <% end %>
    <% end %>
</div>
