<div style='width:100%; box-sizing: border-box'>
    <div class="ui mini breadcrumb">
        <%=link_to @account.username, @account, class: "section" %>
        <i class="right angle icon divider"></i>
        <div  class="section" ><%=@folder.name %></div>

    </div>
    <div class="ui huge header"><%= @folder.name %></div>
    <div class="ui top attached tabular menu">
        <a class="item" href="<%= account_folder_path(@account, @folder) %>">Cards</a>
        <a class="active item" data-tab="second">Streams</a>
    </div>
    <div class='card-parent-class'>
        <div class="ui bottom active tab" data-tab="second">
            <table class="ui very basic table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>No. of Cards</th>
                        <th>Last modified at</th>
                        <th>Created by</th>
                    </tr>
                </thead>
                <tbody>
                  <% @streams.each do |stream| %>
                    <% if stream.id.present? %>
                        <tr>
                            <td>
                                <i class='icon folder steelblue'></i>
                                <%= link_to stream.title.titleize, [@account, @folder, stream] %>
                            </td>
                            <td>
                                <%= "#{stream.card_count} #{'card'.pluralize(stream.card_count)}" %>
                            </td>
                            <td>
                                <%= "#{time_ago_in_words(stream.updated_at)} ago" %>
                            </td>
                            <td>
                                <%= stream.creator.name %>
                            </td>
                            </td>
                        </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
        </div>
    </div>
</div>

<button class="circular ui blue icon huge button" id="formAddButton" style="float:right;">
    <i class="inverted plus icon"></i>
</button>
<%= render partial: "streams/form" %>


<script type="text/javascript">

$(document).on("turbolinks:load", function () {
    $('#formAddButton').on('click',function () {
        $('#new-stream')
          .modal({
            closable: false,
          }).modal('show');
    });

    $('.ui.dropdown').dropdown({
      allowAdditions: true,
    });

});
</script>