<div style='width:100%; box-sizing: border-box'>
    <div class="ui top attached tabular menu">
        <a class="item" href="<%= account_folder_path(@account, @folder) %>">Cards</a>
        <a class="active item" data-tab="second">Streams</a>
        <a class="item" href="<%= account_folder_articles_path(@account, @folder) %>">Prepare articles</a>
    </div>
    <div class='card-parent-class'>
        <div class="ui bottom active tab" data-tab="second">
            <% if @streams.first.blank? or @streams.first.id.nil? %>
                <%= image_tag "option-2.png" %>
                <!-- Replace the image with  Create a new Stream-->
            <% else %>
                <table class="ui very basic table">
                   <thead>
      <tr>
        <th>Name</th>
        <th># Cards</th>
        <th class="collapsing">Last modified at</th>
        <th>by</th>
      </tr>
    </thead>
                    <tbody>
                      <% @streams.each do |stream| %>
                        <% if stream.id.present? %>
                            <tr>
                                <td>



                                    <i class='icon newspaper black'></i>
                                    <%= link_to stream.title.titleize, [@account, @folder, stream] %>
                                </td>
                                <td>
                                    <%= "#{stream.card_count} <span class='hint'>#{'card'.pluralize(stream.card_count)}</span>".html_safe %>
                                </td>
                                <td class="hint">
                                    <%= "#{time_ago_in_words(stream.updated_at)} ago" %>
                                </td>
                                <td class="hint collapsing">
                                    <%= stream.creator.name %>
                                </td>
                                </td>
                            </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
</div>

<%= render partial: "streams/form" %>


<script type="text/javascript">

$(document).on("turbolinks:load", function () {
    $('#formAddButton').on('click',function () {
        $('#new-stream')
          .modal({
            closable: false,
          }).modal('show');
    });

    $('.ui.dropdown').dropdown({
      allowAdditions: true,
    });

});
</script>