<div class="container">
    <div class="row">
        <div class="col-16">
            <h1><%= @stream.title %></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-13">
            <% if @view_casts.first.blank? %>
            <br/>
            <br/>
            <div class="blankslate blankslate-spacious">
              <h3>No cards created yet.</h3>
              <p>Please refine your search further.</p>
            </div>
            <% else %>
            <div class="row">
              <% @view_casts.each do |d| %>
              <div class="col-sm-5">
                <%= link_to [d.account, d.site, d.folder,d], "data-turbolinks"=> false do %>
                <div class="card card-inverse" style="margin: 20px 0px; ">
                  <div class="card-footer">
                    <h4 class="card-title" style="font-weight: 400" title="<%=d.name%>">
                      <span class="branch-ref css-truncate css-truncate-target"><%= d.name %></span>
                    </h4>
                    <small class="text-muted">
                      <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                      &nbsp;&nbsp;
                      <%= d.template_card.name %>  |  <%= time_ago_in_words(d.updated_at) %>
                    </small>
                  </div>
                </div>
                <% end %>
              </div>
              <% end %>
            </div>
            <% end %>
        </div>
        <div class="col-sm-3">
            <br/>
            <br/>
            <%= link_to "Publish the Stream", publish_account_site_folder_stream_path(@account, @site, @folder, @stream),"data-turbolinks"=> false, class: "btn btn-outline", method: :post %>
            <br/>
            <br/>
            <div class="hint">

                    <table class="table table-sm hint">
                        <tr>
                            <td>JSON URL
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= link_to "Here", "#{@site.cdn_endpoint}/#{@stream.cdn_key}", target: "blank" %>
                            </td>
                        </tr>
                        <% if @stream.last_published_at and @view_casts.count > 0 %>
                            <tr>
                                <td>Last publised at
                                </td>
                                <td>&nbsp;:&nbsp;
                                </td>
                                <td><%= time_ago_in_words(@stream.last_published_at) %> ago
                                </td>
                            </tr>
                            <tr>
                                <td># of cards
                                </td>
                                <td>&nbsp;:&nbsp;
                                </td>
                                <td><%= @stream.cards.count %>
                                </td>
                            </tr>
                        <% end %>
                        <tr>
                            <td>Created By
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.creator.name %>
                            </td>
                        </tr>
                        <tr>
                            <td>On
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.created_at.strftime("%e %b %Y") %>
                            </td>
                        </tr>
                        <tr>
                            <td>Updated By
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.updator.name %>
                            </td>
                        </tr>
                        <tr>
                            <td>On
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.updated_at.strftime("%e %b %Y") %>
                            </td>
                        </tr>
                    </table>
                    <% if @stream.page_streams.first.blank? %>
                        <%= link_to "Edit the Stream", edit_account_site_folder_stream_path(@account, @site, @folder, @stream) %>
                        <% unless @stream.folder.is_trash %>
                            | <%= link_to "Delete the Stream", [@account, @site, @folder, @stream], method: :delete, data: {confirm: "Are you sure you want to delete this stream"} %>
                        <% end %>
                    <% end %>
                <br/>
            </div>
        </div>
    </div>
</div>
