<div class="row-fluid" style="background: #fafbfc; ">
    <div class="container" style="padding-left: 0px; padding-right: 0px;">
        <br/>
        <div class="row"  style="padding-left: 0px; padding-right: 0px;">
            <div class="col-10">
                <h1 style="margin-bottom: 20px; font-weight: 400; margin-top: 20px;">
                    <%= @folder.name %>
                    </h1>
                </div>
                <div class="col-2">
                    <% if @is_viewcasts_present %>
                    <%= link_to '+ Add a stream'.html_safe, new_account_folder_stream_path(@account, @folder), data: {turbolinks: false}, class: "btn btn-outline", role: "button" %>
                    <% end %>
                </div>
            </div>
            <%= render partial: "folders/header" %>
        </div>
    </div>
    <br/>
    <br/>
<div class="container">
    <div class="row">
        <div class="col-12">
          <h3 style="margin-bottom: 30px; margin-top: 20px; font-weight: 600;">
            <%= @stream.title %>
            </h3>
        </div>
        <div class="col-9">
            <% if @view_casts.first.blank? %>
            <br/>
            <br/>
            <div class="blankslate blankslate-spacious">
              <h3>No cards created yet.</h3>
              <p>Please refine your search further.</p>
            </div>
            <% else %>
            <div class="row">
              <% @view_casts.each do |d| %>
              <div class="col-4">
                <%= link_to [@account, @folder,d], "data-turbolinks"=> false do %>
                <div class="card card-inverse" style="margin: 20px 0px; ">
                  <img class="card-img" src="<%= d.render_screenshot_url %>" style="height: 250px;">
                  <div class="card-img-overlay" style="height: 250px; margin: 0px; background-color: rgba(256, 256, 256, 0.8);">

                  </div>
                  <div class="card-footer">
                    <h4 class="card-title" title="<%=d.name%>">
                      <span class="branch-ref css-truncate css-truncate-target"><%= d.name %></span>
                    </h4>
                    <small class="text-muted">
                      <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                      &nbsp;&nbsp;
                      <%= d.template_card.name %>  |  <%= time_ago_in_words(d.updated_at) %>
                    </small>
                  </div>
                </div>
                <% end %>
              </div>
              <% end %>
            </div>
            <% end %>
            <%= paginate @view_casts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
                    
        </div>
        <div class="col-3">
            <% unless @view_casts.count == 0 %>
                <%= link_to "Publish the Stream", publish_account_folder_stream_path(@account, @folder, @stream),"data-turbolinks"=> false, class: "btn btn-outline", method: :post %>
            <% end %>
            <br/>
            <br/>
            <div class="hint">
                
                    <table class="table table-sm hint">
                        <% if @stream.last_published_at and @view_casts.count > 0 %>
                            <tr>
                                <td>JSON URL
                                </td>
                                <td>&nbsp;:&nbsp;
                                </td>
                                <td><%= link_to "Here", "#{@account.cdn_endpoint}/#{@stream.cdn_key}", target: "blank" %>
                                </td>
                            </tr>
                            <tr>
                                <td>Last publised at
                                </td>
                                <td>&nbsp;:&nbsp;
                                </td>
                                <td><%= time_ago_in_words(@stream.last_published_at) %> ago
                                </td>
                            </tr>
                            <tr>
                                <td># of cards
                                </td>
                                <td>&nbsp;:&nbsp;
                                </td>
                                <td><%= @view_casts.count %>
                                </td>
                            </tr>
                        <% end %>
                        <tr>
                            <td>Created By
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.creator.name %>
                            </td>
                        </tr>
                        <tr>
                            <td>On
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.created_at.strftime("%e %b %Y") %>
                            </td>
                        </tr>
                        <tr>
                            <td>Updated By
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.updator.name %>
                            </td>
                        </tr>
                        <tr>
                            <td>On
                            </td>
                            <td>&nbsp;:&nbsp;
                            </td>
                            <td><%= @stream.updated_at.strftime("%e %b %Y") %>
                            </td>
                        </tr>
                    </table>
                <%= link_to "Edit the Stream", edit_account_folder_stream_path(@account, @folder, @stream) %>
                <br/>
            </div>
        </div>
     </div>
</div>     