<div style='width:100%; box-sizing: border-box'>
    <div class="ui mini breadcrumb">
        <%=link_to @account.username, @account, class: "section" %>
            <i class="right angle icon divider"></i>
            <%=link_to @folder.name, [@account, @folder], class: "section" %>
                <i class="right angle icon divider"></i>
                <div class="section"><%= @stream.title %></div>
    </div>
    <div class="ui huge header">
        <%= @stream.title %>
    </div>
    <div class="ui grid">
        <div class="twelve wide column">
            <% if @view_casts.count == 0 %>
                <h4>There are no cards in the stream. Edit your stream to improve your query</h4>
            <% end %>
            <% @view_casts.each do |d| %>
                <div class="column proto-graph-card-div">
                    <%= link_to [@account, @folder,d], "data-turbolinks"=> false do %>
                        <div class="proto-graph-card">
                            <img class="index-card-image" src="<%= d.render_screenshot_url(true) %>" width="100%" alt="<%= d.name %>">
                            <!-- <div class="proto-card-highlight-gradient"></div> -->
                            <div class="proto-card-gradient">
                                <div class="index-card-content">
                                    <div class="index-card-title">
                                        <%= d.name %>
                                    </div>
                                    <div class="index-card-created-by">
                                        <%= image_tag avatar_url(d.updator.email), width: "100%" %>
                                    </div>
                                    <div class="index-card-extra-info">
                                        <%= d.template_card.name %> |
                                            <%= time_ago_in_words(d.updated_at) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="four wide column">
            <div class="card-details">
                <div class="card-details-title">Details</div>
                <div class="sigle-detail">
                    <div class="card-detail-lable">Folders:</div>
                    <br>
                    <ul class="card-detail-Value">
                        <% @folders.each do |folder| %>
                            <li>
                                <%= folder.name %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <!-- <br> -->
                <div class="sigle-detail">
                    <div class="card-detail-lable">Cards:</div>
                    <br>
                    <ul class="card-detail-Value">
                        <% @template_cards.each do |card| %>
                            <li>
                                <%= card.name %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <% if @stream.last_published_at and @view_casts.count > 0 %>
                    <div class="sigle-detail">
                        <div class="card-detail-lable">URL:</div>
                        <div class="card-detail-Value">
                            <%= link_to "Here", "#{@account.cdn_endpoint}/#{@stream.cdn_key}", target: "blank" %>
                        </div>
                    </div>
                    <div class="sigle-detail">
                        <div class="card-detail-lable">Last Publised at:</div>
                        <div class="card-detail-Value">
                            <%= time_ago_in_words(@stream.last_published_at) %> ago</div>
                    </div>
                <% end %>
                <div class='one-br-space'></div>
                <div class='one-br-space'></div>
                <br/>
                <%= link_to "Edit the Stream", "#","data-turbolinks"=> false, id: "formAddButton" %>
                <div class='one-br-space'></div>
                <% unless @view_casts.count == 0 %>
                    <%= link_to "Publish the Stream", publish_account_folder_stream_path(@account, @folder, @stream),"data-turbolinks"=> false, class: "ui primary button", method: :post %>
                <% end %>
                <br/>
            </div>
        </div>
    </div>
</div>

<%= render partial: "streams/form" %>


<script type="text/javascript">

$(document).on("turbolinks:load", function () {
    $('#formAddButton').on('click',function () {
        $('#new-stream')
          .modal({
            closable: false,
          }).modal('show');
    });

    $('.ui.dropdown').dropdown({
      allowAdditions: true,
    });

});
</script>