<div style="margin-left: auto; margin-right: auto; width: 540px;">
    <h1>
        Apps
        <% if @site.logo_image.present? %>
            <span style="float: right;">
                <%= image_tag @site.logo_image.image_url, height: "24px;", style: "vertical-align: middle;" %>
            </span>
        <% end %>
    </h1>
    <%= search_form_for @q, url: apps_site_path(@site) do |f| %>
      <%= f.text_field :name_or_pitch_or_description_cont, placeholder: "Search apps" %>
      <%= f.select :genre_eq, [["Card", "card"], ["Schema", "datum"], ["Page", "page"]], include_blank: "Type: All" %>
      <%= f.select :is_public_eq, [["Open & free", true], ["Private", false]], include_blank: "Availability: All", style: "height: 30px; font-size: 16px;" %>
      <%= f.submit %>
    <% end %>
    
    <hr/>
    <% @template_apps.each do |app| %>
        <div class="app-card">
            <h2>
                <% if app.genre == "card" %>
                    <%= link_to app.name, nil    %>
                <% elsif app.genre == "datum" %>
                    <%= link_to app.name, site_template_datum_path(@site, app.template)    %>
                <% elsif app.genre == "page" %>
                    <%= link_to app.name, nil    %>
                <% end %>
                <% if !app.is_public %>
                    &nbsp;
                    <%= image_tag "lock.png", height: "15px;"%>
                <% end %>
            </h2>
            <p><%= app.pitch %></p>
            <p>
                <% if app.genre == "card" %>
                    <span style="background: #FDBD00; width: 20px; height: 16px; color: #FDBD00;">..</span> 
                    <%= app.genre.titleize %>
                <% elsif app.genre == "datum" %>
                    <span style="background: #9D42A3; width: 20px; height: 16px; color: #9D42A3;">..</span> 
                    Schema
                <% elsif app.genre == "page" %>
                    <span style="background: #ED4040; width: 20px; height: 16px; color: #ED4040;">..</span> 
                    <%= app.genre.titleize %>
                <% end %>
                &nbsp;
                <span class="hint">
                Updated 
                <%= time_ago_in_words app.template.updated_at %> 
                </span>
            </p>
        </div>
    <% end %>
</div>