<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <h1>Reference Table: Publishers</h1>
            <br/>
            <% if @ref_link_sources.count > 0%>
              &nbsp &nbsp
              <%= link_to 'Export', publish_ref_link_sources_path, style: "float: right;margin-top:5px", method: 'post'  %>
            <% end %>
            <hr/>
            <%= simple_form_for @ref_link_source do |f| %>
              <%= f.input :name, placeholder: "Name" %>
              <%= f.input :url, as: :string, placeholder: "Url with http or https", hint: 'Remove the trailing / from the url' %>
              <%= f.input :favicon_url, as: :string, placeholder: "Favicon URL with http or https"  %>

              <%= f.submit "Add new reference link", class: "btn btn-light" %>
            <% end %>
            <hr/>
            <table class="table">
              <tbody>
                <% @ref_link_sources.each do |s| %>
                  <tr>
                    <td style="border: 0px;">
                      <%= image_tag(s.favicon_url, size: "16x16", class: "rounded") %>
                      <%= link_to s.name.titleize, s.url, target: "_blank" %>
                    </td>
                    <td style="border: 0px;text-align: right">
                      <%= link_to "x", ref_link_source_path(s), method: :delete %>
                    </td>
                  </tr>
                <% end %>
            </table>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<!--<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %><h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>
