<div class="row">
  <div class="col-sm-3">
      <%= render partial: "accounts/sidebar" %>
  </div>
  <div class="col-sm-9">
    <br/>
    <h1 style='float:left'>Publishers</h1>
    <% if @ref_link_sources.count > 0%>
      &nbsp &nbsp
      <%= link_to 'Export', publish_ref_link_sources_path, style: "float: right;margin-top:5px", method: 'post'  %>
    <% end %>
    <hr/>
    <table class="table">
      <tbody>
        <% @ref_link_sources.each do |s| %>
          <tr>
            <td style="border: 0px;">
              <%= image_tag(s.favicon_url, size: "16x16", class: "rounded") %>
              <%= link_to s.name.titleize, s.url, target: "_blank" %>
            </td>
            <td style="border: 0px;text-align: right">
              <%= link_to "Remove", ref_link_source_path(s), method: :delete %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>
  <div class="col-sm-4">
    <br/>
    <br/>
    <br/>
    <%= render partial: "ref_link_sources/form" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <br/>
</div>