<%= stylesheet_link_tag "stories" %>
<% content_for :filters_sidebar do %>
    <% if action_name == "edit_plan" %>
        <%= image_tag "help.png", style: "right: 0; float: right; position: relative;" %>
        <span class="help_text_in_sidebar">What is the story on, what story elements do you, whom to get quotes from, who will work on it, by when, etc.</span>
    <% elsif action_name == "edit_write" %>
        <%= image_tag "help.png", style: "right: 0; float: right; position: relative;" %>
        <span class="help_text_in_sidebar">Distraction free writing interface. All pagaraphs between H2 headers will be converted into individual toParagraph cards.</span>
    <% elsif action_name == "edit_assemble" %>
        <%= image_tag "help.png", style: "right: 0; float: right; position: relative;" %>
        <span class="help_text_in_sidebar">Assemble cards into your story, sort the cards. Add related feeds, cover image, headline, etc.</span>
    <% elsif action_name == "edit_distribute" %>
        <%= image_tag "help.png", style: "right: 0; float: right; position: relative;" %>
        <span class="help_text_in_sidebar">Finally, the desk can package the story before distribution and mark it as ready to publish.</span>
    <% end %>
    <hr/>
    <div>
      <%= page_status(@page) %>
      <p style="font-size: 11px; color: #455A64; margin-bottom: 0px; padding-bottom: 3px; font-weight: 800;"><%= @page.is_sponsored ? "SPONSORED IDEA" : "STORY IDEA"%></p>
      <p style="font-size: 11px; color: #455A64; margin-top: 0px; padding-top: 0px;"><%= image_tag avatar_url(@page.creator.email), width: "16px", height: "16px" %> on <%= @page.created_at.strftime("%e %b %Y") %></p>
    <% if action_name != "edit_plan" %>
          <hr/>
          <% if @page.intersection.present? %>
              <div class="story-pitch-intersection">
                  <%= @page.intersection.name %>
                  <% if @page.sub_intersection.present? %>
                      <div class="story-pitch-sub-intersection">
                          <%= @page.sub_intersection.name %>
                      </div>
                  <% end %>
              </div>
              <br/>
              <br/>
          <% end %>
          <p style="font-size: 11px; color: #455A64; ">
             <%= @page.one_line_concept %>
          </p>
           <img src='/assets/glyphicons-139-picture.png' height='13px;' class="<%= @page.has_image_other_than_cover ? nil : "disabled" %>"/> &nbsp;
           <img src='/assets/glyphicons-301-microphone.png'  height='13px;' class="<%= @page.has_audio ? nil : "disabled" %>"/> &nbsp;
           <img src='/assets/glyphicons-181-facetime-video.png' height='12px;' class="<%= @page.has_video ? nil : "disabled" %>"/> &nbsp;
           <img src='/assets/glyphicons-43-pie-chart.png' height='13px;' class="<%= @page.has_data ? nil : "disabled" %>"/> &nbsp;
           <br/>
           <span style="font-size: 11px; color: #455A64; ">
               by
               <%= @page.due %>
           </span>
        </div>
        <br/>
    <% end %>
    <div class="hint">
        <table class="table table-sm hint">
          <% if @page.published_at.present? %>
            <tr>
              <td>Publish at</td>
              <td>:</td>
              <td><%= @page.published_at.strftime("%Y-%m-%d") %></td>
          </tr>
          <% end %>
          <tr>
            <td>Updated by</td>
            <td>:</td>
            <td><%= @page.updator.name %></td>
          </tr>
          <tr>
            <td>On</td>
            <td>:</td>
            <td><%= @page.updated_at.strftime("%e %b %Y") %></td>
          </tr>
        </table>
    </div>
<% end %>
<div class="article_edit_pages">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "Plan", edit_plan_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_plan" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Write", edit_write_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_write" ? "nav-link active" : "nav-link"), "data-no-turbolink" => true %>
      </li>
      <li class="nav-item">
        <%= link_to "Assemble", edit_assemble_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_assemble" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Package", edit_distribute_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_distribute" ? "nav-link active" : "nav-link") %>
      </li>
    </ul>
</div>
<br/>
<br/>
<%= javascript_include_tag "stories",'data-turbolinks-track': 'reload' %>