<% content_for :filters_sidebar do %>
    <div class="hint">
        <table class="table table-sm hint">
          <tr>
            <td>Publish by</td>
            <td>:</td>
            <td><%= @page.published_at.strftime("%Y-%m-%d") %></td>
          </tr>
          <tr>
            <td>Created by</td>
            <td>:</td>
            <td><%= @page.creator.name %></td>
          </tr>
          <tr>
            <td>On</td>
            <td>:</td>
            <td><%= @page.created_at.strftime("%e %b %Y") %></td>
          </tr>
          <tr>
            <td>Updated by</td>
            <td>:</td>
            <td><%= @page.updator.name %></td>
          </tr>
          <tr>
            <td>On</td>
            <td>:</td>
            <td><%= @page.updated_at.strftime("%e %b %Y") %></td>
          </tr>
        </table>
    </div>
<% end %>
<div class="alert alert-light"  style="padding: 0px 10px;">
  <span style="font-size: 11px; color: #C4B700;isplay: inline-block; "><%= @page.is_sponsored ? "SPONSORED: " : "STORY: "%></span>
  <div class="story-pitch-intersection">
      <%= @page.intersection.name %>
      <div class="story-pitch-sub-intersection">
          <%= @page.sub_intersection.name %>
      </div>
  </div>
  <p style="margin-top: 10px; font-weight: 100; display: inline-block;">
      <b style="color: black; font-weight: 800;"><%= @page.one_line_concept %></b>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <img src='/assets/glyphicons-139-picture.png' height='13px;' class="<%= @page.has_image_other_than_cover ? nil : "disabled" %>"/> &nbsp;
      <img src='/assets/glyphicons-301-microphone.png'  height='13px;' class="<%= @page.has_audio ? nil : "disabled" %>"/> &nbsp;
      <img src='/assets/glyphicons-181-facetime-video.png' height='12px;' class="<%= @page.has_video ? nil : "disabled" %>"/> &nbsp;
      <img src='/assets/glyphicons-43-pie-chart.png' height='13px;' class="<%= @page.has_data ? nil : "disabled" %>"/> &nbsp;
      <span style="font-size: 11px; color: #C4B700;isplay: inline-block; ">
          by
          <%= @page.due %>
      </span>
  </p>
</div>
<div class="article_edit_pages">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "Plan", edit_plan_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_plan" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Write", edit_write_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_write" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Assemble", edit_assemble_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_assemble" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Distribute", edit_distribute_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_distribute" ? "nav-link active" : "nav-link") %>
      </li>
    </ul>
</div>
<br/>
<br/>