<%= simple_form_for(@page, url: account_folder_pages_path(@account, @folder), method: :post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :account_id, value: @account.id %>
    <%= f.hidden_field :site_id, value: @site.id %>
    <%= f.hidden_field :folder_id, value: @folder.id %>
    <%= f.input :ref_category_series_id, label: "Ref series", collection: @ref_series, include_blank: false %>
    <%= f.input :ref_category_intersection_id, label: "Ref intersection", collection: @ref_intersection, include_blank: false %>
    <%= f.input :ref_category_sub_intersection_id, label: "Ref sub intersection", collection: @ref_sub_intersection, include_blank: false %>
    <%= f.input :headline, required: true %>
    <%= f.input :summary %>
    <%= f.input :layout, collection: @layout, selected: "article", required: true %>
    <%= f.input :byline, required: true %>
    <%= f.input :byline_stream %>
    <%= f.input :cover_image_url, hint: "Image width: 1260px and 5:3 aspect ratio",required: true %>
    <%= f.input :cover_image_url_7_column, hint: "Image width: 540px and 5:3 aspect ratio" %>
    <%= f.input :cover_image_alignment, collection: @cover_image_alignment, selected: "horizontal", required: true %>
    <%= f.input :is_sponsored %>
    <%= f.input :has_data %>
    <%= f.input :has_image_other_than_cover %>
    <%= f.input :has_audio %>
    <%= f.input :has_video %>
    <%= f.input :is_published %>
    <%= f.input :meta_tags %>
    <%= f.input :meta_description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
