<div class="jumbotroz">
    <div class="row">
        <% if @page.blank? %>
            <% v = @ref_category.vertical_page %>
        <% else %>
            <% v = @page %>
        <% end %>
        <div class="card-tags-series-name">
            Landings
        </div>
        <h1>    
            <%= v.series.name %>
        </h1>
    </div>
</div>
<br/>
<br/>
<div class="protograph-page-tabs">
    <div class="<%= action_name != 'edit' ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Assemble", edit_account_site_page_path(@account, @site, v), "data-turbolinks" => "false" %>
    </div>
    <% if @site.enable_ads %>
        <div class="<%= action_name != 'ads' ? "single-tab" : "single-tab active-tab" %>">
            <%= link_to "Ads", ads_account_site_page_path(@account, @site, v),"data-turbolinks" => "false" %>
        </div>
    <% end %>
    <div class="<%= action_name != 'distribute' ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Package", distribute_account_site_page_path(@account, @site, v), "data-turbolinks" => "false" %>
    </div>
    <div class="<%= controller_name != 'site_vertical_navigations' ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Navigation", account_site_ref_category_site_vertical_navigations_path(@account, @site, v.series),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= controller_name != 'feeds' ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Signals <span class='badge badge-warning'>Pro</span>".html_safe, account_site_ref_category_feeds_path(@account, @site, v.series),"data-turbolinks" => "false" %>
    </div>

    <% if (controller_name != "site_vertical_navigations" and controller_name != "feeds") and @page.status != 'draft' %>
        <div class="single-tab">
          <%= link_to "Go to page", @page.html_url, target: "_blank" %>
         </div>
    <% end %>

</div>