<% if @page.blank? %>
    <% v = @ref_category.vertical_page %>
<% else %>
    <% v = @page %>
<% end %>
<%= content_for :page_title do %>
  <li class="breadcrumb-item active" aria-current="page"><%= v.series.name %></li>
<% end %>
<%= content_for :page_navigation do %>
      <li class="nav-item">
        <%= link_to "Assemble", (action_name == "edit" ?  "#" : edit_account_site_page_path(@account, @site, v, folder_id: v.folder_id)), class: (action_name == "edit" ? "nav-link active" : "nav-link"), "data-turbolinks" => "false" %>
      </li>
      <li class="nav-item">
        <%= link_to "Package", (action_name == "distribute" ? "#" :  distribute_account_site_page_path(@account, @site, v, folder_id: v.folder_id)), class: (action_name == "distribute" ? "nav-link active" : "nav-link"),"data-turbolinks" => "false" %>
      </li>
      <li class="nav-item">
          <%= link_to "Navigation", account_site_ref_category_site_vertical_navigations_path(@account, @site, v.series, folder_id: @folder.present? ? @folder.id : nil), class: (controller_name == "site_vertical_navigations" ? "nav-link active" : "nav-link"),"data-turbolinks" => "false" %>
      </li>
<% end %>
<br/>
<br/>