<%= content_for :page_title do %>
  <li class="breadcrumb-item"><%= link_to "Page Builder", manager_account_site_pages_path(@account, @site), "data-turbolinks"=> false %></li>
  <li class="breadcrumb-item active" aria-current="page"><%= @page.series.name %></li>
<% end %>
<%= content_for :page_navigation do %>
      <li class="nav-item">
        <%= link_to "Assemble", (action_name == "edit" ?  "#" : edit_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id)), class: (action_name == "edit" ? "nav-link active" : "nav-link"), "data-turbolinks" => "false" %>
      </li>
      <li class="nav-item">
        <%= link_to "Package", (action_name == "distribute" ? "#" :  distribute_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id)), class: (action_name == "distribute" ? "nav-link active" : "nav-link"),"data-turbolinks" => "false" %>
      </li>
<% end %>
<br/>
<br/>