<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title><%= page.headline %></title>
        <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Cabin:400,400i,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.protograph.pykih.com/lib/proto-app-lib.min.css">
        <link rel="stylesheet" type="text/css" href="<%= ENV['AWS_S3_ENDPOINT'] %>/template-page/proto-app-style.min.css">
        <link rel="stylesheet" type="text/css" href="<%= ENV['AWS_S3_ENDPOINT'] %>/template-page/proto-app-findings.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js"></script>
        <% if site['favicon_url'].present? %>
            <link rel="icon" type="image/png" href="<%= site['favicon_url'] %>">
        <% end %>
        <% if page.meta_keywords.present? %>
            <meta name="keywords" content="<%= page.meta_keywords %>">
        <% end %>
        <% if page.meta_description.present? %>
            <meta name="description" content="<%= page.meta_description %>">
        <% end %>
    </head>

    <body>
        <div class="proto-grid-container data-page">

            <!-- <div class="proto-col col-16 navbar">
                <a href="./index.html">
                    <div class="branding">#<strong>जलजागरण</strong></div>
                </a>
                <div class="nav-links">
                    <div class="single-link stories"><a href="./index.html">ख़बरें</a></div>
                    <div class="single-link data"><a href="./data.html">आँकड़े</a></div>
                    <div class="single-link insights"><a href="./findings.html">पड़ताल</a></div>
                    <div class="single-link active-page about"><a href="#">परिचय</a></div>
                </div>
                <div class="social right-float-div">
                    <div class="single-link facebook">
                        <a href="https://www.facebook.com/dainikjagran/" target="_blank"><img src="img/fb-white.png"></a>
                    </div>
                    <div class="single-link twitter">
                        <a href="https://twitter.com/jagrannews/" target="_blank"><img src="img/tw-white.png"></a>
                    </div>
                </div>
            </div>

            <div class="mobile-navigation">
                <div class="mobile-navbar">
                    <a href="./index.html">
                        <div class="branding">#<strong>जलजागरण</strong></div>
                    </a>
                    <div class="right-float-div">
                        <div class="hamburger-icon"><img src="img/hamburger-icon.png"></div>
                    </div>
                </div>

                <div class="mobile-navigations-screen">
                    <div class="right-float-div">
                        <div class="close-icon"><i class="remove icon"></i></div>
                    </div>
                    <div class="nav-links">
                        <div class="single-link stories"><a href="./index.html">ख़बरें</a></div>
                        <div class="single-link data"><a href="./data.html">आँकड़े</a></div>
                        <div class="single-link insights"><a href="./findings.html">पड़ताल</a></div>
                        <div class="single-link about active-page"><a href="#">परिचय</a></div>
                    </div>
                    <div class="social bottom-pull-div">
                        <div class="single-link facebook">
                            <a href="https://www.facebook.com/dainikjagran/" target="_blank"><img src="img/fb-black.png"></a>
                        </div>
                        <div class="single-link twitter">
                            <a href="https://twitter.com/jagrannews/" target="_blank"><img src="img/tw-black.png"></a>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="proto-col col-16">
                <div class="fixed-cover-block fixed-cover-block-small">
                    <div class="page-title bottom-pull-div">
                        <%= page.headline %>
                    </div>
                </div>
            </div>
            <div class="proto-col col-4 navigation-links">
                <div class="summary">
                    <div class="article-share-icons">
                        <div class="article-share-icons">
                            <a href="<%= site['facebook_url'].present? ? site['facebook_url'] : '#' %>" id='facebook-share-link' target="_blank">
                                <div class="single-share-icon"><img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/article-share-facebook.png"></div>
                            </a>
                            <a href="<%= site['twitter_url'].present? ? site['facebook_url'] : '#' %>" id='twitter-share-link' target="_blank">
                                <div class="single-share-icon"><img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/article-share-twitter.png"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-index" id="sticker">
                    <div class="index-title-tabs">
                        <div class="single-tab-value active-value">OVERVIEW</div>
                    </div>
                    <!-- <nav class="scroll_navigation" id="myNavbar">
                        <ul class="nav index-list">
                            <li class="nav-item">
                                <a href="#section1" class="nav-link single-index-value active">अबाउट दी प्रोजेक्ट</a>
                            </li>
                            <li class="nav-item">
                                <a href="#section2" class="nav-link single-index-value">स्टार रेटिंग्स की कार्यप्रणाली</a>
                            </li>
                            <li class="nav-item">
                                <a href="#section3" class="nav-link single-index-value">कॉनक्रिटाईज़ेशन</a>
                            </li>
                            <li class="nav-item">
                                <a href="#section4" class="nav-link single-index-value">वन आवरण</a>
                            </li>
                            <li class="nav-item">
                                <a href="#section5" class="nav-link single-index-value">जनसंख्या</a>
                            </li>
                            <li class="nav-item">
                                <a href="#section6" class="nav-link single-index-value">वर्षा</a>
                            </li>
                            <li class="nav-item">
                                <a href="#section7" class="nav-link single-index-value">भू-जल निकालने का कठिनाई स्तर</a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
            </div>
            <div class="proto-col col-7">
                <div class="article-area-small" id="article"></div>

                <!-- <div class="article-area-small" id="article">
                    <div class="fade-area"></div>
                    <div class="article-h2 section" id="section1">अबाउट दी प्रोजेक्ट </div>
                    <div class="article-para">
                        <p>
                            जल-जागरण एक डेटा-ड्रिवेन कोशिश है यह समझने की कि देश के विभिन्न राज्यों में भू-जल की स्थिति क्या है। यह पहला और वर्तमान संस्करण
                            केवल उत्तर प्रदेश राज्य पर केंद्रित है। अगले कुछ महीनों में इस प्रोजेक्ट में और भी राज्य शामिल होंगे।
                        </p>
                        <p>
                            भू-जल की वर्तमान स्थिति और भविष्य के दृष्टिकोण को समझना काफ़ी कठिन हो सकता है क्योंकि भू-जल की मात्रा और गुणवत्ता तय करने
                            के कई कारक होते हैं। अक्सर इन कारकों के बारे में डेटा केंद्र और राज्य सरकारों के पास टुकड़ों में
                            बँटा रहता है और इस कारण भू-जल की समस्या का हम सही संदर्भ में आकलन नहीं कर पाते।
                        </p>
                        <p>
                            जल-जागरण एक कोशिश है इन सभी कणों का एक वेब्सायट पर संकलन करके उनको संदर्भ अनुसार समझने की। इस प्रोजेक्ट से यह उम्मीद है की
                            हम भू-जल के गिरते स्तर को सही मायनों में समझ सकें और उस पर सकारात्मक कार्यवाही कर सकें।
                        </p>
                    </div>
                    <div class="article-h2 section" id="section2">स्टार रेटिंग्स की कार्यप्रणाली</div>
                    <div class="article-para">
                        <p>
                            वार्षिक वर्षा, वन आवरण, बढ़ती जनसंख्या, ज़मीन की पानी सोख लेनी की क्षमता और कॉनक्रिटाईज़ेशन ऐसे कुछ कारण हैं जिनसे एक जगह
                            की भू-जल मात्रा प्रभावित होती है। इस प्रोजेक्ट में इन सभी कारकों की पड़ताल की गई है और उनका मूल्यांकन
                            एक स्टार से लेकर पाँच स्टार तक किया गया है। <strong>एक स्टार का मतलब सबसे ख़राब और पाँच स्टार सबसे अच्छा।</strong>                        इस प्रोजेक्ट के संदर्भ में, प्रत्येक कारक की मान्यताओं ओर सीमाओं का विवरण नीचे किया गया है।
                        </p>
                    </div>
                    <div class="article-h2 section" id="section3">कॉनक्रिटाईज़ेशन</div>
                    (आधार - UP State Statistical Survey 2015)
                    <div class="article-para">
                        <p>
                            मान्यता: वो सारा भूमि क्षेत्रफल जो की ‘लैंड अदर देन ऐग्रिकल्चर’ के तहत वर्गिक्र्त है उसे कॉनक्रिटाईज़्ड माना गया है। इस श्रेणी
                            के अंतर्गत यही मापदंड हर ज़िले की स्टार रेटिंग्स का आधार है।
                        </p>
                        <p>
                            तरीका: हर ज़िले के कुल क्षेत्र का कितना प्रतिशत हिस्सा ‘लैंड अदर देन ऐग्रिकल्चर’ के तहत वर्गिक्र्त है इसकी गणना की गयी। फिर,
                            परिणामी नतीजों की रेंज को पाँच बराबर प्रतिशतक में बाँटा गया। वो ज़िले जो सबसे कम २० प्रतिशतक में
                            रहे उन्हें एक-स्टार रेटिंग्स दी गयी और तदनुसार दो से पाँच रेटिंग्स दी गयी।
                        </p>
                    </div>
                    <div class="article-h2 section" id="section4">वन आवरण</div>
                    (आधार - UP State Statistical Survey 2015)
                    <div class="article-para">
                        <p>
                            मान्यता: वो सारा भूमि क्षेत्र फल जो की ‘ऐरिया अंडर फ़ॉरेस्ट’ के तहत वर्गिक्र्त है उसको वन आवरण माना गया है। इस श्रेणी के
                            अंतर्गत यही मापदंड हर ज़िले की स्टार रेटिंग्स का आधार है।
                        </p>
                        <p>
                            तरीका: हर ज़िले के कुल क्षेत्र का कितना प्रतिशत हिस्सा ‘ऐरिया अंडर फ़ॉरेस्ट’ के तहत वर्गिकरत है इसकी गणना की गयी। फिर, परिणामी
                            नतीजों की रेंज को पाँच बराबर प्रतिशतक में बाँटा गया। वो ज़िले जो सबसे कम २० प्रतिशतक में रहे उन्हें
                            एक-स्टार रेटिंग्स दी गयी और तदनुसार दो से पाँच रेटिंग्स दी गयी।

                        </p>
                    </div>
                    <div class="article-h2 section" id="section5">जनसंख्या</div>
                    (स्तोत्र: Census of India)
                    <div class="article-para">
                        <p>
                            तरीक़ा: हर ज़िले का दशक २००१-२०११ का जनसंख्या वृद्धि दर निकाला गया। परिणामी नतीजों की रेंज को पाँच प्रतिशतक में बाँटा गया।
                            जो ज़िले ८० प्रतिशतक से ऊपर की श्रेणी में आए उन्हें एक स्टार की रेटिंग दी गयी और तदनुसार दो से पाँच
                            की रेटिंग निर्धारित की गयी।
                        </p>
                    </div>

                    <div class="article-h2 section" id="section6">वर्षा</div>
                    (आधार: India Meteorological Department, or IMD)
                    <div class="article-para">
                        <p>
                            तरीका: वर्ष २०१२ से २०१६ के दौरान वार्षिक वर्षा के घाटे/अधिशेष को आधार माना गया है। सभी ज़िलों के घाटे की औसत निकाली गया।
                            फिर, परिणामी नतीज़ों को पाँच प्रतिशतक में बाँटा गया। वो ज़िले जिनमे घाटा सबसे कम २० प्रतिशतक में
                            आया, उन्हें पाँच-स्टार रेटिंग्स दी गयी और तदनुसार चार से एक रेटिंग्स निर्धारित की गयी।
                        </p>
                    </div>

                    <div class="article-h2 section" id="section7">भू-जल निकालने का कठिनाई स्तर</div>
                    (आधार : Data Source: Central Ground Water Board)
                    <div class="article-para">
                        <p>
                            तरीका: भू-जल की गहराई के आधार पर ज़िले २ श्रेणियों में बँटे हैं। जिन ज़िलों में भू-जल १० ‘मीटर बिलो ग्राउंड लेवल’, अथवा ‘mbgl’,
                            से ऊपर मौजूद है उन जिलों में भू-जल निकालने के कठिनाई स्तर को ‘आसान’ माना गया है। जिन जिलों में भू-जल
                            १० mbgl से ज़्यादा गहराई में है वहाँ ‘मुश्किल’ माना गया है। ये थिंक-टैंक
                            <a
                                href="http://www.prsindia.org/administrator/uploads/general/1455682937~~Overview%20of%20Ground%20Water%20in%20India.pdf">PRS</a> की इस मान्यता पर आधारित है की १० मीटर से अधिक गहराई से भू-जल निकालना मैन्यूली संभव नहीं है
                                और इस काम के लिए मोटर की अवश्यक्ता होती है।
                        </p>
                    </div>
                </div> -->

                <div class="default-button read-more-button" id="cont-button">
                    Continue Reading
                </div>
            </div>
            <div class="proto-col col-4 col-1-offset">
                <div class="related-articles-link">
                    <div class="column-title"><%= streams_mapping['Related'] %></div>
                    <div id="related_container"></div>
                </div>
            </div>
            <!-- <div class="proto-col col-16 more-articles-link-div">
                <div class="more-articles-link">
                    <div class="column-title">More in this series</div>
                    <div id="more_articles_container" class="more-articles-container"></div>
                </div>
            </div> -->
        </div>
        <div class="protograph-app-filter-icon" id="protograph_filter_icon">&#9776;</div>
        <div class="protograph-app-filter-icon protograph-app-filter-close-button" id="protograph_filter_close_icon"><i class="remove icon"></i></div>
        <script>
            window.ProtoGraph = window.ProtoGraph || {};
            ProtoGraph.streams = <%= streams_mapping.to_json %>;
        </script>
        <script type="text/javascript" src="https://cdn.protograph.pykih.com/lib/proto-app-lib.min.js"></script>
        <script src="https://cdn.protograph.pykih.com/lib/tether.min.js"></script>
        <script src="https://cdn.protograph.pykih.com/lib/bootstrap.min.js"></script>
        <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js"></script>
        <script type="text/javascript" src="<%= ENV['AWS_S3_ENDPOINT'] %>/template-page/proto-app-findings.min.js"></script>
    </body>

</html>