<%= render partial: "pages/header" %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <%= simple_form_for(@page, url: account_site_page_path(@account, @site), method: :put) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                    <br/>
                    <h3>Package the story before publishing it</h3>
                    <br/>
                    <%= f.input :headline, required: true, minlength: 10 , maxlength: 90, hint: "Minimum length: 50 chars. Maximum length: 90 chars.", placeholder: "Title", label: "Headline", autofocus: true %>
                    <% if !@site.is_english or 1 == 1 %>
                        <%= f.input :english_headline, required: true, minlength: 10 , maxlength: 90, hint: "This is used for url management.", label: "Write the headline in English" %>
                    <% end %>
                    <%= f.input :summary, minlength: 50 , maxlength: 220, hint: "Minimum length: 50 chars. Maximum length: 200 chars." %>
                    <%= f.input :published_at, as: :datetime %>
                    <br/>
                    <hr/>
                    <h3>Cover Image</h3>
                    <br/>
                    <% if @page.cover_image_id.blank? %>
                        <%= f.fields_for :cover_image do |cover_image| %>
                            <%= cover_image.input :image, label: false, placeholder: "Upload cover image", input_html: {style: "width: 100%; background: lightgray; min-height: 200px; cursor: pointer; padding: 100px 0px;", onchange: "readURL(this);"}%>
                            <%= cover_image.hidden_field :account_id, value: @account.id %>
                            <%= cover_image.hidden_field :is_cover, value: true %>
                            <%= cover_image.hidden_field :created_by, value: current_user.id %>
                            <%= cover_image.hidden_field :updated_by, value: current_user.id %>
                        <% end %>
                    <% else %>
                        <%= image_tag(@page.cover_image_url,style: 'width: 100%', class: "img-fluid") %>
                        <br/>
                        <%= link_to "Remove", remove_cover_image_account_site_page_path(@account, @site, @page), method: :put%>
                        <br/>
                    <% end %>
                    <%= f.input :cover_image_alignment, collection: @cover_image_alignment, selected: "horizontal", required: true %>
                    <br/>
                    <hr/>
                    <h3>Prepare for Distribution</h3>
                    <br/>
                    <%= f.input :share_text_facebook %>
                    <%= f.input :share_text_twitter %>
                    <%= f.input :meta_keywords, maxlength: 255 %>
                    <%= f.input :meta_description %>
                </div>
                <div class="form-actions">
                  <% if @page.status == 'draft' %>
                    <%= f.button :submit, "Save as draft" %>
                  <% end %>
                  <%= f.button :submit, "Publish" %>
                  <% if @page.status != 'draft' %>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <%= link_to "Preview", @page.html_url, target: "_blank" %>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    #<span class='card-id'><%= @page.view_cast_id %></span>
                  <% end %>
                </div>
            <% end %>


        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= page_status(@page) %>
        <p style="font-size: 11px; color: #455A64; margin-bottom: 0px; padding-bottom: 3px; font-weight: 800;"><%= @page.is_sponsored ? "SPONSORED IDEA" : "STORY IDEA"%></p>
        <p style="font-size: 11px; color: #455A64; margin-top: 0px; padding-top: 0px;"><%= image_tag avatar_url(@page.creator.email), width: "16px", height: "16px" %> on <%= @page.created_at.strftime("%e %b %Y") %></p>
        <div class="hint">
            <table class="table table-sm hint">
              <% if @page.published_at.present? %>
                <tr>
                  <td>Publish at</td>
                  <td>:</td>
                  <td><%= @page.published_at.strftime("%Y-%m-%d") %></td>
              </tr>
              <% end %>
              <tr>
                <td>Updated by</td>
                <td>:</td>
                <td><%= @page.updator.name %></td>
              </tr>
              <tr>
                <td>On</td>
                <td>:</td>
                <td><%= @page.updated_at.strftime("%e %b %Y") %></td>
              </tr>
            </table>
        </div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>