<%= render partial: "pages/edit_header" %>
<div class="row">
    <div class="col-sm-11" style="margin-left: auto; margin-right: auto; width: 540px;">
        <% if @page.intersection.present? %>
            <div class="story-pitch-intersection">
                <%= @page.intersection.name %>
                <% if @page.sub_intersection.present? %>
                    <div class="story-pitch-sub-intersection">
                        <%= @page.sub_intersection.name %>
                    </div>
                <% end %>
            </div>
        <% end %>
        <h2 style="font-weight: 100; margin-top: 10px;"><%= @page.one_line_concept %></h2>
        <br/>
        <%= simple_form_for(@page, url: account_site_page_path(@account, @site, @page), method: :put) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
                <%= f.input :description, label: "Describe the story in detail so the writer understands it better." %>
                <div class="row">
                    <div class="col-sm-2">
                        <%= f.input :has_image_other_than_cover, label: "&nbsp; <img src='/assets/glyphicons-139-picture.png' height='17px;'/>".html_safe %>
                    </div>
                    <div class="col-sm-2">
                        <%= f.input :has_audio, label: "&nbsp; <img src='/assets/glyphicons-301-microphone.png'  height='17px;'/>".html_safe %>
                    </div>
                    <div class="col-sm-2">
                        <%= f.input :has_video, label: "&nbsp; <img src='/assets/glyphicons-181-facetime-video.png' height='16px;'/>".html_safe %>
                    </div>
                    <div class="col-sm-2">    
                        <%= f.input :has_data, label: "&nbsp; <img src='/assets/glyphicons-43-pie-chart.png' height='17px;'/>".html_safe %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8"><%= f.input :due, as: :date, label: "ETA:", label_html: {style: "width: 100%; justify-content: left;"} %>
                    </div>
                    <div class="col-sm-8"><%= f.input :published_at, as: :date, label: "Planned publish date:", label_html: {style: "width: 100%; justify-content: left;"} %>
                    </div>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Save", class: "btn btn-sm" %>
                </div>
            </div>
        <% end %>
        <%= render partial: "page_todos/index"%>
    </div>
</div>