<%= render partial: "pages/edit_header" %>
<div style="margin-left: auto; margin-right: auto; width: 750px; background: #CFD8DC; padding: 20px;">
    <% if @page.intersection.present? %>
        <div class="story-pitch-intersection">
            <%= @page.intersection.name %>
            <% if @page.sub_intersection.present? %>
                <div class="story-pitch-sub-intersection">
                    <%= @page.sub_intersection.name %>
                </div>
            <% end %>
        </div>
    <% end %>
    <h2 style="margin-top: 10px; font-size: 1.3em;"><%= best_in_place @page, :one_line_concept, url: account_site_page_path(@account, @site, @page) %></h2>
    <%= best_in_place @page, :description, as: :textarea, url: account_site_page_path(@account, @site, @page), place_holder: "Edit the description" %>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <h4 style="color: gray; font-weight: 100;">ELEMENTS</h4>
            <%= best_in_place @page, :has_image_other_than_cover, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page) %>
            <img src='/assets/glyphicons-139-picture.png' height='16px;' class="<%= @page.has_image_other_than_cover ? nil : "disabled" %>"/>
            &nbsp;&nbsp;
            <%= best_in_place @page, :has_audio, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page) %>
            <img src='/assets/glyphicons-301-microphone.png' height='16px;' class="<%= @page.has_audio ? nil : "disabled" %>"/>
            &nbsp;&nbsp;
            <%= best_in_place @page, :has_video, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page) %>
            <img src='/assets/glyphicons-181-facetime-video.png' height='13px;' class="<%= @page.has_video ? nil : "disabled" %>"/>
            &nbsp;&nbsp;
            <%= best_in_place @page, :has_data, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page) %>
            <img src='/assets/glyphicons-43-pie-chart.png' height='16px;' class="<%= @page.has_data ? nil : "disabled" %>"/>
        </div>
        <div class="col-sm-4">
            <h4 style="color: gray; font-weight: 100;">DUE DATE</h4>
            <%= best_in_place @page, :due, as: :date, url: account_site_page_path(@account, @site, @page) %>
        </div>
        <div class="col-sm-6">
            <h4 style="color: gray; font-weight: 100;">PUBLISH DATE</h4>
            <%= best_in_place @page, :published_at, as: :date, url: account_site_page_path(@account, @site, @page) %>
        </div>
    </div>
    <%= render partial: "page_todos/index"%>
</div>