<% if @pages.first.blank? %>
    <br/>
    <br/>
    <div class="blankslate blankslate-spacious">
        <% if @folder.is_trash %>
            <h3>There are no stories in the recycle bin.</h3>
        <% else %>
            <h3>No stories created yet.</h3>
            <p>Use the [+ Add a story] button on the top right.</p>
        <% end %>
    </div>
<% else %>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>#
                </th>
                <th>Headline
                </th>
                <th>Byline
                </th>
                <th>Vertical
                </th>
                <th>Intersection
                </th>
                <th>Sub Intersection
                </th>
                <th>Status
                </th>
                <th>Last updated
                </th>
            </tr>
        </thead>
        <tbody>
            <% @pages.each do |d| %>                
                <tr>
                    <td class="hint">
                        <% if d.view_cast.present? %>
                        <%= d.view_cast.id.to_s %>
                        <% end %>
                    </td>
                    <td><%= link_to truncate(d.headline, length: 200, ommission: ".."), edit_account_site_page_path(@account, @site, d, folder_id: d.folder_id), "data-turbolinks"=> false  %>
                    </td>
                    <td class="hint"><%= d.byline %>
                    </td>
                    <td class="hint"><%= d.series.present? ? d.series.name : "" %>
                    </td>
                    <td class="hint"><%= d.intersection.present? ? d.intersection.name : "" %>
                    </td>
                    <td class="hint"><%= d.sub_intersection.present? ? d.sub_intersection.name : "" %>
                    </td>
                    <td class="hint">
                    </td>
                    <td class="hint">
                        <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                        <%= time_ago_in_words(d.updated_at) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @pages, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
<% end %>