<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Account</th>
      <th>Folder</th>
      <th>Headline</th>
      <th>Meta description</th>
      <th>Publised date</th>
      <th>Is published</th>
      <th>Summary</th>
      <th>Alignment</th>
      <th>Isinteractive</th>
      <th>Genre</th>
      <th>Sub genre</th>
      <th>Series</th>
      <th>By line</th>
      <th>Cover image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.site_id %></td>
        <td><%= page.account_id %></td>
        <td><%= page.folder_id %></td>
        <td><%= page.headline %></td>
        <td><%= page.meta_description %></td>
        <td><%= page.publised_date %></td>
        <td><%= page.is_published %></td>
        <td><%= page.summary %></td>
        <td><%= page.alignment %></td>
        <td><%= page.isinteractive %></td>
        <td><%= page.genre %></td>
        <td><%= page.sub_genre %></td>
        <td><%= page.series %></td>
        <td><%= page.by_line %></td>
        <td><%= page.cover_image_id %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
