<%= content_for :page_title do %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to @site.name, account_site_path(@account, @site), "data-turbolinks"=> false %></li>
        <li class="breadcrumb-item active" aria-current="page">Page Builder</li>
      </ol>
    </nav>
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 600px;">
            <% if @data.first.blank? %>
                <div class="hint">No rows yet</div>
            <% else %>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>#
                            </th>
                            <th>Vertical
                            </th>
                            <th>
                            </th>
                            <th>Last updated
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @data.each do |ref_category| %>                
                            <% d = ref_category.vertical_page %>
                            <tr>
                                <td class="hint">
                                    <% if d.present? %>
                                        <% if d.view_cast.present? %>
                                            <%= d.view_cast.id.to_s %>
                                        <% end %>
                                    <% end %>
                                </td>
                                <td>
                                    <% if d.present? %>
                                        <%= link_to (ref_category.name_html.present? ? ref_category.name_html.html_safe : ref_category.name), edit_account_site_page_path(@account, @site, d, folder_id: @folder.present? ? @folder.id : nil), "data-turbolinks"=> false %>
                                    <% else %>
                                        <%= ref_category.name_html.present? ? ref_category.name_html.html_safe : ref_category.name %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= link_to "Navigation", account_site_ref_category_site_vertical_navigations_path(@account, @site, ref_category, folder_id: @folder.present? ? @folder.id : nil) %>
                                </td>
                                <td class="hint">
                                    <% if d.present? %>
                                        <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                                        <%= time_ago_in_words(d.updated_at) %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<!--<h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>



<script type="text/javascript">
  $(document).on("turbolinks:load", function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
