
  <div class="col-sm-6" style="margin-left: auto; margin-right: auto;">
      
      <h6>Editorial Planning for <%= @site.domain %></h6>
    <h1>Verticals</h1>
    <hr/>
    <% if @data.first.blank? %>
        <div class="hint">No rows yet</div>
    <% else %>
      <table class="table table-lg table-responsive">
        <tbody>
          <% @data.each do |ref_category| %>
            <tr>
              <td style="border: 0px;">
                <% if ref_category.name_html.present? %>
                  <%= ref_category.name_html.html_safe %>
                <% else %>
                    <%= ref_category.name %>
                <% end %>
                <div class="hint"><%= ref_category.updator.name %></div>
              </td>
              <td style="border: 0px;text-align: right">
                  <% if ref_category.vertical_page.present? %>
                  <%= link_to "Vertical's homepage", edit_account_site_page_path(@account, @site, ref_category.vertical_page)%>
                  <% end %>
              </td>
              <td style="border: 0px;text-align: right">
                <%= link_to "Navigation", account_site_ref_category_site_vertical_navigations_path(@account, @site, ref_category) %>
                    &nbsp;&nbsp;&nbsp;&nbsp;
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>

<script type="text/javascript">
  $(document).on("turbolinks:load", function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>