<% if @data.first.blank? %>
    <div class="hint">No rows yet</div>
<% else %>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>#
                </th>
                <th>Vertical
                </th>
                <th>
                </th>
                <th>Last updated
                </th>
            </tr>
        </thead>
        <tbody>
            <% @data.each do |ref_category| %>                
                <% d = ref_category.vertical_page %>
                <tr>
                    <td class="hint">
                        <% if d.present? %>
                            <% if d.view_cast.present? %>
                                <%= d.view_cast.id.to_s %>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <% if d.present? %>
                            <% if ref_category.name_html.present? %>
                              <%= link_to ref_category.name_html.html_safe, edit_account_site_page_path(@account, @site, d, folder_id: d.folder_id), "data-turbolinks"=> false %>
                            <% else %>
                                <%= link_to ref_category.name, edit_account_site_page_path(@account, @site, d, folder_id: d.folder_id), "data-turbolinks"=> false %>
                            <% end %>
                        <% else %>
                            <% if ref_category.name_html.present? %>
                              <%= ref_category.name_html.html_safe %>
                            <% else %>
                                <%= ref_category.name %>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to "Navigation", account_site_ref_category_site_vertical_navigations_path(@account, @site, ref_category) %>
                    </td>
                    <td class="hint">
                        <% if d.present? %>
                            <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                            <%= time_ago_in_words(d.updated_at) %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<script type="text/javascript">
  $(document).on("turbolinks:load", function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
