<%= content_for :page_title do %>
    
        
        <li class="breadcrumb-item active" aria-current="page">Page Builder</li>
      
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 600px;">
            <% if @data.first.blank? %>
                <div class="hint">No rows yet</div>
            <% else %>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>#
                            </th>
                            <th>Vertical
                            </th>
                            <th>
                            </th>
                            <th>Last updated
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @data.each do |ref_category| %>                
                            <% d = ref_category.vertical_page %>
                            <tr>
                                <td class="hint">
                                    <% if d.present? %>
                                        <% if d.view_cast.present? %>
                                            <%= d.view_cast.id.to_s %>
                                        <% end %>
                                    <% end %>
                                </td>
                                <td>
                                    <% if d.present? %>
                                        <%= link_to (ref_category.name_html.present? ? ref_category.name_html.html_safe : ref_category.name), edit_account_site_page_path(@account, @site, d, folder_id: @folder.present? ? @folder.id : nil), "data-turbolinks"=> false %>
                                    <% else %>
                                        <%= ref_category.name_html.present? ? ref_category.name_html.html_safe : ref_category.name %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= link_to "Navigation", account_site_ref_category_site_vertical_navigations_path(@account, @site, ref_category, folder_id: @folder.present? ? @folder.id : nil) %>
                                </td>
                                <td class="hint">
                                    <% if d.present? %>
                                        <%= image_tag avatar_url(d.updator.email), width: "20px", class: "rounded" %>
                                        <%= time_ago_in_words(d.updated_at) %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
        <h2>Page Builder</h2>
		<p>After writers publish a story, it does not appear on a vertical's homepage.</p>
        <p><b>Editors</b> must use Page Builder to control which stories appear on the vertical's home, how and where.</p>
	</div>
</div>



<script type="text/javascript">
  $(document).on("turbolinks:load", function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
