<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= best_in_place @page, :headline, url: [@account, @folder, @page] %>
  <%#= @page.headline %>
</p>

<p>
  <strong>Meta tags:</strong>
  <%= best_in_place @page, :meta_tags, url: [@account, @folder, @page] %>
  <%#= @page.meta_tags %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= best_in_place @page, :meta_description, url: [@account, @folder, @page], :as => :textarea %>
  <%#= @page.meta_description %>
</p>

<p>
  <strong>Summary:</strong>
  <%= best_in_place @page, :summary, url: [@account, @folder, @page], :as => :textarea, url: [@account, @folder, @page] %>
  <%#= @page.summary %>
</p>

<p>
  <strong>Layout:</strong>
  <%= best_in_place @page, :layout, :as => :select, collection: @layout, url: [@account, @folder, @page] %>
  <%#= @page.layout %>
</p>

<p>
  <strong>Byline:</strong>
  <%= best_in_place @page, :byline, url: [@account, @folder, @page] %>
  <%#= @page.byline %>
</p>

<p>
  <strong>Byline stream:</strong>
  <%= best_in_place @page, :byline_stream, url: [@account, @folder, @page] %>
  <%#= @page.byline_stream %>
</p>

<p>
  <strong>Cover image url:</strong>
  <%= best_in_place @page, :cover_image_url, url: [@account, @folder, @page] %>
  <%#= @page.cover_image_url %>
</p>

<p>
  <strong>Cover image url 7 column:</strong>
  <%= best_in_place @page, :cover_image_url_7_column, url: [@account, @folder, @page] %>
  <%#= @page.cover_image_url_7_column %>
</p>

<!--
<p>
  <strong>Cover image url facebook:</strong>
  <%#= @page.cover_image_url_facebook %>
</p>

<p>
  <strong>Cover image url square:</strong>
  <%#= @page.cover_image_url_square %>
</p> -->

<p>
  <strong>Cover image alignment:</strong>
  <%= best_in_place @page, :cover_image_alignment, :as => :select, collection: @cover_image_alignment, url: [@account, @folder, @page] %>
  <%#= @page.cover_image_alignment %>
</p>

<p>
  <strong>Is sponsored:</strong>
  <%= best_in_place @page, :cover_image_alignment, as: :checkbox, collection: {true: "Yes", false: "No"}, url: [@account, @folder, @page] %>
  <%#= @page.is_sponsored %>
</p>

<!-- <p>
  <strong>Is interactive:</strong>
  <%#= @page.is_interactive %>
</p> -->

<p>
  <strong>Has data:</strong>
  <%= best_in_place @page, :has_data, as: :checkbox, collection: {true: "Yes", false: "No"}, url: [@account, @folder, @page] %>
  <%#= @page.has_data %>
</p>

<p>
  <strong>Has image other than cover:</strong>
  <%= best_in_place @page, :has_image_other_than_cover, as: :checkbox, collection: {true: "Yes", false: "No"}, url: [@account, @folder, @page] %>
  <%#= @page.has_image_other_than_cover %>
</p>

<p>
  <strong>Has audio:</strong>
  <%= best_in_place @page, :has_audio, as: :checkbox, collection: {true: "Yes", false: "No"}, url: [@account, @folder, @page] %>
  <%#= @page.has_audio %>
</p>

<p>
  <strong>Has video:</strong>
  <%= best_in_place @page, :has_video, as: :checkbox, collection: {true: "Yes", false: "No"}, url: [@account, @folder, @page] %>
  <%#= @page.has_video %>
</p>

<p>
  <strong>Is published:</strong>
  <%= best_in_place @page, :is_published, as: :checkbox, collection: {true: "Yes", false: "No"}, url: [@account, @folder, @page] %>
  <%#= @page.is_published %>
</p>

<!-- <p>
  <strong>Published at:</strong>
  <%#= @page.published_at %>
</p> -->

<p>
  <strong>Url:</strong>
  <%= best_in_place @page, :url, url: [@account, @folder, @page], :as => :textarea %>
  <%#= @page.url %>
</p>

<p>
  <strong>Ref category series:</strong>
  <%= best_in_place @page, :ref_category_series_id, :as => :select, collection: @ref_series, url: [@account, @folder, @page] %>
  <%#= @page.ref_category_series_id %>
</p>

<p>
  <strong>Ref category intersection:</strong>
  <%= best_in_place @page, :ref_category_intersection_id, :as => :select, collection: @ref_intersection, url: [@account, @folder, @page] %>
  <%#= @page.ref_category_intersection_id %>
</p>

<p>
  <strong>Ref category sub intersection:</strong>
  <%= best_in_place @page, :ref_category_sub_intersection_id, :as => :select, collection: @ref_sub_intersection, url: [@account, @folder, @page] %>
  <%#= @page.ref_category_sub_intersection_id %>
</p>

<!-- <p>
  <strong>View cast:</strong>
  <%#= @page.view_cast_id %>
</p> -->

<!-- <p>
  <strong>Page object url:</strong>
  <%#= @page.page_object_url %>
</p> -->

<!-- <p>
  <strong>Created by:</strong>
  <%#= @page.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%#= @page.updated_by %>
</p> -->

<%#= link_to 'Edit', edit_page_path(@page) %> |
<%#= link_to 'Back', pages_path %>
