<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @page.site_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @page.account_id %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @page.folder_id %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @page.headline %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= @page.meta_description %>
</p>

<p>
  <strong>Publised date:</strong>
  <%= @page.publised_date %>
</p>

<p>
  <strong>Is published:</strong>
  <%= @page.is_published %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @page.summary %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @page.alignment %>
</p>

<p>
  <strong>Isinteractive:</strong>
  <%= @page.isinteractive %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @page.genre %>
</p>

<p>
  <strong>Sub genre:</strong>
  <%= @page.sub_genre %>
</p>

<p>
  <strong>Series:</strong>
  <%= @page.series %>
</p>

<p>
  <strong>By line:</strong>
  <%= @page.by_line %>
</p>

<p>
  <strong>Cover image:</strong>
  <%= @page.cover_image_id %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
