<div class="row">
    <div class="col-sm-6" style="padding: 0px; margin-left: auto; margin-right: auto;">
        <h1><span style="font-weight: 200;">Account Settings:</span> <%= @account.username %></h1>
        <br/>
        <h3>Owners of this account</h3>
        <hr/>
        <div style="margin-left: 50px;">
            <div style="text-align: right;" class="hint">
              <span id='invite_members'><a href='#' data-toggle='modal' data-target='#platform_modal'>Invite people</a></span>
            </div>
            <table class="table table-hover">
                <tbody>
                    <% @permissions.each do |permission| %>
                        <tr>
                            <td style="width: 10%; border: 0px;"><img class="rounded" src=<%=avatar_url(permission.user.email)%>>
                            </td>
                            <td  style="border: 0px;">
                                <%= permission.user.name %>
                                <% if permission.status == "Deactivated" %>
                                    <i style="font-weight: 200; color: gray;">(Deactivated)</i>
                                <% end %>
                                <br/>
                                <% if permission.user.current_sign_in_at.present? %>
                                <div class="hint"><%= permission.user.email %></div>
                                <div class="hint">Last seen <%= time_ago_in_words(permission.user.current_sign_in_at) %> ago.</div>
                                <% end %>
                            </td>
                            <td  style="border: 0px;">
                                <% if current_user.id != permission.user_id and permission.status != "Deactivated" %>
                                <%= link_to "Change Role", change_owner_role_account_permission_path(@account, permission) %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                    <%= paginate @permissions, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
                </tbody>
            </table>
            <% if @pending_invites_count != 0 %>
                <br/>
                <h4>Pending Invites</h4>
                <table class="table">
                    <tbody>
                        <% @permission_invites.each do |permission_invite| %>
                            <tr>
                                <td style="width: 10%; border: 0px;"><img class="rounded" src=<%=avatar_url(permission_invite.email)%>>
                                </td>
                                <td style="border: 0px;">
                                    <%= permission_invite.email %>
                                    <div class="hint">Invited by <%= permission_invite.creator.name %> <%= time_ago_in_words (permission_invite.created_at) %>.</div>
                                </td>
                                <td style="border: 0px;"><%= link_to "Remove".html_safe, account_permission_invite_path(@account, permission_invite, redirect_url: account_owners_account_admins_path(@account)), method: :delete, data: { confirm: 'Are you sure?' } %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id='change_role'>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class='modal-title'>Invite members</div>
        <a href="<%= account_owners_account_admins_path(@account) %>">
            <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <div class="image content">
            <%= simple_form_for(@permission, url: change_role_account_permission_path(@account, @permission), method: :put) do |f| %>
                <%= f.input :site_ref_role_slug, collection: @permission_roles, include_blank: false, label: "New Role" %>
                <%= f.input :sites, collection: @sites, lable: "Sites", input_html: { class: 'ui search fluid dropdown', multiple: true}, required: true  %>
                <%= f.hidden_field :redirect_url, value: account_owners_account_admins_path(@account) %>
                <%= f.hidden_field :status, value: "Deactivated" %>

                <%= f.submit "Update", class: "btn btn-light" %> &nbsp OR
                &nbsp
                <%= link_to "Remove".html_safe, account_permission_path(@account, @permission, redirect_url: account_owners_account_admins_path(@account)), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).on("turbolinks:load", function(){
        $('#change_role').modal("show");
    });
</script>