<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <h3>Site Member: <%= @permission.user.email %></h3>
            <hr/>
            <%= simple_form_for(@permission, url: [@site, @permission], html: { method: :put }) do |f| %>
              <%= f.error_notification %>
              <%= f.input :name %>
              <%= f.input :bio, input_html: {maxlength: 160}, hint: "Maximum 160 characters" %>
              <%= f.input :meta_description %>
              <%= f.button :submit, value: "Save", class: "btn btn-light" %>
            <% end %>
        </div>
    </div>
    <div class="col-sm-3 help-text">
    </div>
</div>