<div class="ten wide column">
  <%= render partial: "accounts/header" %>
  <div style="text-align: right;">
    <span id='invite_members'><a>Invite people</a></span>
    <% if @pending_invites_count != 0 %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to "Pending Invitations (#{@pending_invites_count})".html_safe, account_permission_invites_path(@account) %>
    <% end %>
  </div>
  <br/>
  <div class="ui very relaxed list" style="width: 100% !important;">
    <% @permissions.each do |permission| %>
      <div class="item">
        <img class="ui avatar image" src=<%=avatar_url(permission.user.email)%>>
        <div class="content">
          <div class="header" style="<%= permission.status == "Deactivated" ? "color: gray;" : nil%>">
            <%= permission.user.name %>
            <% if permission.status == "Deactivated" %>
                <i style="font-weight: 200; color: gray;">(Deactivated)</i>
            <% end %>
            <span style="float: right; font-weight: 400;">
              <% if permission.ref_role_slug != "owner" and permission.status != "Deactivated" %>
                <div class="ui dropdown item">
                  <div class="text">
                    <i class="dropdown icon"></i>
                    <%= permission.ref_role_slug.titleize %>
                  </div>
                  <div class="menu">
                    <% RefRole.pluck(:slug).uniq.each do |r| %>
                    <% if permission.ref_role_slug != r %>
                    <%= link_to r.titleize, change_role_account_permission_path(@account, permission, r: r), class: "item" %>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <%= permission.ref_role_slug.titleize %>
              <% end %>
            </span>
            <div class="description" style="<%= permission.status == "Deactivated" ? "color: gray;font-weight: 400;" : "font-weight: 400;"%>">
              <% if permission.user.current_sign_in_at.present? %>
              Last seen <%= time_ago_in_words(permission.user.current_sign_in_at) %> ago.
              <% end %>
              <% if current_user.id != permission.user_id and permission.status != "Deactivated" %>
                  <%= link_to "<i class='trash outline icon'></i>".html_safe, account_permission_path(@account,   permission), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @permissions %>
    <div class="ui dividing right rail" style="min-height: 339px;"></div>
  </div>
</div>
<div class="six wide column" style="padding-left: 90px;">
  <% if 1== 2 %>
      <p><b>Owners</b> have permission to do anything.</p>
      <p><b>Editors</b> can review submissions, add stories, edit and publish submitted drafts, and remove any stories from this publication.</p>
      <p><b>Developers</b> can design and upload HTML, CSS, JS, XSD and JSON files for template data and template cards.</p>
      <p><b>Writers</b> can submit their stories and remove them from this publication.</p>
  <% end %>
</div>
<%= render partial: "permission_invites/form" %>
<script>
  $('.ui.modal#platform_modal')
  .modal('attach events', '#invite_members', 'show');
</script>