<h2>Plan the story as a todo</h2>
<% if @page.intersection.present? %>
    <div class="story-pitch-intersection">
        <%= @page.intersection.name %>
        <% if @page.sub_intersection.present? %>
            <div class="story-pitch-sub-intersection">
                <%= @page.sub_intersection.name %>
            </div>
        <% end %>
    </div>
    <br/>
    <br/>
<% end %>
<div class="lable">concept</div>
<div class="input-group input-group-lg plan-title">
  <%= best_in_place @page, :one_line_concept, url: account_site_page_path(@account, @site, @page), inner_class:"input", class:"input" %>
</div>
<div class="lable" style="margin-top: 15px;">Story elements</div>
<div class="row">
    <div class="form-check form-check-inline">
        <%= image_tag "glyphicons-139-picture.png", class: @page.has_image_other_than_cover ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img" %>

        <%= best_in_place @page, :has_image_other_than_cover, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
        <%= image_tag "glyphicons-301-microphone.png", class: @page.has_audio ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img" %>

        <%= best_in_place @page, :has_audio, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
        <%= image_tag "glyphicons-181-facetime-video.png", class: @page.has_video ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img" %>

        <%= best_in_place @page, :has_video, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
        <%= image_tag "glyphicons-43-pie-chart.png", class:  @page.has_data ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img"  %>
        <%= best_in_place @page, :has_data, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label"  %>
    </div>
</div>
<div class="lable">Due</div>
<div class="row">
    <div class="form-check form-check-inline">
        <%= image_tag "glyphicons-46-calendar.png", class:  @page.has_data ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img"  %>
        <%= best_in_place @page, :due, as: :date, url: account_site_page_path(@account, @site, @page), class:"form-check-label 2", inner_class:"form-check-label" %>
    </div>
</div>
<div class="lable">PUBLISH DATE</div>
<div class="row">
    <div class="form-check form-check-inline">
        <%= image_tag "glyphicons-46-calendar.png", class:  @page.has_data ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img"  %>
        <%= best_in_place @page, :published_at, as: :date, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
    </div>
</div>
<div class="lable">describe</div>
<div class="input-group plan-description">
    <%= best_in_place @page, :description, as: :textarea, url: account_site_page_path(@account, @site, @page), place_holder: "Edit the description", class:"textarea", inner_class:"textarea" %>
</div>
<br/>
<% render partial: "page_todos/index"%>
<br/><br/><br/><br/>