<%= content_for :page_title do %>
    <li class="breadcrumb-item"><%= link_to "Stories", account_site_stories_path(@account, @site, folder_id: @folder.id), "data-turbolinks"=> false %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= truncate(@page.one_line_concept, length: 100, ommission: "..") %></li>
<% end %>


<%= stylesheet_link_tag "stories" %>
<%= javascript_include_tag "stories",'data-turbolinks-track': 'reload' %>

<br/><br/><br/><br/>

<div class="row">
    <div class="col-sm-16">
        <div class="page-center-div">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "File", (action_name == "edit_write" ? "#" : edit_write_account_site_story_path(@account, @site, @page, folder_id: @page.folder_id)), "data-turbolinks" => "false", class: (action_name == 'edit_write' ? "btn btn-small btn-secondary active" : "btn btn-small btn-secondary") %>
              <%= link_to "Assemble", (action_name == "edit_assemble" ?  "#" : edit_assemble_account_site_story_path(@account, @site, @page, folder_id: @page.folder_id)), "data-turbolinks" => "false", class: (action_name == 'edit_assemble' ? "btn btn-small btn-secondary active" : "btn btn-small btn-secondary") %>
              <%= link_to "Package", (action_name == 'edit_distribute' ? "#" :  edit_distribute_account_site_story_path(@account, @site, @page, folder_id: @page.folder_id)),"data-turbolinks" => "false", class: (action_name == "edit_distribute" ? "btn btn-small btn-secondary active" : "btn btn-small btn-secondary") %>

            </div>
        </div>
    </div>
</div>
