<%= content_for :page_title do %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <% if @folder.present? %>
              <li class="breadcrumb-item"><%= link_to truncate(folder_name_trunc_(@folder), length: 24, ommission: ".."), account_site_folder_view_casts_path(@account, @site, @folder), "data-turbolinks"=> false %></li>
          <% end %>
          <li class="breadcrumb-item"><%= link_to "Stories", account_site_stories_path(@account, @site, folder_id: @folder.id), "data-turbolinks"=> false %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @page.one_line_concept %></li>
      </ol>
    </nav>
<% end %>
<%= render partial: "stories/stories_header" %>

<div class="row">
    <div class="col-sm-13">
        <div class="planning-card">
            <% if @page.intersection.present? %>
                <div class="story-pitch-intersection">
                    <%= @page.intersection.name %>
                    <% if @page.sub_intersection.present? %>
                        <div class="story-pitch-sub-intersection">
                            <%= @page.sub_intersection.name %>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <div class="input-group input-group-lg plan-title">
              <%= best_in_place @page, :one_line_concept, url: account_site_page_path(@account, @site, @page), inner_class:"input", class:"input" %>
            </div>
            <div class="input-group plan-description">
            <%= best_in_place @page, :description, as: :textarea, url: account_site_page_path(@account, @site, @page), place_holder: "Edit the description", class:"textarea", inner_class:"textarea" %>
            </div>
            <br>
            <div class="row row-with-less-negative-margin">
                <div class="col-sm-8">
                    <div class="lable">Elements</div>
                    <br>
                    <div class="form-check form-check-inline">
                        <%= image_tag "glyphicons-139-picture.png", class: @page.has_image_other_than_cover ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img" %>

                        <%= best_in_place @page, :has_image_other_than_cover, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                    </div>
                    <div class="form-check form-check-inline">
                        <%= image_tag "glyphicons-301-microphone.png", class: @page.has_audio ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img" %>

                        <%= best_in_place @page, :has_audio, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                    </div>
                    <div class="form-check form-check-inline">
                        <%= image_tag "glyphicons-181-facetime-video.png", class: @page.has_video ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img" %>

                        <%= best_in_place @page, :has_video, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                    </div>
                    <div class="form-check form-check-inline">

                        <%= image_tag "glyphicons-43-pie-chart.png", class:  @page.has_data ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img"  %>

                        <%= best_in_place @page, :has_data, as: :checkbox, collection: {false: "No", true: "Yes"}, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label"  %>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="lable">Due</div>
                    <br>
                    <div class="form-check form-check-inline">
                        <%= image_tag "glyphicons-46-calendar.png", class:  @page.has_data ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img"  %>
                        <%= best_in_place @page, :due, as: :date, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="lable">Publish</div>
                    <br>
                    <div class="form-check form-check-inline">
                        <%= image_tag "glyphicons-46-calendar.png", class:  @page.has_data ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img"  %>
                        <%= best_in_place @page, :published_at, as: :date, url: account_site_page_path(@account, @site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                    </div>  
                </div>
            </div>
            <br>
            <%= render partial: "page_todos/index"%>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= render partial: "stories/stories_sidebar" %>
		<!--<h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>