<%= render partial: "stories/stories_header" %>
<div class="row">
    <div class="col-sm-16">
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <%= simple_form_for(@page, url: site_page_path(@site), method: :put, html: {id: "proto_app_package_form"}) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                    <%= render partial: "pages/distribute", locals: {f: f} %>
                    <br/>
                    <hr/>
                    <h3>Story related</h3>
                    <br/>
                    <div class="row" style="font-size: 12px; margin-left: 5px;">
                        <div class="form-check form-check-inline">
                            <%= image_tag "glyphicons-139-picture.png", class: @page.has_image_other_than_cover ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img", size: "14" %>

                            <%= best_in_place @page, :has_image_other_than_cover, as: :checkbox, collection: {false: "No", true: "Yes"}, url: site_page_path(@site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= image_tag "glyphicons-301-microphone.png", class: @page.has_audio ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img", height: "14" %>

                            <%= best_in_place @page, :has_audio, as: :checkbox, collection: {false: "No", true: "Yes"}, url: site_page_path(@site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= image_tag "glyphicons-181-facetime-video.png", class: @page.has_video ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img", height: "14" %>

                            <%= best_in_place @page, :has_video, as: :checkbox, collection: {false: "No", true: "Yes"}, url: site_page_path(@site, @page), class:"form-check-label", inner_class:"form-check-label" %>
                        </div>
                        <div class="form-check form-check-inline">
                            <%= image_tag "glyphicons-43-pie-chart.png", class:  @page.has_data ? nil : "disabled", class:"glyphicons-img", inner_class:"glyphicons-img", height: "14"  %>
                            <%= best_in_place @page, :has_data, as: :checkbox, collection: {false: "No", true: "Yes"}, url: site_page_path(@site, @page), class:"form-check-label", inner_class:"form-check-label"  %>
                        </div>
                    </div>
                    <br/>
                    <%= f.input :byline_id, collection: @site.all_members, required: true, label: "Byline Stream", input_html: {style: "width: 100%;"} %>
                    <%= f.input :ref_category_intersection_id, collection: @ref_category_intersection, label: "Intersection" %>
                    <%= f.input :ref_category_sub_intersection_id, collection: @ref_category_sub_intersection, label: "Trend" %>
                    <%= f.input :reported_from_country, as: :country, include_blank: true %>
                    <%= f.input :reported_from_state, as: :string %>
                    <%= f.input :reported_from_district, as: :string %>
                    <%= f.input :reported_from_city, as: :string %>
                </div>
                <div class="form-actions">
                  <% if @page.status == 'draft' %>
                    <%= f.button :submit, "Save as draft" %>
                  <% end %>
                  <%= f.button :submit, "Publish" %>
                  <% if @page.status != 'draft' %>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <%= link_to "Preview", @page.html_url, target: "_blank" %>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    #<span class='card-id'><%= @page.view_cast_id %></span>
                  <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>