<%= render partial: "stories/stories_header" %>
<div class="row">
    <div style="margin-left: auto; margin-right: auto; width: 540px;">
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <h3>Manage all the ads for each stream here:</h3>
            <% if @ad_integrations.count > 0 %>
                <table  class="table">
                    <% @ad_integrations.each do |ad|%>
                        <tr>
                            <td>
                                <%= ad.slot_text %>
                                <br/>
                                <p class='hint'><%= ad.page_stream.name_of_stream %> - <%= ad.sort_order %></p>
                            </td>
                            <td>
                                <%= link_to "x", [@site, @page, ad], method: :delete, data: { confirm: 'Are you sure?' } %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            <% else %>
                <h4>There is no ad added on this story.</h4>
            <% end %>
        </div>
        <%= simple_form_for([@site, @page, @ad_integration]) do |f|%>
            <%= f.input :slot_text, as: :string, label: "Slot text", required: true %>
            <%= f.input :page_stream_id, collection: @page_streams.map{|p| [p.name_of_stream, p.id]}, include_blank: false %>
            <%= f.input :site_id, as: :hidden, input_html: {value: @site.id} %>
            <%= f.input :page_id, as: :hidden, input_html: {value: @page.id} %>
            <%= f.input :sort_order, required: true, label: "Position", input_html: { min: '0'} %>
            <%= f.input :div_id, required: true %>
            <%= f.input :width, required: true, input_html: { min: '0'} %>
            <%= f.input :height, required: true, input_html: { min: '0'} %>
            <%= f.button :submit, "Add" %>
        <% end %>
    </div>
</div>