<%= content_for :page_title do %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <% if @folder.present? %>
              <li class="breadcrumb-item"><%= link_to truncate(folder_name_trunc_(@folder), length: 24, ommission: ".."), account_site_folder_view_casts_path(@account, @site, @folder), "data-turbolinks"=> false %></li>
          <% end %>
          <li class="breadcrumb-item"><%= link_to "Stories", account_site_stories_path(@account, @site, folder_id: @folder.id), "data-turbolinks"=> false %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= truncate(@page.one_line_concept, length: 100, ommission: "..") %></li>
      </ol>
    </nav>
<% end %>
<%= render partial: "stories/stories_header" %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 90%;">
            <div class="row">
                <%= simple_form_for(@page, url: account_site_page_path(@account, @site), method: :put) do |f| %>
                    <%= f.error_notification %>
                    <div class="form-inputs">
                        <% if !@site.is_english or 1 == 1 %>
                            <%= f.input :english_headline, required: true, minlength: 50 , maxlength: 90, hint: "This is used for url management.", label: "Write the headline in English",input_html: {style: "font-size: 28px; border: 0px; padding-left: 0px;"} %>
                        <% end %>
                        <%= f.input :headline, required: true, minlength: 50 , maxlength: 90, hint: "Minimum length: 50 chars. Maximum length: 90 chars.", input_html: {style: "font-size: 28px; border: 0px; padding-left: 0px;"}, placeholder: "Title", label: false, autofocus: true %>

                        <% if @page.cover_image_id.blank? %>
                            <%= f.fields_for :cover_image do |cover_image| %>
                                <%= cover_image.input :image, label: false, placeholder: "Upload cover image", input_html: {style: "width: 100%; background: lightgray; min-height: 200px; cursor: pointer; padding: 100px 0px;", onchange: "readURL(this);"}%>
                                <%= cover_image.hidden_field :account_id, value: @account.id %>
                                <%= cover_image.hidden_field :is_cover, value: true %>
                                <%= cover_image.hidden_field :created_by, value: current_user.id %>
                                <%= cover_image.hidden_field :updated_by, value: current_user.id %>
                            <% end %>
                        <% else %>
                            <%= image_tag(@page.cover_image_url,style: 'width: 100%', class: "img-fluid") %>
                            <br/>
                            <%= link_to "Remove", remove_cover_image_account_site_page_path(@account, @site, @page), method: :put%>
                            <br/>
                        <% end %>
                        <%= f.input :publish, as: :boolean, label: "&nbsp; Publish Page?".html_safe, hint: "Until you want the Story Card to be published live on your site, do not mark the article as published." %>
                        <div class="form-actions">
                          <% if @page.status == 'draft' %>
                            <%= f.button :submit, "Save as draft" %>
                          <% end %>
                          <%= f.button :submit, "Update" %>
                          <% if @page.status != 'draft' %>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <%= link_to "Preview", @page.html_url, target: "_blank" %>
                          <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <% if @page.status != "draft" %>
                <div class="row">
                  <div class='col-sm-4' style="margin: 0px 15px 0px 0px;padding: 0px; border-right: 1px solid #ECEFF1">
                    <h4>All Cards</h4>
                    <% @all_cards.each do |d| %>
                      <div class="card-as-a-todo move-to-action" data-view-cast-id="<%= d.id %>" style='margin: 0px;'>
                        <div class="card-information">
                          <div class="card-title"><%= truncate(d.name, length: 200, ommission: "..") %></div>
                          <div class="card-type"><%= d.template_card.name %> <span class="card-id">#<%=d.id.to_s%></span></div>
                          <div class="card-footer">
                            <div class="users-list">
                              <div class="single-user"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %></div>
                            </div>
                            <div class="due-on">
                              <%= time_ago_in_words(d.updated_at) %>
                            </div>
                          </div>
                        </div>
                        <div class="call-to-action">
                          <%= link_to "<div class='action-button action-preview'>Preview</div>".html_safe, [@account, @site, d.folder, d], "data-turbolinks" => false %>
                          <%= link_to "<div class='action-button action-edit'>Edit</div>".html_safe, edit_account_site_folder_view_cast_path(@account, @site, d.folder, d), "data-turbolinks" => false %>
                        </div>
                        <div class="action-move-to">
                          <div class="hint-text">Move To</div>
                          <br>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item" data-page-stream-url="<%= account_site_stream_stream_entities_path(@account, @site, @page_stream_narrative) %>"><%= @page_stream_narrative7c.name_of_stream %></li>
                            <li class="list-group-item" data-page-stream-url="<%= account_site_stream_stream_entities_path(@account, @site, @page_stream_related) %>"><%= @page_stream_related7c.name_of_stream %></li>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class='col-sm-4' style="margin: 0px;padding: 0px">
                    <h4 style='display: inline'><%= best_in_place @page_stream_narrative7c, :name_of_stream, url: [@account, @site, @page_stream_narrative7c] %></h4>
                    <%= link_to ".", publish_account_site_stream_path(@account, @site, @page_stream_narrative, folder_id: @folder.blank? ? nil : @folder.id),"data-turbolinks"=> false, method: :post, style: "color: white" %>
                    <% @page_stream_narrative.cards.each_with_index do |d, i| %>
                      <% stream_entity = @page_stream_narrative.stream_entities.view_casts.where(entity_value: d.id).first %>
                      <div class="card-as-a-todo move-to-action" data-view-cast-id="<%= d.id %>" style='margin: 0px;'>
                        <div class="card-information">
                          <div class="card-title"><%= truncate(d.name, length: 200, ommission: "..") %></div>
                          <div class="card-type"><%= d.template_card.name %> <span class="card-id">#<%=d.id.to_s%></span></div>
                          <div class="card-footer">
                            <div class="users-list">
                              <div class="single-user"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %></div>
                            </div>
                            <div class="due-on">
                              <%= time_ago_in_words(d.updated_at) %>
                            </div>
                          </div>
                        </div>
                        <div class="call-to-action">
                          <%= link_to "<div class='action-button action-preview'>Preview</div>".html_safe, [@account, @site, d.folder, d], "data-turbolinks" => false %>
                          <%= link_to "<div class='action-button action-edit'>Edit</div>".html_safe, edit_account_site_folder_view_cast_path(@account, @site, d.folder, d), "data-turbolinks" => false %>
                        </div>
                        <div class="action-move-to">
                          <div class="hint-text">
                            Move
                            <% if i != 0  %>
                              &nbsp
                              <%= link_to image_tag('up.png', height: 10), move_up_account_site_stream_stream_entity_path(@account, @site, @page_stream_narrative, stream_entity), method: :put %>
                            <% end %>
                            <% if i != (@page_stream_narrative.cards.count - 1)%>
                              &nbsp
                              <%= link_to image_tag('down.png', height: 10), move_down_account_site_stream_stream_entity_path(@account, @site, @page_stream_narrative, stream_entity), method: :put %>
                            <% end %>
                          </div>
                          <div class="remove-button">
                            <%= link_to "Remove", [@account, @site, @page_stream_narrative, stream_entity], method: :delete %>
                          </div>

                          <br>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item" data-page-stream-url="<%= account_site_stream_stream_entities_path(@account, @site, @page_stream_related) %>"><%= @page_stream_related7c.name_of_stream %></li>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class='col-sm-4' style="margin: 0px;padding: 0px">
                    <h4 style='display: inline'><%= best_in_place @page_stream_related7c, :name_of_stream, url: [@account, @site, @page_stream_related] %></h4>
                    <%= link_to ".", publish_account_site_stream_path(@account, @site, @page_stream_related, folder_id: @folder.blank? ? nil : @folder.id),"data-turbolinks"=> false, method: :post, style: "color: white" %>
                    <% @page_stream_related.cards.each_with_index  do |d, i| %>
                      <% stream_entity = @page_stream_related.stream_entities.view_casts.where(entity_value: d.id).first %>
                      <div class="card-as-a-todo move-to-action" data-view-cast-id="<%= d.id %>" style='margin: 0px;'>
                        <div class="card-information">
                          <div class="card-title"><%= truncate(d.name, length: 200, ommission: "..") %></div>
                          <div class="card-type"><%= d.template_card.name %> <span class="card-id">#<%=d.id.to_s%></span></div>
                          <div class="card-footer">
                            <div class="users-list">
                              <div class="single-user"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %></div>
                            </div>
                            <div class="due-on">
                              <%= time_ago_in_words(d.updated_at) %>
                            </div>
                          </div>
                        </div>
                        <div class="call-to-action">
                          <%= link_to "<div class='action-button action-preview'>Preview</div>".html_safe, [@account, @site, d.folder, d], "data-turbolinks" => false %>
                          <%= link_to "<div class='action-button action-edit'>Edit</div>".html_safe, edit_account_site_folder_view_cast_path(@account, @site, d.folder, d), "data-turbolinks" => false %>
                        </div>
                        <div class="action-move-to">
                          <div class="hint-text">
                            Move
                            <% if i != 0  %>
                              &nbsp
                              <%= link_to image_tag('up.png', height: 10), move_up_account_site_stream_stream_entity_path(@account, @site, @page_stream_related, stream_entity), method: :put %>
                            <% end %>
                            <% if i != (@page_stream_related.cards.count - 1)%>
                              &nbsp
                              <%= link_to image_tag('down.png', height: 10), move_down_account_site_stream_stream_entity_path(@account, @site, @page_stream_related, stream_entity), method: :put %>
                            <% end %>
                          </div>
                          <div class="remove-button">
                            <%= link_to "Remove", [@account, @site, @page_stream_related, stream_entity ], method: :delete %>
                          </div>

                          <br>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item" data-page-stream-url="<%= account_site_stream_stream_entities_path(@account, @site, @page_stream_narrative) %>"><%= @page_stream_narrative7c.name_of_stream %></li>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= render partial: "stories/stories_sidebar" %>
	</div>
</div>



<%= simple_form_for(@stream_entity, url: [@account, @site, @page_stream_related, @stream_entity]) do |f| %>
    <%= f.hidden_field :entity_value, id: "stream_view_cast_id" %>
    <%= f.hidden_field :entity_type, value: "view_cast_id" %>
    <%= f.hidden_field :is_excluded, value: false %>
    <%= f.hidden_field :page_id, value: @page.id %>
  <% end %>



<%= javascript_include_tag "select2.js" %>
<script type="text/javascript">
    $(document).on("turbolinks:load",function() {
      $('.proto-tagged-input').tagsinput();
      $('.action-move-to .list-group li').off('click')
      $('.action-move-to .list-group li').on('click', function(){
        $("#new_stream_entity").attr("action", this.dataset.pageStreamUrl);
        $("#stream_view_cast_id").val($(this).parents('.card-as-a-todo').data().viewCastId);
        $("#new_stream_entity").submit();
      })
    });
    function readURL(input) {
     if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(input).css('background', 'transparent url('+e.target.result +') left top no-repeat');
        }
        reader.readAsDataURL(input.files[0]);
      }
    };
</script>