<div class="jumbotroz">
    <div class="row">
        <h1>    
            Stories
            <span style="font-size: 12px; font-weight: 400;">in workspace <u><%= folder_name_(@folder)%></u></span>
        </h1>
        <nav class="nav" style="position: relative; float: right; margin-left: auto;">
            <% if !@folder.is_trash %>
                <form class="form-inline my-2 my-lg-0" style="margin-top: -16px !important;"><li style="list-style-type: none;"><%= render partial: "stories/new" %></li></form>
            <% end %>
        </nav>
    </div>
</div>
<br/>
<br/>

    <div class="row">
        <div class="col-sm-4" style="padding-left: 0px;">
            

            
            
            <ul class="nav nav-tabs protograph-filters-tabs-container" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Workspaces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Search Stories</a>
              </li>
            </ul>
            
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <br/>
                  <ul class="list-group">
                    <% @all_workspaces.each do |folder| %>            
                        <li class="<%= (@folder.present? and @folder.id.present? and @folder.id == folder.id) ? "list-group-item active" : "list-group-item" %>" style="border: 0px; padding-left: 6px;">
                            <%= link_to folder_name_(folder).html_safe, account_site_folder_path(@account, @site, folder) %>
                            <span class="spanadd">(<%= folder.view_casts.count + folder.pages.count %>)</span>
                        </li>
                    <% end %>
                  </ul>
              </div>
              <div class="tab-pane show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <br/><br/>
                  <%= search_form_for @q, url: account_site_folder_stories_path(@account, @site, @folder) do |f| %>
                      <%= f.label :english_headline_cont %>
                      <%= f.search_field :english_headline_or_headline_cont, :class => "form-control" %>
                      <br/>
                      <%= f.label :ref_category_intersection_id_eq, "Intersection" %>
                      <%= f.select :ref_category_intersection_id_eq, options_from_collection_for_select(@ref_intersections, :id, :name, @q.ref_category_intersection_id_eq), { :include_blank => true }, :class => "form-control" %>
                      <br/>
                      <%= f.label :ref_category_sub_intersection_id_eq, "Sub Intersection" %>
                      <%= f.select :ref_category_sub_intersection_id_eq, options_from_collection_for_select(@ref_sub_intersections, :id, :name, @q.ref_category_sub_intersection_id_eq), { :include_blank => true }, :class => "form-control" %>
                      <br/>
                      <%= f.label :byline_id_eq, "Byline" %>
                      <%= f.select :byline_id_eq, options_from_collection_for_select(@bylines, :id, :name, @q.byline_id_eq), { :include_blank => true }, :class => "form-control" %>
                      <br/>
                      <%= f.submit "Search", :class => "btn btn-sm btn-secondary" %>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      |&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= link_to "Reset", account_site_folder_stories_path(@account, @site, @folder) %>
                  <% end %>
              </div>
            </div>
        </div>
        <div class="col-sm-11" style="margin-left: 6.25%;">
                <% if @pages.first.blank? %>
                    <div class="col-sm-16">
                        <div class="blankslate blankslate-spacious">
                            <% if @folder.is_trash %>
                                <h3>There are no stories in the recycle bin.</h3>
                            <% else %>
                                <h3>No stories created yet.</h3>
                                <p>Use the [+ Add a story] button on the top right or <%= link_to "Reset", account_site_folder_stories_path(@account, @site, @folder) %>.</p>
                            <% end %>
                        </div>
                    </div>
                <% else %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th><%= sort_link(@q, :view_cast_id, '#') %>
                                </th>
                                <th>Editorial
                                </th>
                                <th>
                                </th>
                                <th>Headline
                                </th>
                                <th>Byline
                                </th>
                                <th><%= sort_link(@q, :published_at) %>
                                </th>
                                <th><%= sort_link(@q, :updated_at) %>
                                </th>
                            </tr>
                        </thead>

                        <% @pages.each do |d| %>
                            <tbody>

                                    <tr>
                                        <td class="hint">
                                            <% if d.view_cast.present? %>
                                                #<%= d.view_cast.id.to_s %>
                                            <% end %>
                                        </td>
                                        <td class="hint">
                                    		<% if d.intersection.present? %>
                                                <%= d.intersection.name %>
                                            <% end %>
                                            <% if d.sub_intersection.present? %>
                                                    /
                                                    <%= d.sub_intersection.name %>
                                            <% end %>
                                        </td>
                                        <td><div class="status-signal <%= d.status == 'draft' ? "status-red" : "status-green" %>"></div>
                                        </td>
                                        <td>
                                            <%= link_to truncate(d.headline, length: 45, ommission: ".."), edit_write_account_site_story_path(@account, @site, d, folder_id: d.folder_id), "data-turbolinks"=> false %>
                                        </td>
                                        <td>
                                            <% if d.byline.present? %>
                                                <%= d.byline.name %>
                                            <% end %>
                                        </td>
                                        <td class="hint"><%= time_ago_in_words(d.published_at) %>
                                        </td>
                                        <td class="hint"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %> <%= time_ago_in_words(d.updated_at) %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>

                    </table>
                    <%= paginate @pages, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
                <% end %>
        </div>
        
    </div>
    
