<h1>
    <%= folder_name_(@folder)%>
    <% if !@folder.is_trash %>
        <span style="float: right;">
            <form class="form-inline my-2 my-lg-0"><li style="list-style-type: none;"><%= render partial: "stories/new" %></li></form>
        </span>
    <% end %>
</h1>
<br/>
<div class="row">
    
    <div class="col-sm-12">
            <div class="protograph-page-tabs">
                <div class="single-tab">
                    <%= link_to "Cards", site_folder_view_casts_path(@site, @folder), "data-turbolinks" => "false" %>
                </div>
                <% if @folder.is_for_stories %>
                  <% if @folder.vertical.present? %>
                    <div class="single-tab active-tab">
                        <%= link_to "Stories", site_stories_path(@site,folder_id: @folder.id), "data-turbolinks" => "false" %>
                    </div>
                  <% end %>
                <% end %>
            </div>
            
            <% if @pages.first.blank? %>
                <div class="col-sm-16">
                    <div class="blankslate blankslate-spacious">
                        <% if @folder.is_trash %>
                            <h3>There are no stories in the recycle bin.</h3>
                        <% else %>
                            <h3>No stories created yet.</h3>
                            <p>Use the [+ Add a story] button on the top right or <%= link_to "Reset", site_folder_stories_path(@site, @folder) %>.</p>
                        <% end %>
                    </div>
                </div>
            <% else %>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border: 0px;"><%= sort_link(@q, :view_cast_id, '#') %>
                            </th>
                            <th style="border: 0px;">Editorial
                            </th>
                            <th style="border: 0px;">
                            </th>
                            <th style="border: 0px;">Headline
                            </th>
                            <th style="border: 0px;">Byline
                            </th>
                            <th style="border: 0px;"><%= sort_link(@q, :published_at) %>
                            </th>
                            <th style="border: 0px;"><%= sort_link(@q, :updated_at) %>
                            </th>
                        </tr>
                    </thead>

                    <% @pages.each do |d| %>
                        <tbody>

                                <tr>
                                    <td class="hint">
                                        <% if d.view_cast.present? %>
                                            #<%= d.view_cast.id.to_s %>
                                        <% end %>
                                    </td>
                                    <td class="hint">
                                		<% if d.intersection.present? %>
                                            <%= d.intersection.name %>
                                        <% end %>
                                        <% if d.sub_intersection.present? %>
                                                /
                                                <%= d.sub_intersection.name %>
                                        <% end %>
                                    </td>
                                    <td><div class="status-signal <%= d.status == 'draft' ? "status-red" : "status-green" %>"></div>
                                    </td>
                                    <td>
                                        <%= link_to truncate(d.headline, length: 45, ommission: ".."), edit_write_site_story_path(@site, d, folder_id: d.folder_id), "data-turbolinks"=> false %>
                                    </td>
                                    <td>
                                        <% if d.byline.present? %>
                                            <%= d.byline.name %>
                                        <% end %>
                                    </td>
                                    <td class="hint"><%= time_ago_in_words(d.published_at) %>
                                    </td>
                                    <td class="hint"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %> <%= time_ago_in_words(d.updated_at) %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>

                </table>
                <%= paginate @pages, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
            <% end %>
    </div>
    <div class="col-sm-4" style="padding-left: 0px;">
        <div style="width: 300px;">            
            <div class="protograph-filters-header" style="margin-bottom: 10px;">
                FILTERS
            </div>
            <br/>
                  <%= search_form_for @q, url: site_folder_stories_path(@site, @folder) do |f| %>
                      <%= f.label :english_headline_cont %>
                      <%= f.search_field :english_headline_or_headline_cont, :class => "form-control" %>
                      <br/>
                      <%= f.label :ref_category_intersection_id_eq, "Intersection" %>
                      <%= f.select :ref_category_intersection_id_eq, options_from_collection_for_select(@ref_intersections, :id, :name, @q.ref_category_intersection_id_eq), { :include_blank => true }, :class => "form-control" %>
                      <br/>
                      <%= f.label :ref_category_sub_intersection_id_eq, "Sub Intersection" %>
                      <%= f.select :ref_category_sub_intersection_id_eq, options_from_collection_for_select(@ref_sub_intersections, :id, :name, @q.ref_category_sub_intersection_id_eq), { :include_blank => true }, :class => "form-control" %>
                      <br/>
                      <%= f.label :byline_id_eq, "Byline" %>
                      <%= f.select :byline_id_eq, options_from_collection_for_select(@bylines, :id, :name, @q.byline_id_eq), { :include_blank => true }, :class => "form-control" %>
                      <br/>
                      <%= f.submit "Search", class: "btn btn-sm btn-dark" %>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      |&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= link_to "Reset", site_folder_stories_path(@site, @folder) %>
                  <% end %>
        </div>
    </div>
    
</div>
    
