<%= content_for :page_title do %>
    
          
          
          <li class="breadcrumb-item active" aria-current="page">Stories</li>
      
<% end %>

<% if @pages.first.blank? %>
    <br/>
    <br/>
    <div class="blankslate blankslate-spacious">
        <% if @folder.is_trash %>
            <h3>There are no stories in the recycle bin.</h3>
        <% else %>
            <h3>No stories created yet.</h3>
            <p>Use the [+ Add a story] button on the top right.</p>
        <% end %>
    </div>
<% else %>
    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-sm-13">
            <div style="margin-left: auto; margin-right: auto; width: 90%;">
            <% @pages.each do |d| %>
            	<%= link_to edit_write_account_site_story_path(@account, @site, d, folder_id: d.folder_id), "data-turbolinks"=> false do %>
                    <div class="card-as-a-todo">
                		<!-- <div class="status-signal status-red"></div> -->
                        <% if d.intersection.present? %>
                    		<div class="intersection">
                                <%= d.intersection.name %>
                                <% if d.sub_intersection.present? %>
                        			<div class="sub-section">
                                        <%= d.sub_intersection.name %>
                        			</div>
                                <% end %>
                    		</div>
                        <% end %>
                		<div class="card-information">
                			<div class="card-title"><%= truncate(d.headline, length: 55, ommission: "..") %></div>
                			<div class="card-type">toStory
                                <span class="card-id">
                                    <% if d.view_cast.present? %>
                                        #<%= d.view_cast.id.to_s %>
                                    <% end %>
                                </span>
                            </div>
                			<div class="card-footer">
                				<div class="users-list">
                					<div class="single-user"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %></div>
                				</div>
                				<div class="due-on">
                					<%= time_ago_in_words(d.updated_at) %>
                				</div>
                			</div>
                		</div>
                	</div>
                <% end %>
            <% end %>
        </div>
        </div>
    	<div class="col-sm-3 help-text">
            <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
    		<h2>Stories</h2>
    		<p>.</p>
    	</div>
    </div>
    <%= paginate @pages, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
<% end %>