<%= content_for :page_title do %>
  <li class="breadcrumb-item active" aria-current="page">Stories</li>
<% end %>

<% if @pages.first.blank? %>
    <div class="col-sm-13">
        <div class="page-center-div">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-small btn-secondary">
                <%= link_to "Cards", account_site_folder_view_casts_path(@account, @site, @folder) %>
              </button>
              <button type="button" class="btn btn-small btn-secondary active">
                <%= link_to "Stories", account_site_stories_path(@account, @site,folder_id: @folder.id) %>
              </button>
            </div>
        </div>
        <div class="blankslate blankslate-spacious">
            <% if @folder.is_trash %>
                <h3>There are no stories in the recycle bin.</h3>
            <% else %>
                <h3>No stories created yet.</h3>
                <p>Use the [+ Add a story] button on the top right.</p>
            <% end %>
        </div>
    </div>
    <div class="col-sm-3 help-text">
        <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
        <h2>Stories</h2>
        <p>.</p>
    </div>
<% else %>
    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-sm-13">
            <div class="page-center-div">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-small btn-secondary">
                    <%= link_to "Cards", account_site_folder_view_casts_path(@account, @site, @folder) %>
                  </button>
                  <button type="button" class="btn btn-small btn-secondary active">
                    <%= link_to "Stories", account_site_stories_path(@account, @site,folder_id: @folder.id) %>
                  </button>
                </div>
            </div>
            <br/><br/>
            <div style="margin-left: auto; margin-right: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>Editorial
                            </th>
                            <th>
                            </th>
                            <th>Headline
                            </th>
                            <th>Byline
                            </th>
                            <th>Published At
                            </th>
                            <th>Updated by
                            </th>
                        </tr>
                    </thead>
                    
                    <% @pages.each do |d| %>
                        <tbody>

                                <tr>
                                    <td class="hint">
                                        <% if d.view_cast.present? %>
                                            #<%= d.view_cast.id.to_s %>
                                        <% end %>
                                    </td>
                                    <td class="hint">
                                		<% if d.intersection.present? %>
                                            <%= d.intersection.name %>
                                        <% end %>
                                        <% if d.sub_intersection.present? %>
                                                /
                                                <%= d.sub_intersection.name %>
                                        <% end %>
                                    </td>
                                    <td><div class="status-signal <%= d.status == 'draft' ? "status-red" : "status-green" %>"></div>
                                    </td>
                                    <td>
                                        <%= link_to truncate(d.headline, length: 55, ommission: ".."), edit_write_account_site_story_path(@account, @site, d, folder_id: d.folder_id), "data-turbolinks"=> false %>
                                    </td>
                                    <td>
                                        <% if d.byline.present? %>
                                            <%= d.byline.name %>
                                        <% end %>
                                    </td>
                                    <td class="hint"><%= time_ago_in_words(d.published_at) %>
                                    </td>
                                    <td class="hint"><%= image_tag avatar_url(d.updator.email), width: "16px", height: "16px" %> <%= time_ago_in_words(d.updated_at) %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>

                </table>
        </div>
        </div>
    	<div class="col-sm-3 help-text">
            <%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
    		<h2>Stories</h2>
    		<p>.</p>
    	</div>
    </div>
    <%= paginate @pages, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
<% end %>