<div class="container">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Key Name</th>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Inclusion List</th>
        <th>Inclusion List Names</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Multiple Of</th>
        <th>Exclusive Minimum</th>
        <th>Exclusive Maximum</th>
        <th>Format</th>
        <th>Format Regex</th>
        <th>Minimum Length</th>
        <th>Maximum Length</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @template_fields.each do |template_field| %>
      <tr>
        <td><%= template_field.key_name %></td>
        <td><%= template_field.name %></td>
        <td><%= %w(short_text long_text).include?(template_field.data_type) ? (template_field.data_type == "short_text" ? "Short Text" : "Long Text") : template_field.data_type.capitalize %></td>
        <td><%= template_field.is_required ? 'Yes' : 'No' %></td>
        <td><%= template_field.inclusion_list.present? ? template_field.inclusion_list.join(",") : "" %></td>
        <td><%= template_field.inclusion_list_names.join(",") if template_field.inclusion_list_names.present? %></td>
        <td><%= %w(integer decimal).include?(template_field.data_type) ? template_field.min : "NA" %></td>
        <td><%= %w(integer decimal).include?(template_field.data_type) ? template_field.max : "NA" %></td>
        <td><%= %w(integer decimal).include?(template_field.data_type) ? template_field.multiple_of : "NA" %></td>
        <td><%= %w(integer decimal).include?(template_field.data_type) ? (template_field.ex_min ? "Yes" : "No") : "NA" %></td>
        <td><%= %w(integer decimal).include?(template_field.data_type) ? (template_field.ex_max ? "Yes" : "No") : "NA" %></td>

        <td><%= %w(short_text temporal).include?(template_field.data_type) ? template_field.format : "NA" %></td>
        <td><%= %w(short_text long_text temporal).include?(template_field.data_type) ? template_field.format_regex : "NA" %></td>
        <td><%= %w(short_text long_text temporal).include?(template_field.data_type) ? template_field.length_minimum : "NA" %></td>
        <td><%= %w(short_text long_text temporal).include?(template_field.data_type) ? template_field.length_maximum : "NA" %></td>

        <td><%= link_to "Edit", edit_template_datum_template_field_path(@template_datum, template_field) %></td>
        <td><%= link_to "X", [@template_datum, template_field], method: :delete %></td>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>

<style>
  .chip {
    margin: 10px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s;
    padding: 20px;
  }

  .template-field-update-container{
    margin-right: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .tf-name, .tf-value{
    display: inline-block;
    position: relative;
  }

  .tf-name{
    left: 0;
  }

  .tf-value{
    right: 0;
  }
</style>