<div class="row">
  <% if !@ref_link_sources.present? %>
    <div class="col-sm-16">
      <h1 style="display: inline-block;">No Link Sources Present</h1>
      <%= link_to '+ Add a Link Source', new_admin_ref_link_source_path, data: {turbolinks: false}, class: "btn btn-sm btn-primary right-align", style: "float: right;" %>
    </div>
  <% else %>
    <div class="col-sm-16">
      <h1 style="display: inline-block;"><%= pluralize(@ref_link_sources.count, "Link Source") %> Present</h1>
      <%= link_to '+ Add a Link Source', new_admin_ref_link_source_path, data: {turbolinks: false}, class: "btn btn-sm btn-primary right-align", style: "float: right;" %>
      <%= link_to 'Publish Link Sources', admin_publish_ref_link_sources_path, data: {turbolinks: false}, class: "btn btn-sm btn-primary right-align", style: "float: right;" %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Favicon</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @ref_link_sources.each do |s| %>
            <tr>
              <td><%= s.name.titleize %></td>
              <td><%= link_to s.url, s.url, target: "_blank" %></td>
              <td><%= image_tag s.favicon_url, size: "16x16" %></td>
              <td><%= link_to "Edit Link Source", edit_admin_ref_link_source_path(s) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
