
<div class="ui grid" style="margin-top: 51px;">
  <div class="eight wide column">
    <h1 class="ui big header" style="font-size: 4em;">
      Tools to help journalists write better stories.
    </h1>
  </div>
  <div class="eight wide column" style="padding-left: 200px;">
    <div style="background: white; padding: 15px;" >
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true, placeholder: 'Email', required: true %>
      <%= f.input :password, autocomplete: "off", placeholder: 'Password', required: true  %>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <div class="ui checkbox">
          <%= f.input :remember_me, as: :boolean, boolean_style: :inline  %>
        </div>
      </div>
      <% end -%>
      <%= f.button :submit, value: "Sign in", class: 'ui button' %>
      <% end %>
      <br/>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "I cannot access my account", new_password_path(resource_name) %><br />
      <%= link_to "Didn't receive confirmation token?", new_confirmation_path(resource_name) %><br />
      <% end -%>
    </div>
    <div class="ui horizontal divider">
      Or
    </div>

    <%= link_to "Sign up for free", new_registration_path(resource_name), class: "ui button massive" %><br />

    <div style="padding: 15px;" >
      <br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="one column row">
    <div class=" column">
      <p style="margin-top: 60px; margin-bottom: 20px;font-family: Garamond; font-size: 1.8em; text-align: center;">
        Tools we currently support
      </p>
    </div>
  </div>
  <div class="row">
    <div class="ui cards">
      <div class="card">
        <div class="content">
          <%= image_tag "toExplain.png", class: "right floated mini ui image" %>
          <div class="header">
            toExplain
          </div>
          <div class="meta">
            <a href="https://www.icfj.org" target="_blank">ICFJ.org</a>
          </div>
          <div class="description">
            Write text explainers once. Reuse across stories.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <%= image_tag "toSocial.png", class: "right floated mini ui image" %>
          <div class="header">
            toSocial
          </div>
          <div class="meta">
            <a href="https://www.icfj.org" target="_blank">ICFJ.org</a>
          </div>
          <div class="description">
            Create branded cover images for distribution.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <%= image_tag "toQuiz.png", class: "right floated mini ui image" %>
          <div class="header">
            toQuiz
          </div>
          <div class="meta">
            <a href="https://www.icfj.org" target="_blank">ICFJ.org</a>
          </div>
          <div class="description">
            Educate and engage readers on relevant issues with quiz.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>