<br/>
<br/>
<br/>
<br/>
    <div class="row sign-up-area">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, autofocus: true, placeholder: 'Email', required: true %>
          <%= f.input :password, autocomplete: "off", placeholder: 'Password', required: true  %>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <div class="ui checkbox">
                <%= f.input :remember_me, as: :boolean, boolean_style: :inline, label: "&nbsp; Remember me".html_safe  %>
              </div>
            </div>
          <% end %>
          <%= f.button :submit, value: "Sign into Proto Platform", class: "btn btn-outline" %>
        <% end %>
    </div>
    <div style="margin-left: auto; margin-right: auto; width: 300px;">
        <br/>
        <br/>
        <% if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", public_send("#{resource_class.name.downcase}_#{provider.to_s}_omniauth_authorize_path") %><br />
          <% end -%>
        <% end -%>
        <br/>
        <%= link_to "Sign up for free", new_registration_path(resource_name) %><br />
        <%= link_to "I cannot access my account", new_password_path(resource_name) %><br />
        <%= link_to "Didn't receive confirmation token?", new_confirmation_path(resource_name) %><br />
        
    </div>
