<% if Rails.env.staging? %>
  <div class="row" style="margin-top: 25px;">
    <div class="ui yellow message">
      Please note: This is a staging environment for testing and not for use in production.
    </div>
  </div>
<% end %>
<div class="row" style="margin-top: 140px;">
  <div class="col-6">
    <h1><%=image_tag "logo.png", alt: "ProtoGraph.co" %></h1>
    <h2 class="ui big header">
      Tools to help journalists write better stories.
    </h2>
  </div>
  <div class="col-6" style="padding-left: 200px;">
    <div style="background: white; padding: 15px;" >
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true, placeholder: 'Email', required: true %>
      <%= f.input :password, autocomplete: "off", placeholder: 'Password', required: true  %>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <div class="ui checkbox">
          <%= f.input :remember_me, as: :boolean, boolean_style: :inline  %>
        </div>
      </div>
      <% end -%>
      <%= f.button :submit, value: "Sign in" %>
      <% end %>
      <br/>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "I cannot access my account", new_password_path(resource_name) %><br />
      <%= link_to "Didn't receive confirmation token?", new_confirmation_path(resource_name) %><br />
      <% end -%>
    </div>
    <hr/>
    <p>OR</p>
    <%= link_to "Sign up for free", new_registration_path(resource_name), class: "btn btn-outline-primary" %><br />
    <div style="padding: 15px;" >
      <br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">Visual micro-content to drive engagement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Micro-sites for special projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prepare articles for distribution</a>
          </li>
        </ul>
    </div>
</div>