<script src="https://d2m6lzru8erw1k.cloudfront.net/lib/protoGraph.min.js"></script>
<div class="sixteen wide column">
    <h1 class="ui header" style="padding-bottom: 0px; margin-bottom: 6px; font-size: 3em;">
        <%= @template_card.name %>
    </h1>
    <h5 class="ui header" style="padding-top: 0px; margin-top: 0px;">
        By
        <%= @template_card.account.username %>
    </h5>
</div>
<div class="three wide column">
    <%= image_tag @template_card.icon_url, style: "width: 60px;" %>
    <br/>
    <br/>
    <% if @template_card.is_public %>
        <strong>Free</strong>
    <% else %>
        <strong><i class="lock icon" style="color: gold;"></i>Private</strong>
    <% end %>
    <br/>
    <p>Version: <%= @template_card.version %></p>
</div>
<div class="thirteen wide column">
    <p><%= @template_card.elevator_pitch %></p>
    <h3>Description</h3>
    <p><%= @template_card.description %></p>
    <h3>Demo</h3>
    <div class="proto-graph-mode-buttons">
        <div class="ui small basic icon buttons">
          <% if @template_card.git_repo_name == 'ProtoGraph.Card.toSocial' %>
            <button class="ui button platform_buttons" id='facebook'><i class="facebook square icon"></i></button>
            <button class="ui button platform_buttons" id='twitter'><i class="twitter square icon"></i></button>
            <button class="ui button platform_buttons" id='instagram'><i class="instagram square icon"></i></button>
          <% else %>
            <button class="ui button platform_buttons" id='laptop'><i class="desktop icon"></i>&nbsp Desktop</button>
            <button class="ui button platform_buttons" id='mobile'><i class="mobile icon"></i> &nbsp Mobile</button>
          <% end %>
        </div>
      </div>
    <div style="background: #f7f8f9; padding: 30px 30px;">
        <div id="protoCard" style='width: 100%'></div>
    </div>
    <h3>How to use it?</h3>
    <%= image_tag("#{@template_card.name}.gif") %>
</div>

<script type="text/javascript">
  var proto_embed_test = new ProtoEmbed.initFrame(document.getElementById('protoCard'), "<%= "#{@template_card.index_html}?view_cast_id=demo/#{@template_card.slug}&schema_id=#{@template_card.template_datum.s3_identifier}".html_safe %>" , "<%= @template_card.git_repo_name == 'ProtoGraph.Card.toSocial' ? "instagram" : "laptop"  %>");


    $('.platform_buttons').on('click', function(event){
        var platform = this.id
        proto_embed_test.sandbox.oasis.services[0].send('change_mode', platform);
        event.stopPropagation();
    })
</script>