<%= render partial: "template_data/header" %>
<div style="margin-left: auto; margin-right: auto; width: 540px;">
    <% @template_cards.each do |template_card| %>
        <h2><span class="thin" style="font-size: 14px;">
            <%= template_card.site.name %> /</span> 
            <%= link_to template_card.name, site_template_card_path(@site, template_card) %>
        </h2>
        <p>
            This card has been used <b style="color: black;"><%= template_card.view_casts.count %></b> times. 
            This card uses the      
            <%= template_card.template_datum.site.name %> / 
            <%= link_to template_card.template_datum.name, site_template_datum_path(@site, template_card.template_datum)%>
            schema. It was updated <%= time_ago_in_words template_card.updated_at %> ago <%= (" by " + template_card.updator.name) if template_card.updator.present? %>
        </p>
        <hr/>
    <% end %>
</div>