<%= render partial: "template_data/header" %>
<div style="margin-left: auto; margin-right: auto; width: 540px;">
    <% @template_cards.each do |template_card| %>
        <h3>
            <%= link_to template_card.name, site_template_card_path(@site, template_card) %>
            <span class="thin" style="font-size: 14px;">
                by <%= template_card.site.name %>
            </span>
        </h3>
        <p>
            <%= template_card.elevator_pitch %>
            This card uses the      
            <%= template_card.template_datum.site.name %> / 
            <%= link_to template_card.template_datum.name, site_template_datum_path(@site, template_card.template_datum)%>
            schema.
        </p>
        <p style="text-align: right; color: gray;">
            <span class="hint" style="float: left;">
                Updated <%= time_ago_in_words template_card.updated_at %> ago <%= (" by " + template_card.updator.name) if template_card.updator.present? %>
            </span>
            <%= template_card.view_casts.count %></b> times
        </p>
        <hr/>
    <% end %>
</div>