<div class="nine wide column">
    <%= render partial: "templates/header_index" %>
    <%= simple_form_for([@account, @template_card]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
            <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
            <%= f.input :template_datum_id, as: :hidden, input_html: {value: @template_datum.id} %>
            <% if @prev_version.present? %>
                <%= f.input :change_log, hint: "What do you plan to achieve in this version?" %>
                <%= f.input :previous_version_id, as: :hidden, input_html: {value: @prev_version.id} %>
                <%= f.input :version_genre, as: :hidden, input_html: {value: @version_genre} %>
            <% else %>
                <%= f.input :name, hint: "Choose wisely. You cannot change it later." %>
                <%= f.input :version, as: :hidden, input_html: {value: "0.1.0"} %>
                <%= f.input :elevator_pitch, hint: "Explain in 140 characters what this template is about." %>
            <% end %>

            <!--
                TODO AMIT - Restrict elevator pitch to 140 chars in the UI
            -->

        </div>
        <div class="form-actions">
            <br/>
            <%= f.button :submit, @prev_version.present? ? "Create a version" : "Create a new template", class: "ui button" %>
        </div>
    <% end %>
</div>