<%= render partial: "templates/header_show" %>
<div class="eleven wide column">
  <%= render partial: "templates/publish_steps", locals: {template: @template} %>
  <div class="ui divider"></div>
  <h3>
    <a class="<%= @template.can_ready_to_publish? ? "ui green ribbon label" : "ui blue ribbon label" %>">
      Step #2
    </a>
    Upload mandatory code
  </h3>
  <br/>
  <%= render partial: "services_attachables/form", locals: {services_attachable: @html, label: "Html file required.", hint: "Format: .html", can_delete: (@template.status != "Published"), content_types: "text/html"} %>

  <%= render partial: "services_attachables/form", locals: {services_attachable: @css, label: "Styling for the cards.", hint: "Format: .css", can_delete: (@template.status != "Published"), content_types: "text/css"} %>

  <%= render partial: "services_attachables/form", locals: {services_attachable: @js, label: "The script with logic.", hint: "Format: .js", can_delete: (@template.status != "Published"), content_types: "text/javascript"} %>

  <%= render partial: "services_attachables/form", locals: {services_attachable: @config, label: "The configuration file to integrate.", hint: "Format: .json", can_delete: (@template.status != "Published"), content_types: "application/json"} %>


  <%= render partial: "services_attachables/form", locals: {services_attachable: @image, label: "The sprite image.", hint: "Format: .png, .jpg, .jpeg", can_delete: (@template.status != "Published"), content_types: "image/png, image/jpg, image/jpeg"} %>


  <%= render partial: "services_attachables/form", locals: {services_attachable: @logo, label: "The logo for the card.", hint: "Format: .png, .jpg, .jpeg", can_delete: (@template.status != "Published"), content_types: "image/png, image/jpg, image/jpeg"} %>

  <br/>
  <% if @template.can_ready_to_publish? %>
    <div class="ui divider"></div>
    <h3>
      <a class="<%= @template.status != "Draft" ? "ui green ribbon label" : "ui blue ribbon label" %>">Step #3</a>
      Submit the template to Editor for review
    </h3>
    <br/>
    <% if @template.status == "Draft" %>
        <%= link_to "Submit for review", move_to_next_status_account_template_card_path(@account, @template), class: "ui primary button", style: "color: white !important;" %>
    <% else %>
        <i class="checkmark box icon green" style="font-size: 1.5em;"></i>
    <% end %>
    <br/>
  <% end %>
  <% if @template.status != "Draft" %>
    <div class="ui divider"></div>
    <h3>
      <a class="<%= @template.status != "Draft" ? "ui green ribbon label" : "ui blue ribbon label" %>">Step #4</a>
      Publish the Datacast
    </h3>
    <br/>
    <% if @template.status == "Ready to Publish" %>
        <%= link_to "Publish", move_to_next_status_account_template_card_path(@account, @template), class: "ui primary button", style: "color: white !important;" %>
    <% else %>
        <i class="checkmark box icon green" style="font-size: 1.5em;"></i>
    <% end %>
    <br/>
  <% end %>
  <br/>
  <div class="ui divider"></div>
  <br/>
  <% if @template.status != "Published" %>
  <%= link_to 'Destroy', [@account, @template_card], method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red basic button" %>
  <% end %>
  <br/><br/><br/><br/>
  <div class="ui dividing right rail" style="min-height: 339px;"></div>
</div>
<div class="five wide column" style="padding-left: 90px;">
  <%= render partial: "templates/versions", locals: {template: @template, url: {"bug": create_version_account_template_datum_template_card_path(@account, @template.template_datum, @template, version_genre: "bug"), "major": create_version_account_template_datum_template_card_path(@account, @template.template_datum, @template, version_genre: "major"), "minor": create_version_account_template_datum_template_card_path(@account,@template.template_datum,@template, version_genre: "minor")}, siblings: @siblings} %>
</div>
</div>

<%= javascript_include_tag "app/file_uploader.js" %>