<div class="sixteen wide column">
  <div class="ui breadcrumb">
      <a class="section"><%= link_to "Template Card", account_template_cards_path(@account) %></a>
  </div>
  <h2 class="ui header" style="margin-top: 15px;">
      <%= @template_card.name %>
      <a class="ui grey circular label"><%= @template_card.publish_count %></a>
      <div style="float: right;">
          <p style="font-size: 0.7em; margin-bottom: 0px;"><%= @template_card.status %></p>
          <p style="font-size: 0.5em; font-weight: 400; color: gray; margin-bottom: 10px;">
            Last updated by
            <%= @template_card.updator.name %>
            <%= time_ago_in_words @template_card.updated_at %>
          </p>
      </div>
  </h2>
  <div class="ui divider"></div>
</div>
<div class="eleven wide column">
    <div class="ui dividing right rail"></div>
    <%= link_to @template_card.template_datum.name, [@account, @template_card.template_datum] %>
</div>
<div class="five wide column">
    <div  style="margin-left: 40px;">
        <h4>What is this Template Card about?</h4>
        <%= @template_card.description %>
        <br/>
        <div style="float: right;""><%= link_to 'Destroy', [@account, @template_card], method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red basic button" %></div>
    </div>
</div>