<div class="sixteen wide column">
  <div class="ui breadcrumb">
      <a class="section"><%= link_to "Template Card", account_template_cards_path(@account) %></a>
  </div>
  <h1 class="ui header" style="margin-top: 15px;">
      <%= show_lock(@template_card.is_public, @template_card.name).html_safe %>
  </h1>
  <div class="ui divider"></div>
  <a class="ui grey circular label"><%= @template_card.publish_count %></a>
      <div style="float: right;">
          <p style="font-size: 0.7em; margin-bottom: 0px;"><%= @template_card.status %></p>
          <p style="font-size: 0.5em; font-weight: 400; color: gray; margin-bottom: 10px;">
            Last updated by
            <%= @template_card.updator.name %>
            <%= time_ago_in_words @template_card.updated_at %>
          </p>
      </div>

</div>
<div class="eleven wide column">
    <div class="ui dividing right rail"></div>
    <%= link_to @template_card.template_datum.name, [@account, @template_card.template_datum] %>
</div>
<div class="five wide column">
    <div  style="margin-left: 40px;">
        <h4>What is this Template Card about?</h4>
        <%= best_in_place @template_card, :description,url: account_template_card_path(@account, @template_card) ,:as => :textarea, :place_holder => "No description added yet." %>
        <br/>
        <div style="float: right;""><%= link_to 'Destroy', [@account, @template_card], method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red basic button" %></div>
    </div>
</div>

<% if @template_card.is_public %>
  <%= link_to "Make private", flip_public_private_account_template_card_path(@account, @template_card) %>
<% elsif @template_card.status == "Published" or 1 == 1 %>
  <%= link_to "Make public", flip_public_private_account_template_card_path(@account, @template_card) %>
<% end %>

<% if next_status(@template_card.status).present? %>
  <%= link_to ("Change status to " + next_status(@template_card.status)), move_to_next_status_account_template_card_path(@account, @template_card) %>
<% end %>