<div class="row">
    <div class="col-sm-3">
        <%= render partial: "accounts/sidebar" %>
    </div>
    <div class="col-sm-9">
        <br/>
        <% if @ref_codes.first.blank? %>
          <p style="text-align: center;" class="hint">You do not have any genres right now.</p>
        <% else %>
            <table class="table">
              <thead>
                <tr>
                  <th>Genre</th>
                  <th>Updated by</th>
                </tr>
              </thead>

              <tbody>
                <% @ref_codes.each do |ref_code| %>
                  <tr>
                    <td><%= ref_code.val %></td>
                    <td class="hint"><%= ref_code.updator.name %> about <%= time_ago_in_words ref_code.updated_at %> </td>
                    <td><% link_to 'Destroy', account_ref_code_path(@account, ref_code), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        <% end %>
    </div>
    <div class="col-sm-4">
        <%= simple_form_for([@account, @ref_code]) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
            <%= f.input :val, label: false, hint: "E.g. Opinion, News, Analysis, Reportage, Wires, Exclusive, Breaking, etc. Maximum 16 characters.", maxlength: 16 %>
            <%= f.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
            <%= f.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Add new article genre" %>
          </div>
        <% end %>
    </div>
</div>
