<tr>
  <%= simple_form_for(@instance, url: account_site_ref_categories_path(@account, @site), method: :post) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :genre, value: @genre %>
  <%= f.hidden_field :site_id, value: @site.id %>

  <div class="form-inputs">
    <td>
      <%= f.input :name %>
    </td>
  </div>
  <td></td>
  <div class="form-actions">
    <td>
      <%= f.button :submit, value: "Add" %>
    </td>
  </div>
  <% end %>
</tr>

