<h1>Plan</h1>
<div class="protograph-page-tabs">
    <div class="<%= action_name == 'intersections' ? "single-tab active-tab" : "single-tab" %>">
        <%= link_to "Intersections", intersections_site_path(@site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= action_name == 'sub_intersections' ? "single-tab active-tab" : "single-tab" %>">
        <%= link_to "Trends", sub_intersections_site_path(@site),"data-turbolinks" => "false" %>
    </div>
    <div class="<%= action_name == 'sections' ? "single-tab active-tab" : "single-tab" %>">
        <%= link_to "Subsites", sections_site_path(@site),"data-turbolinks" => "false" %>
    </div>
</div>
<br/>