<div class="row">
    <div class="col-sm-6" style="padding: 0px; margin-left: auto; margin-right: auto;">
        <h1><span style="font-weight: 200;">Site Categories:</span> <%= @site.domain %></h1>
        <br/>
    </div>
</div>
<div class="row">
  <div class="col-sm-16">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to  "Series", series_account_site_path(@account,@site), class: "nav-link #{action_name === 'series' ? 'active' : ''}" %>
      </li>
      <li class="nav-item">
        <%= link_to  "Intersection", intersection_account_site_path(@account,@site), class: "nav-link #{action_name === 'intersection' ? 'active' : ''}" %>
      </li>
      <li class="nav-item">
        <%= link_to  "Sub Intersection", sub_intersection_account_site_path(@account,@site), class: "nav-link #{action_name === 'sub_intersection' ? 'active' : ''}" %>
      </li>
    </ul>

    <div style="margin-left: 50px;">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Updated by</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "form" %>
          <% @data.each do |ref_category| %>
            <tr>
              <td>
                <% if ref_category.is_disabled %>
                  <span class="proto-restrict-remove"><%= ref_category.name %></span>
                <% else %>
                  <%= best_in_place ref_category, :name, url: [@account, @site, ref_category] %>
                <% end %>
              </td>
              <td class="hint">
                <%= ref_category.updator.name %>
              </td>
              <td>
                <% if not ref_category.is_disabled %>
                  <% if ref_category.count > 0 %>
                    <%= link_to 'Disable', disable_account_site_ref_category_path(@account, @site, ref_category), method: :put, data: { confirm: 'Are you sure?' } %>
                  <% else %>
                    <%= link_to 'x', account_site_ref_category_path(@account, @site, ref_category), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>