<%= content_for :page_title do %>
  <li class="breadcrumb-item"><%= link_to "Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false %></li>
  <li class="breadcrumb-item active" aria-current="page">Site: <%= @site.domain %></li>
  <li class="breadcrumb-item active" aria-current="page">Publish micro-sites</li>
  <li class="breadcrumb-item active" aria-current="page"><%= action_name.titleize %></li>
<% end %>
<div class="row">
  <div class="col-sm-13">
    <div style="margin-left: auto; margin-right: auto; width: 700px;" class='table-responsive'>
      <% if @data.first.blank? %>
        <div class="hint">No rows yet</div>
      <% else %>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>Name
              </td>
              <td>
              </td>
              <td>Stories
              </td>
              <td>Description
              </td>
              <td>Keywords
              </td>
              <td>Created
              </td>
              <td>Updated
              </td>
              <td>
              </td>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |ref_category| %>
              <tr>
                <td>
                  <% if ref_category.is_disabled %>
                    <span class="proto-restrict-remove"><%= ref_category.name %></span>
                  <% else %>
                    <%= ref_category.name %>
                  <% end %>
                </td>
                <td><%= link_to (image_tag "rss_symbol.png", height: 10, width: 10), "#{@site.cdn_endpoint}/#{ref_category.stream.cdn_rss_key}", target: "blank"  %>
                </td>
                <td>
                    <% if @genre == "intersection" %>
                        <%= ref_category.stories_with_intersection.count%>
                    <% elsif @genre == "sub intersection" %>
                        <%= ref_category.stories_with_sub_intersection.count%>
                    <% end %>
                </td>
                <td class='hint'>
                  <%= truncate(ref_category.description, length: 50, ommission: "..") %>
                </td>
                <td class='hint'>
                  <%= truncate(ref_category.keywords, length: 50, ommission: "..") %>
                </td>
                <td class="hint">
                  <%= image_tag avatar_url(ref_category.creator.email), class: "rounded" %> <%= time_ago_in_words ref_category.created_at %>
                </td>
                <td class="hint">
                  <%= image_tag avatar_url(ref_category.updator.email), class: "rounded" %> <%= time_ago_in_words ref_category.updated_at %>
                </td>
                <td>
                  <%= link_to "Edit", (ref_category.genre == "series") ? distribute_account_site_page_path(@account, @site, ref_category.vertical_page) :edit_account_site_ref_category_path(@account, @site, ref_category) %>
                </td>
              </tr>
            <% end %>
          </tbody>
      <% end %>
    </div>
  </div>
	<div class="col-sm-3 help-text">
        <% if action_name != "verticals" %>
            <%= simple_form_for(@instance, url: account_site_ref_categories_path(@account, @site), method: :post) do |f| %>
            <%= f.error_notification %>
            <%= f.hidden_field :genre, value: @genre %>
            <%= f.hidden_field :site_id, value: @site.id %>

            <div class="form-inputs">
                <%= f.input :name, required: true, minlength: 3 , maxlength: 15 %>
                <% unless @site.is_english %>
                  <%= f.input :english_name, required: true, minlength: 3 , maxlength: 15, hint: "This is used for url management." %>
                <% end %>
            </div>
            <div class="form-actions">
                <%= f.button :submit, value: "Add", class: "btn btn-sm btn-secondary" %>
            </div>
            <% end %>
        <% else %>
            <%= simple_form_for(@instance, url: account_site_ref_categories_path(@account, @site), method: :post) do |f| %>
            <%= f.error_notification %>
            <%= f.hidden_field :genre, value: "series" %>
            <%= f.hidden_field :site_id, value: @site.id %>

            <div class="form-inputs">
              <%= f.input :name, required: true, minlength: 3 , maxlength: 15, hint: "Choose carefully. Once set, you cannot change the name." %>
              <% unless @site.is_english %>
                <%= f.input :english_name, required: true, minlength: 3 , maxlength: 15, hint: "This is used for url management." %>
              <% end %>
              <%= f.input :name_html, as: :text, label: "Brand the vertical", hint: "Use HTML (span tag) to add CSS. Note, the length of the series cannot be more than 15 characters.", required: true, minlength: 3 , maxlength: 50 %>
            </div>
            <div class="form-actions">
                <%= f.button :submit, value: "Add a vertical", class: "btn btn-sm btn-secondary" %>
            </div>
            <% end %>
        <% end %>
        <hr/>
        <%= render partial: "admins/sidebar_structured" %>
	</div>
</div>