<%= render partial: "pages/header" %>
<div class="row">
    <div class="col-sm-16">
      <% if @view_cast.is_invalidating %>
        <div class="alert alert-warning" role="alert">
          The data is getting updated. It generally takes between 5 seconds to 5 minutes. If it doesn't update, please contact us at team@pykih.com
        </div>
        <br/>
      <% end %>
      <div style="margin-left: 40%;">
          <div class="btn-group">
            <% @view_cast.template_card.allowed_views.each do |mode|%>
              <button class="btn btn-sm platform_buttons" type="button" id="<%= mode %>"><%= mode.titleize %></button>
            <% end %>
          </div>
      </div>
      <br/>
      <div id="protoCard" style='margin-bottom: 40px;'>
        <%= sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6) %>
      </div>
      <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script>
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <div class="proto-graph-code-area">
              <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Embed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Advanced Embed Options</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-meta-tab" data-toggle="pill" href="#pills-meta" role="tab" aria-controls="pills-meta" aria-selected="false">Meta</a>
                </li>
              </ul>
              <br/>
              <br/>
              <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      <textarea class="proto-graph-code"  id='responsive-embed-code' readonly><div id="<%= "ProtoCard#{@view_cast.id}" %>">
                          <%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6))%>
                          <script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};var mode = (window.innerWidth <= 500) ? "col4" : "col16";new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}" %>" , mode)}, 200)</script>
                      </textarea>
                      <br/>
                  </div>
                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <div class="proto-graph-code-area-title">Traditional iFrame for Google AMP pages</div>
                      <textarea class="proto-graph-code amp-iframe" readonly><iframe width="100%" height="300" src="<%= "#{@view_cast.template_card.protograph_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}%26mode=col16" %>" frameborder="0" allowfullscreen></iframe></textarea></br></br>
                      <div class="proto-graph-code-area-title">SEO friendly iFrame for specific mode</div>
                      <textarea class="proto-graph-code protograph-iframe" readonly><div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast.seo_blockquote.to_s, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}" %>" , "col16")}, 200)</script></textarea>
                  </div>
                  <div class="tab-pane fade show" id="pills-meta" role="tabpanel" aria-labelledby="pills-meta-tab">
                    <div class="hint">
                        <table class="table table-sm hint">
                          <tr>
                            <td>Card Type</td>
                            <td>:</td>
                            <td><%= @view_cast.template_card.name %></td>
                          </tr>
                          <tr>
                            <td>Created by</td>
                            <td>:</td>
                            <td><%= @view_cast.creator.name %></td>
                          </tr>
                          <tr>
                            <td>On</td>
                            <td>:</td>
                            <td><%= @view_cast.created_at.strftime("%e %b %Y") %></td>
                          </tr>
                          <tr>
                            <td>Card Type</td>
                            <td>:</td>
                            <td><%= @view_cast.template_card.name %></td>
                          </tr>
                          <tr>
                            <td>Updated by</td>
                            <td>:</td>
                            <td><%= @view_cast.updator.name %></td>
                          </tr>
                          <tr>
                            <td>ID</td>
                            <td>:</td>
                            <td><strong><%= @view_cast.id %></strong></td>
                          </tr>
                          <tr>
                            <td>On</td>
                            <td>:</td>
                            <td><%= @view_cast.updated_at.strftime("%e %b %Y") %></td>
                          </tr>
                        </table>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  var interval = setInterval(function(){
    if (window.ProtoEmbed) {
      clearInterval(interval);
      var proto_embed_test = new ProtoEmbed.initFrame(document.getElementById('protoCard'), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}" %>" , "<%= @view_cast.template_card.allowed_views.first %>");

      $('.platform_buttons').on('click', function(event){
        var platform = this.id
        proto_embed_test.sandbox.oasis.services[0].send('change_mode', platform);
        $('.proto-graph-code.protograph-iframe').val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}".html_safe %>" , '${platform}')}, 200)<\/script>`);


        $('.proto-graph-code.amp-iframe').val(`<iframe width="560" height="315" src="<%= "#{@view_cast.template_card.protograph_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}%26mode=${platform}".html_safe %>" frameborder="0" allowfullscreen></iframe>`);


        if(platform == "list") {
          $("#responsive-embed-code").val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}".html_safe %>" , 'list')}, 200)<\/script>`);
        } else {
          $("#responsive-embed-code").val(`<div id="<%= "ProtoCard#{@view_cast.id}" %>"><%= (sanitize @view_cast_seo_blockquote, tags: %w(p blockquote ul li h1 h2 h3 h4 h5 h6)) %></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async><\/script><script type="text/javascript">var <%= "ProtoCard#{@view_cast.id}" %> = setInterval(function(){if (window.ProtoEmbed){clearInterval(<%= "ProtoCard#{@view_cast.id}" %>)};var mode = (window.innerWidth <= 500) ? "col4" : "col16";new ProtoEmbed.initFrame(document.getElementById("<%= "ProtoCard#{@view_cast.id}" %>"), "<%= "#{@view_cast.template_card.index_html}?view_cast_id=#{@view_cast.datacast_identifier}%26schema_id=#{@view_cast.template_datum.s3_identifier}%26base_url=#{@site.cdn_endpoint}".html_safe %>" , mode)}, 200)<\/script>`);
        }
        event.stopPropagation();
      })
    }
  },200)
</script>
