<div class="ui grid">
  <div class="four wide column">
    Please make sure there are no empty rows in the csv file<br><br>
    <%= link_to "toReportViolence CSV headers", "/csv_templates/to_report_violence.csv", download:"" %><br>
    <%= link_to "toExplain CSV headers", "/csv_templates/to_explain.csv", download:"" %>
  </div>
  <div class="twelve wide column">
    <%= simple_form_for [:account, :folder, @upload] do |f| %>
      <%= f.input :attachment, as: :file, required: true %>
      <%= f.input :template_card_id, collection: @template_cards, label_method: :name, value_method: :id, include_blank: false %>
      <%= f.hidden_field :folder_id, value: @folder.id %>
      <%= f.hidden_field :account_id, value: @account.id %>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.button :submit, "Upload File", class: "ui primary button" %>
    <% end %>
  </div>
  <% if @uploads.present? %>
    <div class="sixteen wide column">
      <%= @folder.name %> has <%= pluralize(@uploads.count, "upload") %>.
      <table class="ui celled selectable table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Template Card</th>
            <th>Status</th>
            <th>Errors</th>
            <th>Uploaded by</th>
            <th>Uploaded at</th>
          </tr>
        </thead>
        <tbody>
          <% @uploads.each do |u| %>
            <tr>
              <td><%= link_to u.attachment.file.file.split("/")[-1], u.attachment.url, download: "" %></td>
              <td><%= u.template_card.name %></td>
              <td>
                <% if u.upload_status == "completed" || u.upload_status == "waiting" %>
                  <%= u.upload_status.capitalize %></td>
                <% elsif u.upload_status == "uploading" && u.rows_uploaded != nil %>
                  <% data_percent = u.rows_uploaded * 100 / u.total_rows %>
                  <div class="ui small indicating progress" data_percent="<%= data_percent %>">
                    <div class="bar" style="transition-duration: 300ms; width: <%= data_percent %>%;">
                      <div class="progress"><font size="1"><%= data_percent %>%</font></div>
                    </div>
                  </div>
                <% end %>
                <td>
                  <% if u.upload_status == "waiting" || u.upload_status == "uploading" %>
                    <p>Uploading File</p>
                  <% elsif File.exist?(Rails.root.join("public" + u.attachment.url.split("/").slice(0..-2).join("/") + "/errored_file.csv")) %>
                    <%= link_to "Download errored file", u.attachment.url.split("/").slice(0..-2).join("/") + "/errored_file.csv" %>
                  <% else %>
                    <p>No errors found</p>
                  <% end %>
                </td>
                <td><%= u.creator.name %></td>
                <td><%= distance_of_time_in_words(u.created_at, Time.now) + " ago" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<script type="text/javascript">
 $(document).ready(function() {
   setTimeout(function(){
     window.location.reload(1);
   }, 30000);
 });
</script>
