<table class="table">
      <% @activities.each do |a| %>
          <tr>
              <td style="width: 40px;">
                  <%= image_tag avatar_url(a.user.email), class: "rounded" %>
              </td>
              <td>
                  <div class="hint">
                      <%= time_ago_in_words a.updated_at %>
                  </div>
                  <%= a.user.name %>
            <%= a.action.sub(/e?$/, "ed")  %>
            <% if a.trackable.class.to_s == "Folder" %>
              a folder
              <%= link_to a.trackable.name.titleize, [a.trackable.account, a.trackable] %>
            <% elsif a.trackable.class.to_s == "ViewCast" %>
              a card
              <%= link_to a.trackable.name.titleize, [a.trackable.account, a.trackable.folder, a.trackable] %>
            <% elsif a.trackable.class.to_s == "Stream" %>
              a stream
              <%= link_to a.trackable.title.titleize, [a.trackable.account, a.trackable.folder, a.trackable] %>
            <% end %>
              </td>
          </tr>
  <% end %>
</table>