<h1>Adminland</h1>
<div class="row">
    <div class="col-sm-16">
        <%= render partial: "admins/header" %>
        <div style="margin-left: auto; margin-right: auto; width: 540px; font-size: 12px;">
        <%= simple_form_for [@site] do |f| %>
          <%= f.error_notification %>
          <h3>Set up the basics</h3>
          <%= f.input :seo_name, label: "Name", hint: "We will be using this name for seo purpose only", disabled: true %>
          <%= f.input :primary_language, as: :select, collection: [["English", "English"], ["Hindi", "Hindi"]], include_blank: false, label: "Language" %>
          <%= f.input :domain, hint: "We recommend using p.mysite.com", label: "Custom domain", disabled: true %>
          <%= f.input :description, hint: "This will be used in footers, search results, and other places." %>
          <%= f.input :default_seo_keywords, hint: "These default keywords will be used on homepage.", label: "Default SEO Keywords" %>
          <%= f.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
          <br/><hr/>
          <h3>Labs</h3>
          <%= f.input :enable_ads, as: :boolean, label: "&nbsp; Enable Ads in stories".html_safe %>
          <%= f.input :is_lazy_loading_activated, as: :boolean, hint: "Lazy loading helps in improving page performance by loading content on demand.", label: "&nbsp; Activate lazy loading".html_safe %>
          <%= f.input :is_smart_crop_enabled, as: :boolean, label: "&nbsp; Activate smart image cropping".html_safe %>
          <%= f.input :story_card_flip, as: :boolean, collection: [["Yes", true], ["No", false]], label: "&nbsp; Show summary of story by flipping the card".html_safe, include_blank: false %>
          <% if current_user.is_admin_from_pykih %>
            <%= f.input :show_proto_logo, as: :boolean, label: "&nbsp; Show proto logo in site header".html_safe %>
          <% end %>
          <br/><hr/>
          <h3>Customize how it looks</h3>
          <p>Favicon</p>
          <% if @site.favicon_id.present? and @site.favicon.present? %>
            <%= image_tag(@site.favicon.original_image.image_url, class: "rounded", style: "max-width: 30px; margin-top: 0px;", alt: "Uploading image") %>
            <br/>
            <%= link_to "Remove", remove_favicon_site_path(@site) %>
          <% else %>
            <br/><br/>
              <%= f.fields_for :favicon do |favicon| %>
                <%= favicon.input :image, label: false %>
                <%= favicon.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
                <%= favicon.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
                <%= favicon.input :site_id, as: :hidden, input_html: {value: @site.id}  %>
                <%= favicon.input :is_favicon, as: :hidden, input_html: {value: true } %>
              <% end %>
          <% end %>
          <br/><br/>
          <%= f.input :house_colour, input_html: {type: :color, style: "height: 40px;"}, label: "House Color", required: true, hint: "Your primary brand colour. Wherever possible, we will use this colour." %>
          <%= f.input :font_colour, input_html: {type: :color, style: "height: 40px;"}, label: "Font Color on House Color", required: true %>
          <%= f.input :reverse_house_colour, input_html: {type: :color, style: "height: 40px;"}, label: "Reverse House Color", required: true, hint: "Choose a color that is diagonally opposite from your House Color on the color wheel." %>
          <%= f.input :reverse_font_colour, input_html: {type: :color, style: "height: 40px;"}, label: "Font Color on Reverse House Color", required: true %>
          <%= f.input :story_card_style, as: :select, collection: [["Clear: Color", "Clear: Color"], ["Clear: Black & White", "Clear: Black & White"], ["Blur: Color", "Blur: Color"]], label: "Style", include_blank: false %>
          <br/><br/><hr/>

          <h3>Mast Head</h3>
          <% if @site.logo_image_id.present? %>
            <%= image_tag(@site.logo_image.original_image.image_url, class: "rounded", style: "width: 100px;", alt: "Uploading image") %>
            <br/>
            <%= link_to "Remove", remove_logo_site_path(@site) %>
          <% else %>
              <%= f.fields_for :logo_image do |logo_image| %>
                <%= logo_image.input :image, label: false %>
                <%= logo_image.input :created_by, as: :hidden, input_html: {value: current_user.id} %>
                <%= logo_image.input :updated_by, as: :hidden, input_html: {value: current_user.id} %>
                <%= logo_image.input :site_id, as: :hidden, input_html: {value: @site.id}  %>
                <%= logo_image.input :is_logo, as: :hidden, input_html: {value: true } %>
              <% end %>
          <% end %>
          <%= f.input :header_background_color, input_html: {type: :color, style: "height: 40px;"}, required: true, label: "Background Color" %>
          <%= f.input :header_positioning, collection: [["Left", "left"], ["Center", "center"]], label: "Position", include_blank: false %>
          <%= f.input :header_url, as: :string, label: "Jump to this URL on click of logo in header" %>
          <%= f.input :tooltip_on_logo_in_masthead, as: :string, label: "On hover of logo in mast head, show this tooltip", hint: "Typically used for set expectation that on clicking the logo you head back to our parent site."%>
          <br/>
          <%= f.button :submit, "Save", class: "btn btn-sm btn-primary" %>
        <% end %>
        <br/><br/>



        <p>You can download the <%= link_to "Sitemap", "#{@site.cdn_endpoint}/sitemap.xml.gz", target: "blank"  %> for your site.</p>


    </div>
</div>
</div>