<%= content_for :page_title do %>
    
        <li class="breadcrumb-item active" aria-current="page"><%= @site.domain.downcase %></li>
      
<% end %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 600px;">
            <% if @folders.first.present? %>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Folder
                            </th>
                            <th>#Cards
                            </th>
                            <th>#Stories
                            </th>
                            <th>Updated
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @folders.each do |folder| %>
                            <tr>
                                <td>
                                    <%= image_tag "glyphicons-441-folder-closed.png" %>
                                    &nbsp;
                                    <%= link_to folder_name_(folder).html_safe, account_site_folder_view_casts_path(@account, @site, folder) %>
                                </td>
                                <td class="hint"><%= folder.view_casts.count %>
                                </td>
                                <td class="hint"><%= folder.pages.count %>
                                </td>
                                <td class="hint"><%= image_tag avatar_url(folder.updator.email), class: "rounded" %> <%= time_ago_in_words folder.updated_at %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %>
        <h2>Welcome to <%= truncate(@site.domain, length: 15) %></h2>
		<p>ProtoTYPE requires editors to organise writers, cards and pages into folders. You can manage folders from Site Admin.</p>
	</div>
</div>