<div class="row">
  <div class="col-sm-6" style="margin-left: auto; margin-right: auto;">
    <h1>
        Folders
        <span style="float: right; font-weight: 400; font-size: 14px;">
            <%= link_to "+ Add", new_account_site_folder_path(@account, @site) %>
        </span>
    </h1>
    <br/>
    <% @folders.each do |folder| %>
        <a href="<%= account_site_folder_path(@account, @site, folder) %>" class="github-menu-item">
            <%= image_tag "trash-icon.jpg", style: "height: 12px;margin-bottom: 2px;" if folder.is_trash %>
            <%= folder_name_(folder).html_safe %>
            <span class="count badge badge-pill badge-secondary" style="font-size: 0.81em; font-weight: 200; float: right;">
                <%= folder.view_casts.count + folder.streams.count + folder.pages.count %>
            </span>
        </a>
        <hr/>
    <% end %>
  </div>
</div>