<br/>   
<div style="margin-left: auto; margin-right: auto; width: 540px;">
    <div class="small thin" style="float: right;">
        <%= link_to "New workspace", new_site_folder_path(@site), data: {turbolinks: false} %>
        
    </div>
    <br/>
    <hr class="hr-text" data-content="Workspaces for sub sites">
    <br/>
    <% @all_verticals.each do |v| %>
        <h2 style="padding-top: 0px; margin-top: 0px;">
            <% if v.vertical_page.present? %>
                <%= link_to v.name, edit_site_page_path(@site, v, folder_id: nil), "data-turbolinks"=> false, style: "color: black !important; border-bottom: 1px dotted gray;" %>
            <% else %>
                <spans style: "color: black;"><%= v.name %></span>
            <% end %>
            <span class="small thin" style="float: right;">
                <%= link_to "New workspace", new_site_folder_path(@site), data: {turbolinks: false} %>
            </span>
        </h2>
        <table class="table table-borderless table-hover table-sm">
            <tbody>
                <% v.folders.order(:name).each do |f| %>
                    <tr>
                        <td style="border: 0px;">
                            <%= link_to f.name, site_folder_view_casts_path(@site, f) %>
                        </td>
                        <td style=" color: lightgray; text-align: right; border: 0px;">
                                (
                                <%= f.view_casts.count %> cards 
                                <% if f.is_for_stories %>
                                    and <%= f.pages.count %> stories
                                <% end %>
                                )
                        </td>
                    </tr>
                <% end %>   
            </tbody>
        </table>
        <br/>
    <% end %>
    <hr class="hr-text" data-content="Other workspaces">
    <br/>
    <h2>
        Uncategorized
        <span class="small thin" style="float: right;">
            <%= link_to "New workspace", new_site_folder_path(@site), data: {turbolinks: false} %>
        </span>
    </h2>
    <table class="table table-borderless table-hover table-sm">
        <tbody>
            <% @uncategorized_folders.each do |f| %>
                <tr>
                    <td style="border: 0px;">
                        <%= link_to f.name, site_folder_view_casts_path(@site, f) %>
                    </td>
                    <td style=" color: lightgray; text-align: right; border: 0px;">
                            (
                            <%= f.view_casts.count %> cards 
                            <% if f.is_for_stories %>
                                and <%= f.pages.count %> stories
                            <% end %>
                            )
                    </td>
    
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @archived_folders.first.present? %>
        <br/>
        <h2>Archived</h2>
        <table class="table table-borderless table-hover table-sm">
            <tbody>
                <% @archived_folders.each do |f| %>
                    <tr>
                        <td style="border: 0px;">
                            <%= link_to folder_name_(f).html_safe, site_folder_view_casts_path(@site, f) %>
                        </td>
                        <td style=" color: lightgray; text-align: right; border: 0px;">
                                (
                                <%= f.view_casts.count %> cards 
                                <% if f.is_for_stories %>
                                    and <%= f.pages.count %> stories
                                <% end %>
                                )
                        </td>
    
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
</div>