<div class="modal" id="fileUploadModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a new image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@account, @new_image]) do |f| %>
          <%= f.error_notification %>
          <%= f.input :image, as: :file, required: true, hint: 'Size should less than or equal to 500kB. Supported file types are GIF, JPEG, JPG and PNG', input_html: {onChange: "readURL(this)"} %>
          <img id="preview_image" src="#" alt="" style='max-height: 200px' />
          <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
          <%= f.input :name, required: true %>
          <%= f.input :tag_list, collection: @tags, label: 'Tags', input_html: { multiple: true, id: 'tags_autocomplete' } %>
          <%= f.input :description %>
          <%= f.input :tags_list, as: :hidden %>
          <%= f.hidden_field :dominant_colour, value: nil %>
          <%= f.hidden_field :colour_palette, value: nil %>
        <% end %>
      </div>
      <div class='modal-footer'>
        <input type="submit" value="Upload" form="new_image" class="btn btn-outline">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 function readURL(input) {
     if (input.files && input.files[0]) {
         var reader = new FileReader();
         reader.onload = function (e) {
             $("#preview_image").attr('src', e.target.result)
             $('#image_name').val(input.files[0].name.replace(/\.[^/.]+$/, ""));
         }
         reader.readAsDataURL(input.files[0]);
     } else {
         $("#preview_image").attr('src', "");
         $('#image_name').val("");
     }
 };
</script>

<script type="text/javascript">
 $(document).on('turbolinks:load', function() {
     colorThief = new ColorThief()
     $( "#new_image" ).submit(function( event ) {
         var img = $("#preview_image")[0];
         if(img){
             console.log(img)
             dom_colour = colorThief.getColor(img)
             console.log(dom_colour)
             $("#image_dominant_colour").val(JSON.stringify(dom_colour))
             pal_colours = colorThief.getPalette(img)
             console.log(pal_colours)
             $("#image_colour_palette").val(JSON.stringify(pal_colours))
         }
     });
 });
</script>
<script>
 // Allow extra tags to be added in selects multiselect
 $(document).ready(function(){
   $("#tags_autocomplete").select2({
     width: '100%',
     tags: true,
     tokenSeparators: [',', ' ']
   });
 });

 //Set tag list on form submit
 $("#new_image").submit(function(event){
   var values = $("#tags_autocomplete").select2('data');
   var valuesString = values.map(function(i) {return i.text}).join(",");
   $("#image_tags_list").val(valuesString);
   console.log(valuesString)
 });
</script>
