<%= stylesheet_link_tag "justified.css" %>

<style type="text/css">
  .photo-container:hover .photograph-image-details {
    display: block;
  }
  .photograph-image-details {
    display: none;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    background: rgba(0,0,0,0.65);
    color: white;
    width: 100%;
  }
</style>

<div class="sixteen wide column">

  <h1 class="ui header">Digital Asset Manager</h1>
  <button class="ui right floated button" id="openFileUpload"> Add a new image </button>

  <div style="clear: both;"></div>

  <br>
  <div id="imageContainer"></div>

  <div class="ui modal" id="fileUploadModal"> <i class="close icon"></i>
      <div class="header">Add a new image</div>
      <div class="content">
        <%= simple_form_for([@account, @image]) do |f| %>
          <%= f.error_notification %>
          <%= f.input :image, as: :file, required: true %>
          <div class="form-inputs">
            <%= f.input :account_id, as: :hidden, input_html: {value: @account.id} %>
            <%= f.input :name, required: true %>
            <%= f.input :tag_list,  collection: [], input_html: { class: 'ui search fluid dropdown' } %>
            <%= f.input :description %>
          </div>
        <% end %>
      </div>
      <div class="actions">
        <input type="submit" value="submit" form="new_image" class="ui button">
      </div>
  </div>

</div>
<%= javascript_include_tag "justified.js" %>

<script type="text/javascript">
  var images = <%= @images.as_json.to_json.html_safe %>;

  $(document).on('turbolinks:load', function() {

    $('#openFileUpload').on('click', function () {
      $('#fileUploadModal').modal('show');
    });

    $('.ui.dropdown').dropdown({
      allowAdditions: true,
    });

    var maxHeight = 150;
    $('#imageContainer').empty().justifiedImages({
      images : images,
      rowHeight: maxHeight,
      maxRowHeight: 500,
      thumbnailPath: function(photo, width, height){
        return photo.thumbnail_url;
      },
      getSize: function(photo){
        return {width: photo.thumbnail_width, height: photo.thumbnail_height};
      },
      template: function (data) {
        var image;
        image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
        image +=    '<a href="'+data.redirect_to+'">'
        image +=        '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >'
        image +=    '</a>';
        image += '   <div class="photograph-image-details">' + data.image_width + ' x ' + data.image_height + '</div>';
        image += '</div>';

        return image;

        // return  + '<a href="'+data.redirect_to+'">' +
        //             '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >' +
        //             '</a>'+
        //             '</div>';

        // var image = '<div class="photo-container" style="height:'+maxHeight+'px;margin-right:'+photo.marginRight+'px;">';
        // image += '<a href="/account/<%= @account.slug %>/images/'+photo.id+'">'
        // image += '<img class="image-thumb" src="' + photo.src + '" style="width: '+photo.displayWidth+'px; height: '+photo.displayHeight+'px; margin-top: -8.0235px;">';
        // image += '</a>';
        // image += '<div class="photograph-image-details">' +photo.displayWidth+ ' x ' +photo.displayHeight+ '</div>';
        // image += '</div>';
        // return image;
      },
      margin: 5
    });

  });
</script>