<%= stylesheet_link_tag "justified.css" %>
<%= stylesheet_link_tag "select2.css" %>
<div class="container">
  <div class="row">
    <div class=<%= @account.images.present? ? "col-sm-13" : "col-sm-16" %>>
      <h1 style="margin-bottom: 40px;">
        Image Bank
      </h1>
      <div class="row">
        <div class="container">
          <% if (params[:q].present? and @images.blank?) %>
            <div class="blankslate blankslate-spacious">
              <%# Print all params without nil or blank space %>
              <% h = params[:q].as_json.keep_if {|k, v| v != nil and v != ""} %>
              <% search_params = [] %>
              <% h.each {|k, v| search_params << "#{k.split("_")[0]} containing \"#{v}\""} %>
              <h3>No images with <%= search_params.join(" and ") %> found</h3>
            </div>
          <% elsif @account.images.first.present? %>
            <div id="imageContainer" class="col-sm-16"></div>
          <% else %>
            <div class="blankslate blankslate-spacious">
              <h3>No images uploaded yet.</h3>
              <p>Use the [+ Upload image] button on the top right.</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <%= link_to '+ Upload an image', "#", class: "btn btn-light",style: "margin-top: 5px;", "data-toggle" => "modal", "data-target" => "#fileUploadModal" %>
        <br/><br/>
        <%= render partial: "images/form" %>
      <% if @account.images.present? %>
          <hr/>
        <%= render partial: "images/search_form" %>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>
  <%= paginate @images %>
</div>
<%= javascript_include_tag "justified.js" %>
<%= javascript_include_tag "select2.js" %>
<script type="text/javascript">
  var images = <%= @images.as_json.to_json.html_safe %>;

  $(document).ready(function() {
    var maxHeight = 75;
    if (images.length) {
      $('#imageContainer').empty().justifiedImages({
        images: images,
        rowHeight: maxHeight,
        maxRowHeight: 75,
        thumbnailPath: function(photo, width, height) {
          return photo.thumbnail_url;
        },
        getSize: function(photo) {
          return { width: photo.thumbnail_width, height: photo.thumbnail_height };
        },
        template: function(data) {
          var image;
          image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
          image += '<a href="' + data.redirect_to + '" data-turbolinks="false">';
          image += '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >';
          image += '</a>';
          image += '   <div class="photograph-image-details" style="display: block;">' + data.image_width + ' x ' + data.image_height + ' (' + data.aspectWidth + ':' + data.aspectHeight + ') ' + '</div>';
          image += '</div>';

          return image;
        },
        margin: 20
      });
    }
  });
</script>
