<% content_for :filters_sidebar do %>
      <%= render partial: "images/form" %>
    <% if @account.images.present? %>
      <%= render partial: "images/search_form" %>
    <% end %>
<% end %>
<%= stylesheet_link_tag "image_bank.css" %>

          <% if (params[:q].present? and @images.blank?) %>
            <div class="blankslate blankslate-spacious">
              <%# Print all params without nil or blank space %>
              <% h = params[:q].as_json.keep_if {|k, v| v != nil and v != ""} %>
              <% search_params = [] %>
              <% h.each {|k, v| search_params << "#{k.split("_")[0]} containing \"#{v}\""} %>
              <h3>No images with <%= search_params.join(" and ") %> found</h3>
            </div>
          <% elsif @account.images.first.present? %>
            <div id="imageContainer" class="col-sm-16"></div>
          <% else %>
            <div class="blankslate blankslate-spacious">
              <h3>No images uploaded yet.</h3>
              <p>Use the [+ Upload image] button on the top right.</p>
            </div>
          <% end %>
        </div>
  
  <%= paginate @images, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  <br/>
  <br/>
</div>
<%= javascript_include_tag "justified.js" %>
<%= javascript_include_tag "select2.js" %>
<script type="text/javascript">
  var images = <%= @images.as_json.to_json.html_safe %>;

  $(document).ready(function() {
    var maxHeight = 100;
    if (images.length) {
      $('#imageContainer').empty().justifiedImages({
        images: images,
        rowHeight: maxHeight,
        maxRowHeight: 100,
        thumbnailPath: function(photo, width, height) {
          return photo.image_url;
        },
        getSize: function(photo) {
          return { width: photo.thumbnail_width, height: photo.thumbnail_height };
        },
        template: function(data) {
          var image;
          image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
          image += '<a href="' + data.redirect_to + '" data-turbolinks="false">';
          image += '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >';
          image += '</a>';
          image += '   <div class="photograph-image-details" style="display: block;">' + data.image_width + ' x ' + data.image_height + ' (' + data.aspectWidth + ':' + data.aspectHeight + ') ' + '</div>';
          image += '</div>';

          return image;
        },
        margin: 1
      });
    }
  });
</script>
