<%= content_for :page_title do %>


        <li class="breadcrumb-item active" aria-current="page">Image Bank</li>

<% end %>
<%= stylesheet_link_tag "image_bank.css" %>
<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 90%;">
            <%= paginate @images, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
            <% if (params[:q].present? and @images.blank?) %>
              <div class="blankslate blankslate-spacious">
                <%# Print all params without nil or blank space %>
                <% h = params[:q].as_json(@folder).keep_if {|k, v| v != nil and v != ""} %>
                <% search_params = [] %>
                <% h.each {|k, v| search_params << "#{k.split("_")[0]} containing \"#{v}\""} %>
                <h3>No images with <%= search_params.join(" and ") %> found</h3>
              </div>
            <% elsif @images.first.present? %>
              <div id="imageContainer"></div>
            <% else %>
              <div class="blankslate blankslate-spacious">
                <h3>No images uploaded yet.</h3>
                <p>Use the [+ Upload image] button on the top right.</p>
              </div>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <%= render partial: "images/form" %>
        <% if @account.images.present? %>
          <%= render partial: "images/search_form" %>
        <% end %>
		<!--<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %><h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>


<%= javascript_include_tag "justified.js" %>
<%= javascript_include_tag "JCrop.js" %>
<%= javascript_include_tag "select2.js" %>
<script type="text/javascript">
  var images = <%= @images.as_json(folder_id: @folder.present? ? @folder.id : nil).to_json.html_safe %>;

  $(document).on("turbolinks:load", function() {
    var maxHeight = 100;
    if (images.length) {
      $('#imageContainer').empty().justifiedImages({
        images: images,
        rowHeight: maxHeight,
        maxRowHeight: 100,
        thumbnailPath: function(photo, width, height) {
          return photo.image_url;
        },
        getSize: function(photo) {
          return { width: photo.thumbnail_width, height: photo.thumbnail_height };
        },
        template: function(data) {
          var image;
          image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
          image += '<a href="' + data.redirect_to + '" data-turbolinks="false">';
          image += '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >';
          image += '</a>';
          image += '   <div class="photograph-image-details" style="display: block;">' + data.image_width + ' x ' + data.image_height + ' (' + data.aspectWidth + ':' + data.aspectHeight + ') ' + '</div>';
          image += '</div>';

          return image;
        },
        margin: 1
      });
    }
  });
</script>
