<% w = @image.image_width %>
<% h = @image.image_height %>

<div class="row-fluid" style="background: #fafbfc; ">
  <div class="container" style="padding-left: 0px; padding-right: 0px;">
    <br/>
    <div class="row"  style="padding-left: 0px; padding-right: 0px;">
      <div class="col-10">
          <ol class="breadcrumb" style="background: transparent; padding-left: 0px; margin-bottom: 0px;">
            <li class="breadcrumb-item"><%= link_to @account.username, @account %></li>
            <li class="breadcrumb-item active"><%= link_to "Image Bank", account_images_path(@account) %></li>
          </ol>
        <h1 style="margin-bottom: 20px; font-weight: 400; margin-top: 0px;">
          <%= @image.name %>
          </h1>
        </div>
      </div>
    </div>
  </div>
<br/>
<br/>

<div class="container" style="max-height: 600px; overflow: auto;" >
  <div class='row' style="background: #efefef; text-align: center;">
    <div class='col-sm-12'>
        <!-- <span class="oi" data-glyph="copywriting"></span> -->
      <div class='mx-auto'>
        <a href="<%= @image.original_image.image_url %>" target="_blank">
          <img src="<%= @image.original_image.image_url %>" class="img-responsive"> <!-- class='mx-auto' style="height: 350px; width: initial !important;" -->
        </a>
        <div class="photograph-image-details" style="display: block;"><%= "#{w} x #{h} (#{w / w.gcd(h)} : #{h / w.gcd(h)})"%></div>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <a id="openFileUpload" class='btn btn-primary' href='#' data-toggle='modal' data-target='#imageCropperModal'>Crop original image to create variation</a>
    <div class="col-sm-12">
      <div style="position: relative;">
        <% if @image.image_variation.present? %>
            <br/><br/>
          <h3 class="protograph-image-form-heading">Variations</h3>
        <% end %>
      </div>
      <% if @image.image_variation.present? %>
        <div id="variationImages"></div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  <% if @image.image_variation.present? %>
    var images = <%= @image.image_variation.as_json.to_json.html_safe %>;
  <% end %>

  $(document).ready(function(){
    <% if @image.image_variation.present? %>
      var maxHeight = 75;
      $('#variationImages').empty().justifiedImages({
        images : images,
        rowHeight: maxHeight,
        maxRowHeight: 75,
        thumbnailPath: function(photo, width, height){
          return photo.image_url;
        },
        getSize: function(photo){
          return {width: photo.image_width, height: photo.image_height};
        },
        template: function (data) {
          var image;

          image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
          image +=    '<a class="protograph-popup-trigger" href="'+data.image_url+'" data-clipboard-text="'+data.image_url+'" target="_blank">';
          image +=    '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >';
          image +=    '</a>';
          image += '   <div class="photograph-image-details" style="display: block;">' + data.image_width + ' x ' + data.image_height + ' (' + data.aspectWidth + ':' + data.aspectHeight + ') ' + '</div>';
          image += '</div>';

          return image;
        },
        margin: 20
      });
    <% end %>
  })
</script>
<div class="modal" id="imageCropperModal"> <i class="close icon"></i>
  <%= render partial: "images/cropper", locals: {mode: nil} %>
</div>
<%= render partial: "images/cropper_js" %>
