<%= content_for :page_title do %>
        <li class="breadcrumb-item"><%= link_to "Image Bank", account_images_path(@account, folder_id: @folder.present? ? @folder.id : nil), "data-turbolinks"=> false %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= truncate(@image.name, length: 24, ommission: "..") %></li>
      
<% end %>
<% w = @image.image_width %>
<% h = @image.image_height %>

<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto;">
            <div class='mx-auto'>
                <a href="<%= @image.image_url %>" target="_blank">
                  <%= image_tag(@image.image_url, class: "img-responsive", id: "main_image")  %>
                </a>
                <div class="photograph-image-details" style="display: block;">
                  <%= "#{w} x #{h} (#{w / w.gcd(h)} : #{h / w.gcd(h)})"%>
                </div>
            </div>
            <br/>
            
            <div style="position: relative;">
              <% if @image.image_variation.present? %>
                <br/>
                <br/>
                <h3 class="protograph-image-form-heading">Variations</h3>
              <% end %>
            </div>
            <% if @image.image_variation.present? %>
              <div class="function" id="variationImages"></div>
            <% end %>
            <% if @image.colour_swatches.present? %>
              <div class="image-colours">
                <div class="function dominant">
                  <h3>Dominant Color</h3>
                  <% dom_colour =  @image.colour_swatches.dominant.first%>
                  <div class="swatch" title="<%= dom_colour.name %>" style="background-color: rgb(<%= dom_colour.red %>, <%= dom_colour.green %>, <%= dom_colour.blue %>);"></div>
                  <div class="function palette">
                    <h3>Palette</h3>
                    <div class="swatches">
                      <% @image.colour_swatches.palette.each do |colour| %>
                        <div class="swatch" title="<%= colour.name %>" style="background-color: rgb(<%= colour.red %>, <%= colour.green %>, <%= colour.blue %>);"></div>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
        <a id="openFileUpload" class='btn btn-sm btn-secondary' href='#' data-toggle='modal' data-target='#imageCropperModal'>Crop original image to create variation</a>
		<!--<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %><h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>

<script type="text/javascript">
<% if @image.image_variation.present? %>
  var images = <%= @image.image_variation.as_json.to_json.html_safe %>;
<% end %>

$(document).on("turbolinks:load", function() {
    <% if @image.image_variation.present? %>
    var maxHeight = 150;
    $('#variationImages').empty().justifiedImages({
        images: images,
        rowHeight: maxHeight,
        maxRowHeight: 150,
        thumbnailPath: function(photo, width, height) {
            return photo.image_url;
        },
        getSize: function(photo) {
            return { width: photo.image_width, height: photo.image_height };
        },
        template: function(data) {
            var image;
            image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
            image += (data.is_smart_cropped ? '<span class="label label-primary" style="z-index: 1000;position: absolute;background-color: #d9534f;">Smart Cropped</span>' : "");
            image += '<a class="protograph-popup-trigger" href="' + data.image_url + '" data-clipboard-text="' + data.image_url + '" target="_blank">';
            image += '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >';
            image += '</a>';
            image += '   <div class="photograph-image-details" style="display: block;">' + data.image_width + ' x ' + data.image_height + ' (' + data.aspectWidth + ':' + data.aspectHeight + ') ' + '</div>';
            image += '</div>';

            return image;
        },
        margin: 20
    });
    <% end %>
})
</script>

<%= render partial: "images/form" %>
<div class="modal" id="imageCropperModal"> <i class="close icon"></i>
    <%= render partial: "images/cropper", locals: {mode: nil} %>
</div>
<%= render partial: "images/cropper_js" %>
<style>
  .dominant .swatch {
    width: 6rem;
    height: 3rem;
    display: inline-block;
  }

  .swatches .swatch {
    width: 4rem;
    height: 2.7rem;
    display: inline-block;
  }

  .swatches {
    display: block;
    box-sizing: border-box;
  }

  .image-colours {
    text-align: center;
  }

  .function {
    margin-bottom: 1.5rem;
  }
</style>