<% w = @image.image_width %>
<% h = @image.image_height %>
<div class="container" style="max-height: 600px; overflow: auto;" >
  <div class="row">
    <div class='col-sm-12'>
      <div class="col-sm-3 float-left">
        <h4><%= @image.name %></h4>
      </div>
      <div class="col-sm-4 float-right" style='text-align: right'>
        <a id="openFileUpload" class='btn btn-outline' href='#' data-toggle='modal' data-target='#imageCropperModal'>Crop original image to create variation</a>
      </div>
    </div>
  </div>
  <div class='one-br-space'></div>
  <div class='one-br-space'></div>
  <div class='row'>
    <h3 class="protograph-image-form-heading">Original Image</h3>
    <div class='one-br-space'></div>
    <div class='one-br-space'></div>
    <div class="row" style="background: #efefef; position:relative; width:100%">
      <div class='col-sm-2'></div>
      <div class='col-sm-8'>
          <!-- <span class="oi" data-glyph="copywriting"></span> -->
        <div class='mx-auto'>
          <a class="ui right corner label" id="copyToClipboard" data-clipboard-text="<%= @image.original_image.image_url %>" data-content="Copied">
          </a>
          <img src="<%= @image.original_image.image_url %>" class='mx-auto' style="height: 350px; width: initial !important;">
          <div class="photograph-image-details" style="display: block;"><%= "#{w} x #{h} (#{w / w.gcd(h)} : #{h / w.gcd(h)})"%></div>
        </div>
      </div>
      <div class='col-sm-2'></div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div style="position: relative;">
        <% if @image.image_variation.present? %>
          <h3 class="protograph-image-form-heading">Variations</h3>
        <% end %>
      </div>
      <% if @image.image_variation.present? %>
        <div id="variationImages"></div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  <% if @image.image_variation.present? %>
    var images = <%= @image.image_variation.as_json.to_json.html_safe %>;
  <% end %>

  $(document).ready(function(){
    <% if @image.image_variation.present? %>
      var maxHeight = 75;
      $('#variationImages').empty().justifiedImages({
        images : images,
        rowHeight: maxHeight,
        maxRowHeight: 75,
        thumbnailPath: function(photo, width, height){
          return photo.image_url;
        },
        getSize: function(photo){
          return {width: photo.image_width, height: photo.image_height};
        },
        template: function (data) {
          var image;

          image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
          image +=    '<a class="ui right corner label protograph-popup-trigger" data-clipboard-text="'+data.image_url+'" data-content="Copied" >';
          image +=      '<i class="copy icon"></i>'
          image +=    '</a>';
          image +=    '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >';
          image += '   <div class="photograph-image-details" style="display: block;">' + data.image_width + ' x ' + data.image_height + ' (' + data.aspectWidth + ':' + data.aspectHeight + ') ' + '</div>';
          image += '</div>';

          return image;
        },
        margin: 20,
        afterRenderCallback: function() {
          new Clipboard('.protograph-popup-trigger', {
            target: function(trigger) {
              return trigger;
            }
          });

          $('.protograph-popup-trigger').popup({
            on: 'click',
            position: 'top center',
            onVisible: function (e) {
              setTimeout(function() {
                $(e).popup('hide');
              }, 250);
            }
          });
        }
      });
    <% end %>


    new Clipboard('#copyToClipboard', {
      target: function(trigger) {
        return trigger;
      }
    });

    $('#copyToClipboard').popup({
      on: 'click',
      position: 'top center',
      onVisible: function (e) {
        setTimeout(function() {
          $(e).popup('hide');
        }, 250);
      }
    });
  })
</script>
<div class="modal" id="imageCropperModal"> <i class="close icon"></i>
  <%= render partial: "images/cropper", locals: {mode: nil} %>
</div>
<%= render partial: "images/cropper_js" %>
