<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 540px;">
            <h2>Admin: User Sessions</h2>
            <hr/>
            <table class="table">
              <tbody>
                <% @user_sessions.each do |s| %>
                  <tr>
                    <td style="border: 0px;">
                      <%= image_tag avatar_url(s.user.email), size: "16x16", class: "rounded" %>
                    </td>
                    <td style="border: 0px;">
                        <%= s.ip %>
                    </td>
                    <td style="border: 0px;">
                        <%= "Country: #{s.location_country}" %>
                        <br/>
                        <p class='hint'><%= "#{s.location_state} #{s.location_city. present? ? ", #{s.location_city}" : ""}"%></p>
                    </td>
                  </tr>
                <% end %>
            </table>
            <%= paginate @user_sessions, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
        </div>
    </div>
    <div class="col-sm-3 help-text">
        <!--<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %><h2>Email Settings</h2>
        <p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
        <p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
    </div>
</div>
