<div class="steps-navigation-bar fixed-top">
	<div class="current-page-title">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <% if @site.present? %>
                    <% if controller_name != "sites" %>
                        <li class="breadcrumb-item"><%= link_to @site.domain.downcase, account_site_path(@account, @site), "data-turbolinks"=> false %></li>
                    <% end %>
                    <% if @folder.present? and @folder.id.present? %>
                        <li class="breadcrumb-item"><%= link_to truncate(folder_name_trunc_(@folder), length: 24, ommission: ".."), account_site_folder_view_casts_path(@account, @site, @folder), "data-turbolinks"=> false %></li>
                    <% end %>
                <% end %>
                <%= yield :page_title %>
            </ol>
        </nav>
    </div>
	<div class="steps-to-build-page">
		<ul class="nav justify-content-end">
            <%= yield :page_navigation %>
                <% if controller_name == "view_casts" and action_name == "index" %></li>
                    <li>
                        <button class="btn btn-sm btn-secondary btn-sm" type="button">
                            <%= link_to '+ Add a card', new_account_site_folder_view_cast_path(@account, @site, @folder), data: {turbolinks: false} %>
                        </button>
                    </li>
                <% elsif controller_name == "stories" and action_name == "index" %>
                    <form class="form-inline my-2 my-lg-0"><li><%= render partial: "stories/new" %></li></form>
                <% elsif controller_name == "images" %>
                    <li>
                        <button class="btn btn-sm btn-secondary btn-sm" type="button">
                          <%= link_to '+ Upload an image', "#",id: "upload_image_button", "data-toggle" => "modal", "data-target" => "#fileUploadModal" %>
                        </button>
                    </li>
                    <script type="text/javascript">
                        $(document).on('turbolinks:load', function(){
                            $('#fileUploadModal').appendTo("body");
                        })
                    </script>
                <% end %>

		</ul>
	</div>
</div>

<% content_for :page_navigation do %>
    <li><button type="button" class="btn btn-sm btn-secondary btn-sm">Small button</button></li>
<% end %>






