<% if !@on_an_account_page %>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" style="padding-left: 0px;">
            <a class="navbar-brand" href=<%= @on_an_account_page ? account_site_path(@account, @site) : root_url %>>
              <%=  image_tag("proto-logo.png", style: "margin-top: 4px; height: 30px; margin-bottom: 20px;", class: "d-inline-block align-top") %>
            </a>
        </div>
    </nav>
    <div class="bottom-aligned">
<% else %>
    <% if @site.present? %>
        <% if !is_admins_controller or (controller_name != 'accounts' and ['new','create'].include?(action_name)) %>
            <div class="dropdown show vertical-selection-dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black !important;">
                  <%= truncate @site.domain, length: 15, ommission: ".." %>
                </a>
              <% if @accounts.count > 1 %>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <% @accounts.each do |a| %>
                          <%= link_to "#{a.username}: #{a.site.domain}", account_site_path(a, a.site), class: "dropdown-item" %>
                      <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
    	<% if @folder.present? and @folder.id.present? %>
            <span class="text-uppercase">create</span>
            <div class="list-group list-group-flush">
              <% if @folder.present? and @folder.id.present? %>
                  <%= link_to "Cards", account_site_folder_view_casts_path(@account, @site, @folder), class: controller_name == "view_casts" ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action", "data-turbolinks"=> false %>
                  <% if @folder.vertical.present? and @folder.is_for_stories %>
                      <%= link_to "Stories", account_site_stories_path(@account, @site, folder_id: @folder.id), class: (controller_name == "stories" and action_name != "manager") ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action", "data-turbolinks"=> false %>
                  <% end %>
              <% end %>
            </div>
        <% end %>
        <div class="bottom-aligned">
            <span class="text-uppercase">Site</span>
        	<div class="list-group list-group-flush">
              <%= link_to "Image Bank", account_images_path(@account, folder_id: @folder.present? ? @folder.id : nil), "data-turbolinks"=> false, class: (controller_name == "images") ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" %>
              <%= link_to "Page Builder", manager_account_site_pages_path(@account, @site, folder_id: @folder.present? ? @folder.id : nil), "data-turbolinks"=> false, class: @is_page_builder ? "list-group-item active list-group-item-action" : "list-group-item list-group-item-action" %>
              <%= link_to "Site Admin", account_site_admins_path(@account, @site), "data-turbolinks"=> false, class: @is_admin ? "list-group-item active list-group-item-action" : "list-group-item list-group-item-action" %>
            </div>
            <span class="text-uppercase">Me</span>
    <% end %>

<% end %>
<div class="btn-group dropup">
	  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <div class="user-image"><%= image_tag avatar_url(current_user.email), class: "rounded", style: "width: 30px;" %></div>
	  </button>
	  <div class="dropdown-menu">
        <%= link_to 'Profile', edit_user_path(current_user), class: "dropdown-item" %>
        <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
        <% if 1 == 2 %>
            <%= link_to "Audio Bank", account_audios_path(@account), "data-turbolinks"=> false, class: "dropdown-item"  %>
            <% if @site.present? %>
                  <% if controller_name == "folders" and @folder.id.present? and current_user.is_admin_from_pykih %>
                    <%= link_to "Add multiple cards", account_site_folder_uploads_path(@account, @site, @folder), "data-turbolinks"=> false, class: "dropdown-item", style: "color: gold;" %>
                    <%= link_to "Edit Folder", edit_account_site_folder_path(@account, @site, @folder),class: "dropdown-item", style: "color: gold;" %>
                  <% end %>
            <% end %>
            <% if current_user.is_admin_from_pykih %>
                <%= link_to 'Online users', admin_online_users_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
                <%= link_to "Ref: Publishers", ref_link_sources_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
            <% end %>
        <% end %>
	  </div>
	</div>
</div>