<ul class="navbar-nav ml-auto">
    <% if @site.present? %>
        <li><% link_to "Sourcing", nil, class: "nav-link active" %></li>
        <li class="nav-item"><% link_to "Produce Assets and Cards", nil, class: "nav-link" %></li>
        <li class="nav-item"><% link_to "Assemble Stories", nil, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Distribute", manager_account_site_pages_path(@account, @site), class: "nav-link" %></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag "glyphicons-138-cogwheels.png", style: "height: 16px;" %></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
               <%= link_to "Site Settings", edit_account_site_path(@account, @site), "data-turbolinks"=> false, class: "dropdown-item"  %>
               <%= link_to 'People', account_site_permission_invites_path(@account, @site), class: "dropdown-item" %>
               <%= link_to 'Categories', intersection_account_site_path(@account, @site), class: "dropdown-item" %>
            </div>
        </li>
    <% end %>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag avatar_url(current_user.email), class: "rounded", style: "width: 20px;" %>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <% if @on_an_account_page %>
            <h6 class="dropdown-header" style="font-size: 11px;">Account: <%= @account.username %></h6>
            <%= link_to "Account Owners", edit_account_path(@account), "data-turbolinks"=> false, class: "dropdown-item" %>
            <%= link_to "Image Bank", account_images_path(@account), "data-turbolinks"=> false, class: "dropdown-item"  %>
            <% if 1 == 2 %>
                <%= link_to "Audio Bank", account_audios_path(@account), "data-turbolinks"=> false, class: "dropdown-item"  %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if @site.present? %>
                  <% if controller_name == "folders" and @folder.id.present? and current_user.is_admin_from_pykih %>
                    <%= link_to "Add multiple cards", account_site_folder_uploads_path(@account, @site, @folder), "data-turbolinks"=> false, class: "dropdown-item", style: "color: gold;" %>
                    <%= link_to "Edit Folder", edit_account_site_folder_path(@account, @site, @folder),class: "dropdown-item", style: "color: gold;" %>
                  <% end %>
            <% end %>
            <h6 class="dropdown-header" style="font-size: 11px;">Me</h6>
        <% end %>      
        <%= link_to 'Profile', edit_user_path(current_user), class: "dropdown-item" %>
        <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
        <% if current_user.is_admin_from_pykih %>
            <%= link_to 'Online users', admin_online_users_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
            <%= link_to "Ref: Publishers", ref_link_sources_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
        <% end %>
    </div>
  </li>
</ul>