<% if !@on_an_account_page %>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" style="padding-left: 0px;">
            <a class="navbar-brand" href=<%= @on_an_account_page ? account_site_path(@account, @site) : root_url %>>
              <%=  image_tag("proto-logo.png", style: "margin-top: 4px; height: 30px; margin-bottom: 20px;", class: "d-inline-block align-top") %>
            </a>
        </div>
    </nav>
<% else %>
<div class="folders_sidebar">
    
    


        <ul class="navbar-nav" style="margin-top: 10px;">
            <% if @site.present? %>
                <% if !is_admins_controller or (controller_name != 'accounts' and ['new','create'].include?(action_name)) %>
                    <% if @accounts.count > 1 %>        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              
                              <h6 class="sidebar-head"><%= truncate @site.name, length: 15, ommission: ".." %></h6>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <% @accounts.each do |a| %>
                                    <%= link_to "#{a.username}: #{a.site.name}", account_site_path(a, a.site), class: "dropdown-item" %>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
        </ul>

    
    
    
        <% if @site.present? %>
            <ul>
            <% if @folder.present? and @folder.id.present? %>                
                <li class="<%=controller_name == "view_casts" ? "active" : nil%>"><%= link_to "Cards", account_site_folder_view_casts_path(@account, @site, @folder) %></li>
                <% if @folder.vertical.present? and @folder.is_for_stories %>
                    <li class="<%=(controller_name == "pages" and action_name != "manager") ? "active" : nil %>"><%= link_to "Stories", account_site_pages_path(@account, @site, folder_id: @folder.id) %></li>
                <% end %>
            <% end %>
            <li class="<%=(controller_name == "pages" and action_name == "manager") ? "active" : nil %>"><%= link_to "Pages", manager_account_site_pages_path(@account, @site) %></li>
            <li class="<%=(controller_name == "images") ? "active" : nil %>"><%= link_to "Images", account_images_path(@account) %></li>
            </ul>
        <% end %>
    
    
    
      
      <% if @folder.present? and @folder.id.blank? %>
          <span style="float: right; font-weight: 400; font-size: 14px;">
              <%= link_to image_tag("glyphicons-191-plus-sign.png", height: "15px"), new_account_site_folder_path(@account, @site) %>
          </span>
      <% end %>
      <div class="list-title channels" style="padding-top: 0px; margin-top: 0px; line-height: 1em; margin-bottom: 10px;">FILTER w/ FOLDERS</div>
      <ul>
          <% @folders.each do |folder| %>
              <li class="<%= (@folder.present? and folder.id == @folder.id) ? "active" : nil %>"><%= link_to truncate(folder_name_trunc_(folder), length: 24, ommission: ".."), account_site_folder_view_casts_path(@account, @site, folder) %></li>
          <% end %>
      </ul>
</div>
        
<% end %>