<% if !user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar bg-light">
        <div class="container proto-container" style="padding-left: 0px;">
            <a class="navbar-brand" href=<%= root_url %>>
              <%=  image_tag("icfj.png", style: "height: 25px; margin-top: 0px;", class: "d-inline-block align-top rounded") %>
              <%=  image_tag("proto-logo.png", style: "height: 25px; margin-top: 0px;", class: "d-inline-block align-top") %>
            </a>
        </div>
    </nav>
<% else %>
    <% if @on_an_account_page %>
      <nav class="navbar navbar-expand-lg navbar bg-light">
        <div class="bootstrap-container container" style="padding-left: 0px;">
          <a class="navbar-brand" href=<%= account_path(@account) %>>
            <%=  image_tag("icfj.png", style: "height: 25px; margin-top: 0px;", class: "d-inline-block align-top rounded") %>
            <%=  image_tag("proto-logo.png", style: "height: 25px; margin-top: 0px;", class: "d-inline-block align-top") %>
          </a>
            <ul class="navbar-nav mr-auto" style="margin-left: 0px !important; margin-right: auto;">
              <%= render partial: "layouts/dropdown_teams" %>
              <% if @folder.present? and @folder.id.present? %>
                <li class="nav-item">
                  <a class="nav-link">/</a>
                </li>
                <li class="nav-item">
                  <%= link_to @folder.name, account_folder_path(@account, @folder), class: "nav-link" %>
                </li>
                <% if controller_name == "streams" %>
                  <li class="nav-item"><a class="nav-link">/</a></li>
                  <li class="nav-item"><%= link_to "Streams", account_folder_streams_path(@account, @folder), class: "nav-link"%></li>
                <% elsif controller_name == "view_casts" %>
                  <li class="nav-item"><a class="nav-link">/</a></li>
                  <li class="nav-item"><%= link_to "Cards", account_folder_view_casts_path(@account, @folder), class: "nav-link"%></li>
                <% elsif controller_name == "articles" %>
                  <li class="nav-item"><a class="nav-link">/</a></li>
                  <li class="nav-item"><%= link_to "Prepare articles", account_folder_articles_path(@account, @folder), class: "nav-link"%></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="navbar-nav ml-auto">
                  <% if @folder.present? and @folder.id.present? and !@folder.is_trash %>
                      <% if controller_name == "view_casts" and action_name != "new" %>
                        <li class="nav-item"><%= link_to '+ Add a card', new_account_folder_view_cast_path(@account, @folder), data: {turbolinks: false}, class: "nav-link btn btn-sm btn-primary", style: "margin-top: 5px;" %></li>
                      <% elsif controller_name == "streams" and action_name != "new"  %>
                        <li class="nav-item"><%= link_to '+ Add a stream', new_account_folder_stream_path(@account, @folder), data: {turbolinks: false}, class: "nav-link btn btn-sm btn-primary", style: "margin-top: 5px;" %></li>
                      <% elsif controller_name == "articles" and action_name != "new"  %>
                        <li class="nav-item"><%= link_to '+ Prepare an article', new_account_folder_article_path(@account, @folder), data: {turbolinks: false}, class: "nav-link btn btn-sm btn-primary", style: "margin-top: 5px;" %></li>
                      <% end %>
                  <% elsif controller_name == "images" and action_name != "new"  %>
                      <li class="nav-item"><%= link_to '+ Upload an image', "#", class: "nav-link btn btn-sm btn-primary",style: "margin-top: 5px;", "data-toggle" => "modal", "data-target" => "#fileUploadModal" %></li>

                      <%= render partial: "images/form" %>
                  <% end %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <% if @account.logo_image_id.present? %>
                        <%= image_tag(@account.logo_image.original_image.image_url, class: "rounded", style: "width: 20px;", alt: @account.username) %>
                      <% else %>
                        <%= image_tag("account.png", class: "rounded", style: "width: 20px;", alt: @account.username) %>
                      <% end %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <% if controller_name == "folders" and @folder.id.present? and current_user.is_admin_from_pykih %>
                        <%= link_to "Add multiple cards", account_folder_uploads_path(@account, @folder), "data-turbolinks"=> false, class: "dropdown-item" %>
                      <% end %>
                      <%= link_to "Image Bank", account_images_path(@account), "data-turbolinks"=> false, class: "dropdown-item"  %>
                      <%= link_to "Team Settings", edit_account_path(@account), class: "dropdown-item" %>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= image_tag avatar_url(current_user.email), class: "rounded", style: "width: 20px;" %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <% if current_user.is_admin_from_pykih %>
                        <%= link_to 'Online users', online_users_path, class: "dropdown-item" %>
                      <% end %>
                      <%= link_to 'Settings', edit_user_registration_path(@account), class: "dropdown-item" %>
                      <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
                    </div>
                  </li>
                </ul>
          </div>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar bg-light">
        <div class="container" style="padding-left: 0px;">
          <a class="navbar-brand" href=<%= root_url %>>
            <%=  image_tag("_logo.png", style: "width: 30px;", class: "d-inline-block align-top") %>
          </a>
            <ul class="navbar-nav mr-auto" style="margin-left: 0px !important; margin-right: auto;">
                <%= render partial: "layouts/dropdown_teams" %>
            </ul>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag avatar_url(current_user.email), class: "rounded", style: "width: 20px;" %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% if current_user.is_admin_from_pykih %>
                    <%= link_to 'Online users', online_users_path, class: "dropdown-item" %>
                  <% end %>
                  <%= link_to 'Profile', edit_user_registration_path(@account), class: "dropdown-item" %>
                  <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
                </div>
              </li>
            </ul>
        </div>
      </nav>
    <% end %>
<% end %>
