<div style="width: 1030px; margin-left: auto; margin-right: auto;">
    <% if user_signed_in? %>
  <div class="ui menu clear" style="border-bottom: 1px lightgray solid">
    <div class="item"><%= image_tag "logo.png" %></div>
    <% if @on_an_account_page %>
        <div class="item"><%= @account.username %></div>
    <% end %>
    <div class="right menu">
      <div class="ui dropdown pointing item">
        <%= image_tag avatar_url(current_user.email), class: "ui avatar image" %>
        <div class="menu">
          <%= link_to 'Your accounts', accounts_path, class: "item" %>
          <div class="divider"></div>
          <%= link_to 'Profile', edit_user_registration_path(@account), class: "item" %>
          <%= link_to "Sign out", destroy_user_session_path, class: "item" %>
        </div>
      </div>
      <% if @on_an_account_page %>
          <div class="ui dropdown pointing item">
            <div class="text">
              <% if @on_an_account_page %>
                <%= image_tag avatar_url(@account.gravatar_email), class: "ui avatar image" %>
              <% end %>
            </div>
            <div class="menu">
              <%= link_to "Settings", account_path(@account), class: "item" %>
              <% if current_user.is_admin_from_pykih %>
                <%= link_to "Templates", account_template_cards_path(@account), class: "item" %>
              <% end %>
            </div>
      <% end %>
    </div>
    </div>
  </div>
  <% else %>
  <div class="ui secondary menu" style="border-bottom: 1px lightgray solid">

    <%= link_to image_tag("logo.png"), root_url, class: "item" %>
    <div class="right menu">
      <%- if controller_name != 'sessions' %>
      <%= link_to "Get in", new_session_path(resource_name), class: "item" %>
      <% end -%>
    </div>
  </div>
  <% end %>
  <br/>
  <% if notice.present? %>
    <div class="ui column centered grid">
       <p style="color: green;"><%= notice %></p>
    </div>
  <% end %>
</div>
<br/>