<ul class="navbar-nav ml-auto float-right">
</ul>
<ul class="navbar-nav ml-auto float-right">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag avatar_url(current_user.email), class: "rounded", style: "width: 20px;" %>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <% if 1 == 2 %>
                <%= link_to "Audio Bank", account_audios_path(@account), "data-turbolinks"=> false, class: "dropdown-item"  %>
            <% end %>
            <% if @site.present? %>
                  <% if controller_name == "folders" and @folder.id.present? and current_user.is_admin_from_pykih %>
                    <%= link_to "Add multiple cards", account_site_folder_uploads_path(@account, @site, @folder), "data-turbolinks"=> false, class: "dropdown-item", style: "color: gold;" %>
                    <%= link_to "Edit Folder", edit_account_site_folder_path(@account, @site, @folder),class: "dropdown-item", style: "color: gold;" %>
                  <% end %>
            <% end %>
        <%= link_to 'Profile', edit_user_path(current_user), class: "dropdown-item" %>
        <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
        <% if current_user.is_admin_from_pykih %>
            <%= link_to 'Online users', admin_online_users_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
            <%= link_to "Ref: Publishers", ref_link_sources_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
        <% end %>
    </div>
  </li>
</ul>

<% content_for :filters_sidebar do %>
    <% if @site.present? %>
        <% if controller_name == "view_casts" %>
            <%= link_to '+ Add a card', new_account_site_folder_view_cast_path(@account, @site, @folder), data: {turbolinks: false}, class: "btn btn-sm btn-primary", style: "margin-top: 5px;" %>
        <% elsif controller_name == "pages" and action_name == "index" %>
            <%= link_to '+ Add a story', new_account_site_page_path(@account, @site, folder_id: @folder.id), data: {turbolinks: false}, class: "btn btn-sm btn-primary", style: "margin-top: 5px;" %>
        <% elsif controller_name == "images" %>
            <%= link_to '+ Upload an image', "#",id: "upload_image_button" ,class: "btn btn-sm btn-primary",style: "margin-top: 5px;", "data-toggle" => "modal", "data-target" => "#fileUploadModal" %>

            <script type="text/javascript">
                $(document).on('turbolinks:load', function(){
                    $('#fileUploadModal').appendTo("body");
                })
            </script>
        <% end %>
    <% end %>
<% end %>