<div class="proto-sidebar">
    <div class="row">
        <div class="col-sm-16">
            <%= image_tag "proto-light.png", height: "30px" %>
            <span class="spanadd">
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color: gray !important; font-size: 11px;">
                    <%= image_tag avatar_url(current_user.email), class: "rounded", style: "width: 30px;" %>
                  </a>
                  <div class="dropdown-menu">
                    <%= link_to 'Profile', edit_user_path(current_user), class: "dropdown-item" %>
                    <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
                    <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
                    <% if current_user.is_admin_from_pykih %>
                        <%= link_to 'Ref: Link Sources', ref_link_sources_path, class: "dropdown-item", style: "font-size: 10px;" %>
                        <%= link_to "Admin: User Sessions", admin_user_sessions_path, class: "dropdown-item", style: "font-size: 10px;" %>
                    <% end %>
                  </div>
                </div>
            </span>
        </div>
    </div>
    <% if @site.present? %>
        <h1 class="list-title sidebar-head">
            <div class="dropdown show vertical-selection-dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important;"><%= truncate @site.domain, length: 15, ommission: ".." %></a>
                <% if @accounts.count > 1 %>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <% @accounts.each do |a| %>
                            <%= link_to "#{a.username}: #{a.site.domain}", account_site_path(a, a.site), class: "dropdown-item", style: "text-align: left;" %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </h1>
        <ul>
            <li class="<%= @is_admin ? "active" : nil %>">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 12px; color: gray;">Site Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "Settings", edit_account_site_path(@account, @site), class: "dropdown-item" %>
                    <%= link_to "Integrations", integrations_account_site_path(@account, @site), class: "dropdown-item" %>
                    <%= link_to "Manage members", account_site_permission_invites_path(@account, @site), class: "dropdown-item" %>
                    <%= link_to "Editorial planning", intersections_account_site_path(@account, @site), class: "dropdown-item" %>
                </div>
            </li>
            <li class="<%= controller_name == "images" ? "active" : nil %>">
                <%= link_to "Image Bank", account_images_path(@account), "data-turbolinks"=> false %>
            </li>
        </ul>
        <div class="list-title channels"><%= link_to "SECTIONS", sections_account_site_path(@account, @site), style: "color: white;" %> <span>(<%=@all_vertical_count%>)</span> <span class="spanadd"><%= link_to image_tag("add.png", size: "18"), sections_account_site_path(@account, @site) %></span></div>
        <ul>
            <% @all_verticals.each do |ref_category| %>            
                <% d = ref_category.vertical_page %>
                <li class="<%= (@ref_category.present? and @ref_category.id.present? and @ref_category.id == ref_category.id) ? "active" : nil %>">
                    <% if d.present? %>
                        <%= link_to "# " + ref_category.name, edit_account_site_page_path(@account, @site, d, folder_id: @folder.present? ? @folder.id : nil), "data-turbolinks"=> false %>
                    <% else %>
                        <%= "# " + ref_category.name %>
                    <% end %>
                </li>    
            <% end %>
        </ul>
        <div class="list-title direct-message"><%= link_to "WORKSPACES", account_site_folders_path(@account, @site), style: "color: white;" %> <span>(<%=@all_workspaces_count%>)</span> <span class="spanadd"><%= link_to image_tag("add.png", size: "18"), new_account_site_folder_path(@account, @site), data: {turbolinks: false}%></span></div>
        <ul>
            <% @all_workspaces.each do |folder| %>            
                <li class="<%= (@folder.present? and @folder.id.present? and @folder.id == folder.id) ? "active" : nil %>">
                    <%= link_to folder_name_(folder).html_safe, account_site_folder_view_casts_path(@account, @site, folder) %>
                    <span class="spanadd">(<%= folder.view_casts.count + folder.pages.count %>)</span>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>