<div class="proto-sidebar">
    <div class="row">
        <div class="col-sm-7">
            <%= image_tag "proto-light.png", height: "18px" %>
        </div>
        <div class="col-sm-6">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: gray !important; font-size: 11px;">
                      Switch Site
                </a> 
              <% if @accounts.count > 1 %>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <% @accounts.each do |a| %>
                          <%= link_to "#{a.username}: #{a.site.domain}", account_site_path(a, a.site), class: "dropdown-item", style: "text-align: left;" %>
                      <% end %>
                  </div>
              <% end %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color: gray !important; font-size: 11px;">
                <%= image_tag avatar_url(current_user.email), class: "rounded", style: "width: 15px;" %>
              </a>
              <div class="dropdown-menu">
                <%= link_to 'Profile', edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
                <% if current_user.is_admin_from_pykih %>
                    <%= link_to 'Ref: Link Sources', ref_link_sources_path, class: "dropdown-item" %>

                    <%= link_to "Admin: User Sessions", admin_user_sessions_path, class: "dropdown-item" %>
                <% end %>
              </div>
            </div>
        </div>
    </div>
    <% if @site.present? %>
        <h1 class="list-title sidebar-head">
            <div class="dropdown show vertical-selection-dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important;"><%= truncate @site.domain, length: 15, ommission: ".." %></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "Site Settings", nil, class: "dropdown-item" %>
                    <%= link_to "Theming", nil, class: "dropdown-item" %>
                    <%= link_to "Integrations", site_integrations_account_site_admins_path(@account, @site), class: "dropdown-item" %>
                    <%= link_to "Invite People", nil, class: "dropdown-item" %>
                    <%= link_to "Editorial Planning", intersection_account_site_path(@account, @site), class: "dropdown-item" %>
                </div>
            </div>
        </h1>
        <h2 class="list-title profile-name">
          <div class="admin-dropdown">
          
          </div>
        </h2>
        <div class="list-title channels">SECTION <span>(<%=@all_vertical_count%>)</span> <span class="spanadd"><%= image_tag "add.png", size: "18"%></span></div>
        <ul><li># c-general</li></ul>
  
          <div class="list-title direct-message">WORKSPACES <span>(<%=@all_workspaces_count%>)</span> <span class="spanadd"><%= image_tag "add.png", size: "18"%></span></div>
  
          <ul>
              <% @all_workspaces.each do |w| %>
                  <li><%= w.name %></li>
              <% end %>
          </ul>
    <% end %>
</div>

<!-->@all_vertical-->
