<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProtoTYPE</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body data-turbolinks=<%= (controller_name == "view_casts" and ['new', 'edit'].include?(action_name)) ? "false" : "true" %>>
  <%= render partial: "layouts/header" %>
  <br/><br/>
  <div class="container protograph-container">
      <%= yield %>
  </div>
  <%= render partial: "layouts/footer" %>

      <% config = {} %>
      <% if notice.present? %>
        <% config = {text: notice, notify: "success"} %>
      <% end %>
      <% if alert.present? %>
        <% config = {text: alert, notify: "error"} %>
      <% end %>

  <script type="text/javascript">
    var notice = <%= config.to_json.html_safe %>;
    if (notice.notify) generate_notify(notice);
  </script>
</body>
</html>
