<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProtoTYPE</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="turbolinks-visit-control" content="reload">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body data-turbolinks=<%= (controller_name == "view_casts" and ['new', 'edit'].include?(action_name)) ? "false" : "true" %>>
  <div class="container-fluid" style="padding: 0px;">
      <div class="row" style="margin:0px;">
          <% if !user_signed_in? %>
              <div class="col-sm-16">
                  <br/><br/>
                  <%= yield %>
              </div>
          <% else %>
              <!-- <div class="col-xl-2" style="padding: 0px;">
                    <div class="cms-sidebar fixed-top">
                      <%#= render partial: "layouts/application_left" %>
                  </div>
              </div> -->
              <div class="col-xl-16" style="padding: 0px 1px;">
                  <div class="steps-navigation-bar fixed-top">
                      <%= render partial: "layouts/application_middle" %>
                  </div>
                  <br/><br/><br/><br/>
                  <div style="padding: 0px 20px; margin-bottom: 60px;"><%= yield %></div>
                  <%= yield(:filters_sidebar) %>
              </div>
          <% end %>
      </div>
  </div>




  <% config = {} %>
  <% if notice.present? %>
    <% config = {text: notice, notify: "success"} %>
  <% end %>
  <% if alert.present? %>
    <% config = {text: alert, notify: "error"} %>
  <% end %>

  <script type="text/javascript">
    var notice = <%= config.to_json.html_safe %>;
    if (notice.notify) generate_notify(notice);
  </script>
</body>
</html>
<!-- 

        <% if 1 == 2 %>
            <%= link_to "Audio Bank", account_audios_path(@account), "data-turbolinks"=> false, class: "dropdown-item"  %>
            <% if @site.present? %>
                  <% if controller_name == "folders" and @folder.id.present? and current_user.is_admin_from_pykih %>
                    <%= link_to "Add multiple cards", account_site_folder_uploads_path(@account, @site, @folder), "data-turbolinks"=> false, class: "dropdown-item", style: "color: gold;" %>
                    <%= link_to "Edit Folder", edit_account_site_folder_path(@account, @site, @folder),class: "dropdown-item", style: "color: gold;" %>
                  <% end %>
            <% end %>
            <% if current_user.is_admin_from_pykih %>
                <%= link_to 'Online users', admin_online_users_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
                <%= link_to "Ref: Publishers", ref_link_sources_path, class: "dropdown-item", class: "dropdown-item", style: "color: gold;" %>
            <% end %>
        <% end %>
-->