<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProtoTYPE</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body data-turbolinks=<%= (controller_name == "view_casts" and ['new', 'edit'].include?(action_name)) ? "false" : "true" %>>
  <div class="container-fluid" style="padding: 0px;">
      <div class="row">
          <% if !user_signed_in? %>
              <div class="col-sm-16">
                  <br/><br/>
                  <%= yield %>
              </div>
          <% else %>              
              <div class="col-xl-2" style="background: #B0BEC5; color: #546E7A; position: fixed; height: 100%; top: 0; left: 0;">
                  <nav class="navbar navbar-expand-lg">
                      <div class="container-fluid" style="padding-left: 0px;">
                          <a class="navbar-brand" href=<%= @on_an_account_page ? account_site_path(@account, @site) : root_url %>>
                            <%=  image_tag("proto-logo.png", style: "margin-top: 4px; height: 30px; margin-bottom: 20px;", class: "d-inline-block align-top") %>
                          </a>
                      </div>
                  </nav>
                  <%= render partial: "layouts/folders_sidebar" %>
              </div>
              <div class="col-xl-12" style="margin-left: 12.5%; padding: 10px;">
                  <nav class="navbar navbar-expand-lg" style="background: white; margin: 0px;">
                      <div class="container-fluid" style="padding-left: 0px;">
                          <%= render partial: "layouts/header_menu" %>
                      </div>
                  </nav>
                  <div style="padding: 20px 50px;">
                      <%= yield %>
                  </div>
              </div>
              <div class="col-xl-2" style="background: white; color: #546E7A; position: fixed; height: 100%; top: 0; right: 0;">
                  <nav class="navbar navbar-expand-lg">
                      <div class="container-fluid" style="padding-left: 0px;">
                          <%= render partial: "layouts/header_personal" %>
                      </div>
                  </nav>
                  <br/>
                  <%= yield(:filters_sidebar) %>
              </div>
          <% end %>
      </div>
  </div>




  <% config = {} %>
  <% if notice.present? %>
    <% config = {text: notice, notify: "success"} %>
  <% end %>
  <% if alert.present? %>
    <% config = {text: alert, notify: "error"} %>
  <% end %>

  <script type="text/javascript">
    var notice = <%= config.to_json.html_safe %>;
    if (notice.notify) generate_notify(notice);
  </script>
</body>
</html>