<!DOCTYPE html>
<html>
<head>
  <title>ProtoTYPE Docs</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    p{font-size: 12px;}
  </style>
</head>
<body style="background: #EDEDED;">
  <div style="width: 720px; margin-left: auto; margin-right: auto; background: white; padding: 0px 40px;">
    <div class="ui menu clear" style="border-bottom: 1px solid #EDEDED !important;">
      <div class="item">
        <%= link_to image_tag("_logo.png", class: "protograph-logo-image"), root_url %>
      </div>
      <div class="item"><strong>Docs</strong></div>
    </div>
    <br/>
    <%= yield %>
    <br/><br/><br/>
  </div>
</body>
</html>