<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProtoGraph / Pykih</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if Rails.env.production? %>
    <script>
      (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
      c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
      c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
      _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
      (window,document,"script","596080a8d5a5240f6400108d");
    </script>
  <% elsif Rails.env.staging? %>
    <script>
      (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
      c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
      c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
      _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
      (window,document,"script","596080a8d5a5240f6400108d");
    </script>
  <% end %>
</head>
<body data-turbolinks="<%= controller_name == "sessions" and action_name == "new" ? "false" : "true" %>">
  <%= render partial: "layouts/header" %>
  <div class="row">
    <% if content_for?(:banner_col_sm_8_left) or content_for?(:banner_col_sm_8_right) %>
      <div class="page-banner">
        <div class="proto-container">
          <div class="col-sm-8 no-padding-col">
            <%= yield :banner_col_sm_8_left %>
          </div>
          <div class="col-sm-8 no-padding-col">
            <%= yield :banner_col_sm_8_right %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="proto-container">
    <div class="br-space three-br-space"></div>
    <div class="row">
      <div class="col-sm-13">
        <div class="row">
          <div class="col-sm-9 content-col">
            <%= yield :proto_container_col_sm_9_content_col %>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <%= yield :proto_container_col_sm_3 %>
      </div>
    </div>
  </div>
  <%= render partial: "layouts/footer" %>

</body>
</html>