<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProtoTYPE</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="turbolinks-visit-control" content="reload">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body data-turbolinks=<%= (controller_name == "view_casts" and ['new', 'edit'].include?(action_name)) ? "false" : "true" %>>
    <div class="container-fluid" style="padding: 0px;">
        <div class="row" style="margin:0px;">
            <div class="col-xl-3" style="padding: 0px 1px;">
                <%= render partial: "layouts/z" %>
            </div>
            <div class="col-xl-11" style="padding: 0px 1px;">
                <div style="padding: 0px 20px; margin-bottom: 60px;"><%= yield %></div>
            </div>
            <div class="col-xl-4" style="padding: 0px 1px;">
                
            </div>
        </div>
    </div>
    
  <% config = {} %>
  <% if notice.present? %>
    <% config = {text: notice, notify: "success"} %>
  <% end %>
  <% if alert.present? %>
    <% config = {text: alert, notify: "error"} %>
  <% end %>

  <script type="text/javascript">
    var notice = <%= config.to_json.html_safe %>;
    if (notice.notify) generate_notify(notice);
  </script>
</body>
</html>