<div class="ten wide column">
  <h1 class="ui header">
    Your teams
  </h1>
  <br/>
  <div class="ui very relaxed list" style="width: 100% !important;">
    <% @accounts.each do |account| %>
    <div class="item">
      <%= image_tag avatar_url(account.gravatar_email), class: "ui avatar image" %>
      <div class="content">
        <div class="header">
          <h3><%= link_to account.username, account_path(account) %>
          <span style="float: right; font-weight: 400; font-size: 13px;">
              <%= current_user.permission_object(account.id).ref_role_slug.titleize %>
          </span>
          </h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br/>
  <div class="ui divider"></div>
  <br/>
  <%= simple_form_for @account do |f| %>
  <%= f.input :username, id: :account_username, hint: "Choose wisely. You cannot change it later." %>
  <%= f.submit "Create new Team", class: 'ui button' %>
  <% end %>
</div>