<div class="row">
<div class="col-sm-3">
    <%= render partial: "accounts/sidebar" %>
</div>
<div class="col-sm-9">
  <br/>
  <h1>Your teams</h1>
  <hr/>
  <table class="table">
      <tbody>
            <% @accounts.each do |account| %>
                <tr>
                  <td style="border: 0px;">
                    <%= image_tag (account.logo_image.nil? ?  "account" : account.logo_image.original_image.image_url), height: "20px", class: "rounded" %>
                    <%= link_to account.username, account_path(account) %>
                  </td>
                  <td style="border: 0px;"><%= current_user.permission_object(account.id).ref_role_slug.titleize %>
                  </td>
                </tr>
            <% end %>
      </tbody>
  </table>
</div>
<div class="col-sm-4">
  <br/>
  <br/>
  <br/>
  <%= simple_form_for @account do |f| %>
  <%= f.input :username, id: :account_username, hint: "Choose wisely. You cannot change it later." %>
  <%= f.submit "Create a new Team", class: "btn btn-sm btn-white" %>
  <% end %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>