<div class="row">
    <div class="col-sm-13">
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <%= simple_form_for @account do |f| %>
              <%= f.input :username, hint: "Choose wisely. You cannot change it later." %>
              <%= f.input :domain, required: true %>
              <%= f.input :coming_from_new, as: :hidden, input_html: {value: true} %>
              <%= f.button :submit, "Create a new team", class: "btn btn-sm" %>
            <% end %>
        </div>
    </div>
	<div class="col-sm-3 help-text">
		<!--<%= image_tag "help.png", style: "float: right; right: 0; top: 0; position: relative;" %><h2>Email Settings</h2>
		<p>Your default support email address is prototype@pro.to. Any email sent here gets automatically converted into a ticket that you can get working on.</p>
		<p>You can configure your Freshdesk account to use a support email in your own domain, like <a href="">support@mycompany.com</a> by forwarding emails from this address to <a href="">protoprototype@heyproto.freshdesk.com</a>. To create a new support email box, click “Edit” under global email settings.</p>-->
	</div>
</div>