<br/><br/>
<div class="row">
  <div class="col-8">
    <%= render partial: "activities/index" %>
  </div>
  <div class="col-4">
      <nav class="github-menu">
        <span class="github-menu-heading">
            Folders you contribute to
            <span style="float: right; font-weight: 400;">
                <a href="#" id="formAddButton">+ Add</a>
            </span>
        </span>
        <% @folders.each do |folder| %>
            <a href="<%= account_folder_path(@account, folder) %>" class="github-menu-item" style="font-size: 1.1em; background: #fffdef;">
                <%= folder.name.titleize %>
                <span class="count badge badge-secondary" style="font-size: 0.8em; font-weight: 200;">
                    <%= folder.view_casts.count + folder.streams.count %>
                </span>
            </a>
        <% end %>
      </div>
  </div>
</div>

<div class="ui mini modal" id="new-folder">
  <i class='close icon'></i>
  <div class="header">
    <%= (controller_name == 'folders' and ["edit", "update"].include?(action_name)) ? "Update the folder" : "Create a new folder" %>
  </div>
  <div class="content">
    <%= render partial: "folders/form" %>
  </div>
</div>

<script type="text/javascript">

$(document).on("turbolinks:load", function () {
  $("#formAddButton").unbind("click");
  $('#formAddButton').on('click',function (e) {
    event.preventDefault();
    $('#new-folder')
      .modal({
        closable: false,
      }).modal('show');
    })
});
</script>

<% if @open_modal %>
  <script type="text/javascript">
    $('#new-folder')
      .modal({
        closable: false,
        onHide: function(){
          window.location.href= "<%= account_path(@account) %>";
        }
      }).modal('show');
  </script>
<% end %>