<div class="sixteen wide column">
  <div class='ui huge header'><%= @account.username %></div>
  <div class='one-br-space'></div>
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>Name</th>
        <th>No. of Cards</th>
        <th>Last modified at</th>
        <th>Created by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @folders.each do |folder| %>
        <% if folder.id.present? %>
          <tr>
            <td>
              <i class='icon folder steelblue'></i>
              <%= link_to folder.name.titleize, [@account, folder] %>
            </td>
            <td>
              <%= "#{folder.view_casts.count} #{'card'.pluralize(folder.view_casts.count)}" %>
            </td>
            <td>
              <%= "#{time_ago_in_words(folder.updated_at)} ago" %>
            </td>
            <td>
              <%= folder.creator.name %>
            </td>
            <td  class='right aligned'>
              <%= link_to "Edit", edit_account_folder_path(@account, folder) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<button class="circular ui blue icon huge button" id="formAddButton" style="float:right;">
    <i class="inverted plus icon"></i>
  </button>
<%= render partial: "folders/form" %>
<script type="text/javascript">

$(document).on("turbolinks:load", function () {
  $('#formAddButton').on('click',function () {
    $('#new-folder')
      .modal({
        closable: false,
      }).modal('show');
    })
});
</script>

<% if @open_modal %>
  <script type="text/javascript">
    $('#new-folder')
      .modal({
        closable: false,
      }).modal('show');
  </script>
<% end %>