<style>
  .ui.middle.aligned.selection.list.account_switcher_item > .item{
    background: #303E4D !important;
    margin-bottom: 20px;
  }
  .ui.middle.aligned.selection.list.account_switcher_item > .item > a{
    background: #303E4D !important;
  }
  .ui.middle.aligned.selection.list.account_switcher_item > .item.active{
    background: #6698C8 !important;
    margin-bottom: 20px;
  }
  .ui.middle.aligned.selection.list.account_switcher_item > .item.active > a{
    background: #6698C8 !important;
  }
</style>
<div class="ui grid">
  <div class="one wide column" style="background: #303E4D;">
      <div class="ui middle aligned selection list account_switcher_item">
        <% @accounts.each do |account| %>
            <div class="<%= @account.username == account.username ? 'item active' : 'item' %>">
              <a href=<%= account_path(account) %> title=<%=account.username%>>
                <%= image_tag avatar_url(account.gravatar_email), class: "ui avatar image" %>
              </a>
            </div>
        <% end %>
      </div>
  </div>
  <div class="nine wide column">
      <div class="ui very relaxed divided list">
        <% @folders.each do |folder| %>
            <div class="item">
              <i class="large folder middle aligned icon"></i>
              <div class="content" style="width: 100% !important;">
                <div class="right floated content">
                <%= link_to "Edit", edit_account_folder_path(@account, folder), class: "hint" %>
              </div>
                <%= link_to folder.name.titleize, [@account, folder], class: "header" %>
                <div class="hint">
                  <%= "#{folder.view_casts.count} <span class='hint'>#{'card'.pluralize(folder.view_casts.count)}</span>".html_safe %>.
                  <%= "#{folder.streams.count} <span class='hint'>#{'stream'.pluralize(folder.streams.count)}</span>".html_safe %>.
                  <br/>
                  Updated <%= "#{time_ago_in_words(folder.updated_at)} ago" %> by <%= folder.updator.name %>.

                </div>
              </div>
            </div>
        <% end %>
      </div>
  </div>
</div>

<div class="ui mini modal" id="new-folder">
  <i class='close icon'></i>
  <div class="header">
    <%= (controller_name == 'folders' and ["edit", "update"].include?(action_name)) ? "Update the folder" : "Create a new folder" %>
  </div>
  <div class="content">
    <%= render partial: "folders/form" %>
  </div>
</div>

<script type="text/javascript">

$(document).on("turbolinks:load", function () {
  $("#formAddButton").unbind("click");
  $('#formAddButton').on('click',function (e) {
    event.preventDefault();
    $('#new-folder')
      .modal({
        closable: false,
      }).modal('show');
    })
});
</script>

<% if @open_modal %>
  <script type="text/javascript">
    $('#new-folder')
      .modal({
        closable: false,
        onHide: function(){
          Turbolinks.visit("<%= account_path(@account) %>")
        }
      }).modal('show');
  </script>
<% end %>