<style>
  .ui.middle.aligned.selection.list.account_switcher_item > .item{
    background: #303E4D !important;
    margin-bottom: 20px;
  }
  .ui.middle.aligned.selection.list.account_switcher_item > .item > a{
    background: #303E4D !important;
  }
  .ui.middle.aligned.selection.list.account_switcher_item > .item.active{
    background: #6698C8 !important;
    margin-bottom: 20px;
  }
  .ui.middle.aligned.selection.list.account_switcher_item > .item.active > a{
    background: #6698C8 !important;
  }
</style>
<div class="ui grid">
  <div class="one wide column" style="background: #303E4D;">
      <div class="ui middle aligned selection list account_switcher_item">
        <% @accounts.each do |account| %>
            <div class="<%= @account.username == account.username ? 'item active' : 'item' %>">
              <a href=<%= account_path(account) %>  title=<%=account.username%>>
                <%= image_tag avatar_url(account.gravatar_email), class: "ui avatar image" %>
              </a>
            </div>
        <% end %>
      </div>
  </div>
  <div class="fifteen wide column">
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>Folder Name</th>
            <th># Cards</th>
            <th># Streams</th>
            <th class="collapsing">Last modified at</th>
            <th>by</th>
            <th class="collapsing"></th>
          </tr>
        </thead>
        <tbody>
          <% @folders.each do |folder| %>
            <% if folder.id.present? %>
              <tr>
                <td>
                  <i class='icon folder steelblue'></i>
                  <%= link_to folder.name.titleize, [@account, folder] %>
                </td>

                <td>
                  <%= "#{folder.view_casts.count} <span class='hint'>#{'card'.pluralize(folder.view_casts.count)}</span>".html_safe %>
                </td>
                <td>
                  <%= "#{folder.streams.count} <span class='hint'>#{'stream'.pluralize(folder.streams.count)}</span>".html_safe %>
                </td>
                <td class="hint">
                  <%= "#{time_ago_in_words(folder.updated_at)} ago" %>
                </td>
                <td class="hint collapsing">
                  <%= folder.updator.name %>
                </td>
                <td  class='hint'>
                  <%= link_to "Edit", edit_account_folder_path(@account, folder) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
  </div>
</div>


<%= render partial: "folders/form" %>
<script type="text/javascript">

$(document).on("turbolinks:load", function () {
  $('#formAddButton').on('click',function () {
    $('#new-folder')
      .modal({
        closable: false,
      }).modal('show');
    })
});
</script>

<% if @open_modal %>
  <script type="text/javascript">
    $('#new-folder')
      .modal({
        closable: false,
      }).modal('show');
  </script>
<% end %>