<%= stylesheet_link_tag "justified.css" %>
<%= stylesheet_link_tag "JCrop.css" %>

<% w = @image_variation.image_width %>
<% h = @image_variation.image_height %>
<div class="row">
  <div class="col-2">
    <%= link_to("< Back", account_image_path(@account, @image), "data-turbolinks"=> false) %>
    <h5 class="ui header protograph-image-form-heading">Variation of</h5>
    <h1 class="ui header n-mt"><%= @image.name %></h1>
    <div class="one-br-space"></div>
    <div class="row">
      <div class="eight wide column">
        <h5 class="ui header protograph-image-form-heading">Dimension</h5>
        <div><%= "#{w} x #{h}" %></div>
      </div>
      <div class="eight wide column">
        <h5 class="ui header protograph-image-form-heading">Aspect ratio</h5>
        <div><%= w / w.gcd(h) %>:<%= h / w.gcd(h) %></div>
      </div>
    </div>
    <div class="one-br-space"></div>
    <h5 class="ui header protograph-image-form-heading">URL</h5>
    <div class="ui action input">
      <input type="text" value="<%= @image_variation.image_url %>" style="width: 300px;" id="copyToClipboardText">
      <button class="ui teal icon button" id="copyToClipboard" data-content="Copied" data-variation="basic">
        <i class="copy icon"></i>
      </button>
    </div>
    <div class="one-br-space"></div>
    <% if @image.tag_list.present? %>
      <h5 class="ui header protograph-image-form-heading">Tags</h5>
      <div><%= @image.tag_list.join(', ') %></div>
    <% end %>
  </div>
  <div class="ten wide column" style="background: #fafafa; max-height: 600px; overflow: auto;">
    <img class="ui centered image" src="<%= @image.original_image.image_url %>" style="height: 350px;">
    <div class="one-br-space"></div>
    <% if @image_variations.present? %>
      <h5 class="ui header">Other variations</h5>
      <div id="variationImages"></div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "JCrop.js" %>

<script type="text/javascript">
  <% if @image_variations.present? %>
    var images = <%= @image_variations.as_json.to_json.html_safe %>;
  <% end %>

  $(document).ready( function() {

    new Clipboard('#copyToClipboard', {
      target: function(trigger) {
        return document.getElementById('copyToClipboardText');
      }
    });

    <% if @image_variations.present? %>
      var maxHeight = 75;
      $('#variationImages').empty().justifiedImages({
        images : images,
        rowHeight: maxHeight,
        maxRowHeight: 75,
        thumbnailPath: function(photo, width, height){
          return photo.image_url;
        },
        getSize: function(photo){
          return {width: photo.image_width, height: photo.image_height};
        },
        template: function (data) {
          var image;

          image = '<div class="photo-container" style="height:' + data.displayHeight + 'px;margin-right:' + data.marginRight + 'px;">';
          image +=    '<a href="'+data.redirect_to+'" data-turbolinks="false">';
          image +=        '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >';
          image +=    '</a>';
          image += '   <div class="photograph-image-details" style="display: block;">' + data.image_width + ' x ' + data.image_height + '</div>';
          image += '</div>';

          return image;

          // return  + '<a href="'+data.redirect_to+'">' +
          //             '<img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" >' +
          //             '</a>'+
          //             '</div>';

          // var image = '<div class="photo-container" style="height:'+maxHeight+'px;margin-right:'+photo.marginRight+'px;">';
          // image += '<a href="/account/<%= @account.slug %>/images/'+photo.id+'">'
          // image += '<img class="image-thumb" src="' + photo.src + '" style="width: '+photo.displayWidth+'px; height: '+photo.displayHeight+'px; margin-top: -8.0235px;">';
          // image += '</a>';
          // image += '<div class="photograph-image-details">' +photo.displayWidth+ ' x ' +photo.displayHeight+ '</div>';
          // image += '</div>';
          // return image;
        },
        margin: 20
      });
    <% end %>



  });
</script>
